persistence/vuds/vuds02mar010.wsdl

<wsdl:definitions name="GestorWebserviceBeanService" targetNamespace="http://webservice.service.si.vuds.map.es/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
  <wsdl:types> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.service.si.vuds.map.es/" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
<xs:element name="cargarActividadesEconomicas" nillable="true" type="tns:cargarActividadesEconomicas" /> 
<xs:element name="cargarActividadesEconomicasResponse" nillable="true" type="tns:cargarActividadesEconomicasResponse" /> 
<xs:element name="cargarCanalesTramitacion" nillable="true" type="tns:cargarCanalesTramitacion" /> 
<xs:element name="cargarCanalesTramitacionResponse" nillable="true" type="tns:cargarCanalesTramitacionResponse" /> 
<xs:element name="cargarFormaIniciacion" nillable="true" type="tns:cargarFormaIniciacion" /> 
<xs:element name="cargarFormaIniciacionResponse" nillable="true" type="tns:cargarFormaIniciacionResponse" /> 
<xs:element name="cargarIdiomas" nillable="true" type="tns:cargarIdiomas" /> 
<xs:element name="cargarIdiomasResponse" nillable="true" type="tns:cargarIdiomasResponse" /> 
<xs:element name="cargarInstrumentosReclamacion" nillable="true" type="tns:cargarInstrumentosReclamacion" /> 
<xs:element name="cargarInstrumentosReclamacionResponse" nillable="true" type="tns:cargarInstrumentosReclamacionResponse" /> 
<xs:element name="cargarNormativas" nillable="true" type="tns:cargarNormativas" /> 
<xs:element name="cargarNormativasResponse" nillable="true" type="tns:cargarNormativasResponse" /> 
<xs:element name="cargarOrganismoCompetente" nillable="true" type="tns:cargarOrganismoCompetente" /> 
<xs:element name="cargarOrganismoCompetenteResponse" nillable="true" type="tns:cargarOrganismoCompetenteResponse" /> 
<xs:element name="cargarOrganizacionesAsistencia" nillable="true" type="tns:cargarOrganizacionesAsistencia" /> 
<xs:element name="cargarOrganizacionesAsistenciaResponse" nillable="true" type="tns:cargarOrganizacionesAsistenciaResponse" /> 
<xs:element name="cargarRecursosResolucion" nillable="true" type="tns:cargarRecursosResolucion" /> 
<xs:element name="cargarRecursosResolucionResponse" nillable="true" type="tns:cargarRecursosResolucionResponse" /> 
<xs:element name="cargarResultadosProceso" nillable="true" type="tns:cargarResultadosProceso" /> 
<xs:element name="cargarResultadosProcesoResponse" nillable="true" type="tns:cargarResultadosProcesoResponse" /> 
<xs:element name="cargarTramites" nillable="true" type="tns:cargarTramites" /> 
<xs:element name="cargarTramitesResponse" nillable="true" type="tns:cargarTramitesResponse" /> 
<xs:element name="cargarTramitesVuds" nillable="true" type="tns:cargarTramitesVuds" /> 
<xs:element name="cargarTramitesVudsResponse" nillable="true" type="tns:cargarTramitesVudsResponse" /> 
<xs:element name="cargarViasReclamacion" nillable="true" type="tns:cargarViasReclamacion" /> 
<xs:element name="cargarViasReclamacionResponse" nillable="true" type="tns:cargarViasReclamacionResponse" /> 
<xs:element name="consultarRechazosTramites" nillable="true" type="tns:consultarRechazosTramites" /> 
<xs:element name="consultarRechazosTramitesResponse" nillable="true" type="tns:consultarRechazosTramitesResponse" /> 
<xs:element name="guardarOrganizacionesAsistencia" nillable="true" type="tns:guardarOrganizacionesAsistencia" /> 
<xs:element name="guardarOrganizacionesAsistenciaResponse" nillable="true" type="tns:guardarOrganizacionesAsistenciaResponse" /> 
<xs:element name="guardarTramites" nillable="true" type="tns:guardarTramites" /> 
<xs:element name="guardarTramitesResponse" nillable="true" type="tns:guardarTramitesResponse" /> 
<xs:element name="guardarViasReclamacion" nillable="true" type="tns:guardarViasReclamacion" /> 
<xs:element name="guardarViasReclamacionResponse" nillable="true" type="tns:guardarViasReclamacionResponse" /> 
<xs:complexType name="cargarFormaIniciacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="idioma"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionIdioma" type="xs:string" /> 
<xs:element name="idIdioma" type="xs:string" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaIniciacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:formaIniciacion" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="formaIniciacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionFormaIniciacion" type="xs:string" /> 
<xs:element name="idFormaIniciacion" type="xs:long" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarCanalesTramitacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarCanalesTramitacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:canalTramitacion" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="canalTramitacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionCanal" type="xs:string" /> 
<xs:element name="idCanal" type="xs:long" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionesAsistencia"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionesAsistenciaResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organizacionAsistencia" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="organizacionAsistencia"> 
<xs:sequence> 
<xs:element name="actividadEconomica" type="tns:actividadEconomica" /> 
<xs:element name="ambito" type="tns:ambito" /> 
<xs:element name="descripcionOrganizacionAsistencia" type="xs:string" /> 
<xs:element name="enlaceWeb" type="xs:string" /> 
<xs:element name="organismo" type="xs:string" /> 
<xs:element name="telefono" type="xs:string" /> 
<xs:element name="tipologia" type="tns:tipologiaOrganizaciones" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="actividadEconomica"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionActividadEconomiva" type="xs:string" /> 
<xs:element name="idActividadEconomica" type="xs:long" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarViasReclamacion"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" name="viaReclamacion" type="tns:viaReclamacion" /> 
<xs:element name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="viaReclamacion"> 
<xs:sequence> 
<xs:element name="descripcion" type="xs:string" /> 
<xs:element name="instrumentoReclamancion" type="tns:instrumentoReclamacion" /> 
<xs:element name="organismo" type="xs:string" /> 
<xs:element name="recursoResolucion" type="tns:recursoResolucion" /> 
<xs:element name="resultadoProceso" type="tns:resultadoProceso" /> 
<xs:element name="tipologia" type="tns:tipologiaViaReclamacion" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="instrumentoReclamacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionInstrumentoReclamacion" type="xs:string" /> 
<xs:element name="idInstrumentoReclamacion" type="xs:long" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="recursoResolucion"> 
<xs:sequence> 
<xs:element name="descripcionRecursoResolucion" type="xs:string" /> 
<xs:element name="idRecursoResolucion" type="xs:long" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="resultadoProceso"> 
<xs:sequence> 
<xs:element name="descripcionResultadoProceso" type="xs:string" /> 
<xs:element name="idResultadoProceso" type="xs:long" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarViasReclamacionResponse"> 
<xs:sequence /> 
</xs:complexType> 
<xs:complexType name="guardarTramites"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" name="tramite" type="tns:tramite" /> 
<xs:element name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tramite"> 
<xs:sequence> 
<xs:element name="organismoCompetente" type="tns:organismoCompetente" /> 
<xs:element minOccurs="0" name="canalTramitacion" type="tns:canalTramitacion" /> 
<xs:element name="codigoIdentificador" type="xs:string" /> 
<xs:element name="denominacionTramite" type="xs:string" /> 
<xs:element name="descripcionTramite" type="xs:string" /> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="xs:string" /> 
<xs:element name="formaIniciacion" type="tns:formaIniciacion" /> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="formulario" nillable="true" type="tns:formulario" /> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="normativa" nillable="true" type="tns:normativa" /> 
<xs:element minOccurs="0" name="observaciones" type="xs:string" /> 
<xs:element minOccurs="0" name="plazosLegales" type="xs:string" /> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="requisitosPrevios" nillable="true" type="xs:string" /> 
<xs:element minOccurs="0" name="tasa" type="tns:tasa" /> 
<xs:element minOccurs="0" name="tiempoResolucion" type="xs:string" /> 
<xs:element name="tipoRegistro" type="tns:tipoRegistro" /> 
<xs:element name="tipologia" type="tns:tipologiaTramite" /> 
<xs:element name="tramiteVuds" type="tns:tramiteVuds" /> 
<xs:element minOccurs="0" name="enlaceConsulta" type="xs:string" /> 
<xs:element minOccurs="0" name="areaTramitadora" type="xs:string" /> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="resultado" nillable="true" type="xs:string" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="organismoCompetente"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionOrganismo" type="xs:string" /> 
<xs:element name="idOrganismo" type="xs:string" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="formulario"> 
<xs:sequence> 
<xs:element name="descripcionFormulario" type="xs:string" /> 
<xs:element name="idCodificacion" type="xs:string" /> 
<xs:element name="urlDescarga" type="xs:string" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="normativa"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionNormativa" type="xs:string" /> 
<xs:element name="idNormativa" type="xs:long" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tasa"> 
<xs:sequence> 
<xs:element name="codificacion" type="xs:string" /> 
<xs:element name="descripcionTasa" type="xs:string" /> 
<xs:element name="modoPago" type="xs:string" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tramiteVuds"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionTramiteVuds" type="xs:string" /> 
<xs:element name="idTramiteVuds" type="xs:string" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarTramitesResponse"> 
<xs:sequence /> 
</xs:complexType> 
<xs:complexType name="cargarResultadosProceso"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarResultadosProcesoResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:resultadoProceso" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViasReclamacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViasReclamacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaReclamacion" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesVuds"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesVudsResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramiteVuds" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarIdiomas"> 
<xs:sequence /> 
</xs:complexType> 
<xs:complexType name="cargarIdiomasResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramites"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramite" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarNormativas"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarNormativasResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:normativa" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganismoCompetente"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganismoCompetenteResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organismoCompetente" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarInstrumentosReclamacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarInstrumentosReclamacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:instrumentoReclamacion" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarRecursosResolucion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarRecursosResolucionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:recursoResolucion" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesEconomicas"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesEconomicasResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:actividadEconomica" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarRechazosTramites"> 
<xs:sequence /> 
</xs:complexType> 
<xs:complexType name="consultarRechazosTramitesResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="rechazo" nillable="true" type="tns:rechazo" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="rechazo"> 
<xs:sequence> 
<xs:element name="tramite" type="tns:tramite" /> 
<xs:element name="motivo" type="xs:string" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarOrganizacionesAsistencia"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" name="organizacionesAsistencia" type="tns:organizacionAsistencia" /> 
<xs:element name="idioma" type="tns:idioma" /> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarOrganizacionesAsistenciaResponse"> 
<xs:sequence /> 
</xs:complexType> 
<xs:simpleType name="ambito"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Estatal" /> 
<xs:enumeration value="Europeo" /> 
<xs:enumeration value="Municipal" /> 
<xs:enumeration value="Provincial" /> 
<xs:enumeration value="Regional" /> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipologiaOrganizaciones"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Asociacion" /> 
<xs:enumeration value="Organizacion" /> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipologiaViaReclamacion"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Administrativa" /> 
<xs:enumeration value="Extrajudicial" /> 
<xs:enumeration value="Judicial" /> 
<xs:enumeration value="Otros" /> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipoRegistro"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Alta" /> 
<xs:enumeration value="Modificacion" /> 
<xs:enumeration value="Baja" /> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipologiaTramite"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Autorizacion" /> 
<xs:enumeration value="Colegiacion el en Colegio" /> 
<xs:enumeration value="Comunicacion Colegios" /> 
<xs:enumeration value="Homologacion" /> 
<xs:enumeration value="Inscripcion en el Colegio" /> 
<xs:enumeration value="Inscripcion en el registro" /> 
<xs:enumeration value="Inscripcion temporal en el registro" /> 
<xs:enumeration value="Licencias" /> 
<xs:enumeration value="Reconocimiento del Titulo" /> 
<xs:enumeration value="Registro de la Sociedad Profesional en el Registro del Colegio Profesional" /> 
<xs:enumeration value="Solicitud de admision a examen de carne profesional" /> 
<xs:enumeration value="Solicitud de expedicion del carne profesional" /> 
<xs:enumeration value="Otros" /> 
</xs:restriction> 
</xs:simpleType> 
</xs:schema> 
  </wsdl:types> 
  <wsdl:message name="cargarInstrumentosReclamacion"> 
    <wsdl:part element="tns:cargarInstrumentosReclamacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarRechazosTramitesResponse"> 
    <wsdl:part element="tns:consultarRechazosTramitesResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarViasReclamacion"> 
    <wsdl:part element="tns:cargarViasReclamacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarFormaIniciacionResponse"> 
    <wsdl:part element="tns:cargarFormaIniciacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarViasReclamacion"> 
    <wsdl:part element="tns:guardarViasReclamacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarInstrumentosReclamacionResponse"> 
    <wsdl:part element="tns:cargarInstrumentosReclamacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarTramites"> 
    <wsdl:part element="tns:guardarTramites" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarCanalesTramitacion"> 
    <wsdl:part element="tns:cargarCanalesTramitacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTramitesResponse"> 
    <wsdl:part element="tns:cargarTramitesResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarIdiomas"> 
    <wsdl:part element="tns:cargarIdiomas" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarOrganizacionesAsistencia"> 
    <wsdl:part element="tns:guardarOrganizacionesAsistencia" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarResultadosProcesoResponse"> 
    <wsdl:part element="tns:cargarResultadosProcesoResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarOrganizacionesAsistencia"> 
    <wsdl:part element="tns:cargarOrganizacionesAsistencia" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarOrganismoCompetente"> 
    <wsdl:part element="tns:cargarOrganismoCompetente" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarActividadesEconomicas"> 
    <wsdl:part element="tns:cargarActividadesEconomicas" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarViasReclamacionResponse"> 
    <wsdl:part element="tns:cargarViasReclamacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarOrganizacionesAsistenciaResponse"> 
    <wsdl:part element="tns:guardarOrganizacionesAsistenciaResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTramites"> 
    <wsdl:part element="tns:cargarTramites" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarOrganismoCompetenteResponse"> 
    <wsdl:part element="tns:cargarOrganismoCompetenteResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarRecursosResolucionResponse"> 
    <wsdl:part element="tns:cargarRecursosResolucionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTramitesVuds"> 
    <wsdl:part element="tns:cargarTramitesVuds" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarOrganizacionesAsistenciaResponse"> 
    <wsdl:part element="tns:cargarOrganizacionesAsistenciaResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarViasReclamacionResponse"> 
    <wsdl:part element="tns:guardarViasReclamacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTramitesVudsResponse"> 
    <wsdl:part element="tns:cargarTramitesVudsResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarNormativas"> 
    <wsdl:part element="tns:cargarNormativas" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarActividadesEconomicasResponse"> 
    <wsdl:part element="tns:cargarActividadesEconomicasResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarCanalesTramitacionResponse"> 
    <wsdl:part element="tns:cargarCanalesTramitacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarResultadosProceso"> 
    <wsdl:part element="tns:cargarResultadosProceso" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarTramitesResponse"> 
    <wsdl:part element="tns:guardarTramitesResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarNormativasResponse"> 
    <wsdl:part element="tns:cargarNormativasResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarIdiomasResponse"> 
    <wsdl:part element="tns:cargarIdiomasResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarRecursosResolucion"> 
    <wsdl:part element="tns:cargarRecursosResolucion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarFormaIniciacion"> 
    <wsdl:part element="tns:cargarFormaIniciacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarRechazosTramites"> 
    <wsdl:part element="tns:consultarRechazosTramites" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:portType name="GestorWebserviceBean"> 
    <wsdl:operation name="cargarFormaIniciacion"> 
      <wsdl:input message="tns:cargarFormaIniciacion" name="cargarFormaIniciacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarFormaIniciacionResponse" name="cargarFormaIniciacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarCanalesTramitacion"> 
      <wsdl:input message="tns:cargarCanalesTramitacion" name="cargarCanalesTramitacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarCanalesTramitacionResponse" name="cargarCanalesTramitacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarOrganizacionesAsistencia"> 
      <wsdl:input message="tns:cargarOrganizacionesAsistencia" name="cargarOrganizacionesAsistencia"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarOrganizacionesAsistenciaResponse" name="cargarOrganizacionesAsistenciaResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarViasReclamacion"> 
      <wsdl:input message="tns:guardarViasReclamacion" name="guardarViasReclamacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:guardarViasReclamacionResponse" name="guardarViasReclamacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarTramites"> 
      <wsdl:input message="tns:guardarTramites" name="guardarTramites"> 
    </wsdl:input> 
      <wsdl:output message="tns:guardarTramitesResponse" name="guardarTramitesResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarResultadosProceso"> 
      <wsdl:input message="tns:cargarResultadosProceso" name="cargarResultadosProceso"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarResultadosProcesoResponse" name="cargarResultadosProcesoResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarViasReclamacion"> 
      <wsdl:input message="tns:cargarViasReclamacion" name="cargarViasReclamacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarViasReclamacionResponse" name="cargarViasReclamacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTramitesVuds"> 
      <wsdl:input message="tns:cargarTramitesVuds" name="cargarTramitesVuds"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarTramitesVudsResponse" name="cargarTramitesVudsResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarIdiomas"> 
      <wsdl:input message="tns:cargarIdiomas" name="cargarIdiomas"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarIdiomasResponse" name="cargarIdiomasResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTramites"> 
      <wsdl:input message="tns:cargarTramites" name="cargarTramites"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarTramitesResponse" name="cargarTramitesResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarNormativas"> 
      <wsdl:input message="tns:cargarNormativas" name="cargarNormativas"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarNormativasResponse" name="cargarNormativasResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarOrganismoCompetente"> 
      <wsdl:input message="tns:cargarOrganismoCompetente" name="cargarOrganismoCompetente"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarOrganismoCompetenteResponse" name="cargarOrganismoCompetenteResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarInstrumentosReclamacion"> 
      <wsdl:input message="tns:cargarInstrumentosReclamacion" name="cargarInstrumentosReclamacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarInstrumentosReclamacionResponse" name="cargarInstrumentosReclamacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarRecursosResolucion"> 
      <wsdl:input message="tns:cargarRecursosResolucion" name="cargarRecursosResolucion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarRecursosResolucionResponse" name="cargarRecursosResolucionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarActividadesEconomicas"> 
      <wsdl:input message="tns:cargarActividadesEconomicas" name="cargarActividadesEconomicas"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarActividadesEconomicasResponse" name="cargarActividadesEconomicasResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarRechazosTramites"> 
      <wsdl:input message="tns:consultarRechazosTramites" name="consultarRechazosTramites"> 
    </wsdl:input> 
      <wsdl:output message="tns:consultarRechazosTramitesResponse" name="consultarRechazosTramitesResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarOrganizacionesAsistencia"> 
      <wsdl:input message="tns:guardarOrganizacionesAsistencia" name="guardarOrganizacionesAsistencia"> 
    </wsdl:input> 
      <wsdl:output message="tns:guardarOrganizacionesAsistenciaResponse" name="guardarOrganizacionesAsistenciaResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
  </wsdl:portType> 
  <wsdl:binding name="GestorWebserviceBeanServiceSoapBinding" type="tns:GestorWebserviceBean"> 
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
    <wsdl:operation name="cargarCanalesTramitacion"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarCanalesTramitacion"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarCanalesTramitacionResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarFormaIniciacion"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarFormaIniciacion"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarFormaIniciacionResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarOrganizacionesAsistencia"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarOrganizacionesAsistencia"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarOrganizacionesAsistenciaResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarViasReclamacion"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="guardarViasReclamacion"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="guardarViasReclamacionResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarResultadosProceso"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarResultadosProceso"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarResultadosProcesoResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarTramites"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="guardarTramites"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="guardarTramitesResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarViasReclamacion"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarViasReclamacion"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarViasReclamacionResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarIdiomas"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarIdiomas"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarIdiomasResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTramitesVuds"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarTramitesVuds"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarTramitesVudsResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTramites"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarTramites"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarTramitesResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarNormativas"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarNormativas"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarNormativasResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarOrganismoCompetente"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarOrganismoCompetente"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarOrganismoCompetenteResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarInstrumentosReclamacion"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarInstrumentosReclamacion"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarInstrumentosReclamacionResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarActividadesEconomicas"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarActividadesEconomicas"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarActividadesEconomicasResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarRecursosResolucion"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="cargarRecursosResolucion"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="cargarRecursosResolucionResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarRechazosTramites"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="consultarRechazosTramites"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="consultarRechazosTramitesResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarOrganizacionesAsistencia"> 
      <soap:operation soapAction="" style="document" /> 
      <wsdl:input name="guardarOrganizacionesAsistencia"> 
        <soap:body use="literal" /> 
      </wsdl:input> 
      <wsdl:output name="guardarOrganizacionesAsistenciaResponse"> 
        <soap:body use="literal" /> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding> 
  <wsdl:service name="GestorWebserviceBeanService"> 
    <wsdl:port binding="tns:GestorWebserviceBeanServiceSoapBinding" name="GestorWebserviceBeanPort"> 
      <soap:address location="http://89.140.20.218:65003/ServiciosExternos/sistemaInformacionWS" /> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>