vuds/resources/GestorWebserviceBeanService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GestorWebserviceBeanService" targetNamespace="http://webservice.service.si.vuds.map.es/" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.service.si.vuds.map.es/" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="cargarActividadesEconomicas" nillable="true" type="tns:cargarActividadesEconomicas"/>
<xs:element name="cargarActividadesEconomicasResponse" nillable="true" type="tns:cargarActividadesEconomicasResponse"/>
<xs:element name="cargarAreasTramitadora" nillable="true" type="tns:cargarAreasTramitadora"/>
<xs:element name="cargarAreasTramitadoraResponse" nillable="true" type="tns:cargarAreasTramitadoraResponse"/>
<xs:element name="cargarCanalesTramitacion" nillable="true" type="tns:cargarCanalesTramitacion"/>
<xs:element name="cargarCanalesTramitacionResponse" nillable="true" type="tns:cargarCanalesTramitacionResponse"/>
<xs:element name="cargarFormaIniciacion" nillable="true" type="tns:cargarFormaIniciacion"/>
<xs:element name="cargarFormaIniciacionResponse" nillable="true" type="tns:cargarFormaIniciacionResponse"/>
<xs:element name="cargarIdiomas" nillable="true" type="tns:cargarIdiomas"/>
<xs:element name="cargarIdiomasResponse" nillable="true" type="tns:cargarIdiomasResponse"/>
<xs:element name="cargarInstrumentosReclamacion" nillable="true" type="tns:cargarInstrumentosReclamacion"/>
<xs:element name="cargarInstrumentosReclamacionResponse" nillable="true" type="tns:cargarInstrumentosReclamacionResponse"/>
<xs:element name="cargarNormativas" nillable="true" type="tns:cargarNormativas"/>
<xs:element name="cargarNormativasResponse" nillable="true" type="tns:cargarNormativasResponse"/>
<xs:element name="cargarOrganizacionesAsistencia" nillable="true" type="tns:cargarOrganizacionesAsistencia"/>
<xs:element name="cargarOrganizacionesAsistenciaResponse" nillable="true" type="tns:cargarOrganizacionesAsistenciaResponse"/>
<xs:element name="cargarRecursosResolucion" nillable="true" type="tns:cargarRecursosResolucion"/>
<xs:element name="cargarRecursosResolucionResponse" nillable="true" type="tns:cargarRecursosResolucionResponse"/>
<xs:element name="cargarResultadosProceso" nillable="true" type="tns:cargarResultadosProceso"/>
<xs:element name="cargarResultadosProcesoResponse" nillable="true" type="tns:cargarResultadosProcesoResponse"/>
<xs:element name="cargarTramites" nillable="true" type="tns:cargarTramites"/>
<xs:element name="cargarTramitesResponse" nillable="true" type="tns:cargarTramitesResponse"/>
<xs:element name="cargarTramitesVuds" nillable="true" type="tns:cargarTramitesVuds"/>
<xs:element name="cargarTramitesVudsResponse" nillable="true" type="tns:cargarTramitesVudsResponse"/>
<xs:element name="cargarViasReclamacion" nillable="true" type="tns:cargarViasReclamacion"/>
<xs:element name="cargarViasReclamacionResponse" nillable="true" type="tns:cargarViasReclamacionResponse"/>
<xs:element name="guardarOrganizacionesAsistencia" nillable="true" type="tns:guardarOrganizacionesAsistencia"/>
<xs:element name="guardarOrganizacionesAsistenciaResponse" nillable="true" type="tns:guardarOrganizacionesAsistenciaResponse"/>
<xs:element name="guardarTramites" nillable="true" type="tns:guardarTramites"/>
<xs:element name="guardarTramitesResponse" nillable="true" type="tns:guardarTramitesResponse"/>
<xs:element name="guardarViasReclamacion" nillable="true" type="tns:guardarViasReclamacion"/>
<xs:element name="guardarViasReclamacionResponse" nillable="true" type="tns:guardarViasReclamacionResponse"/>
<xs:complexType name="cargarFormaIniciacion">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="idioma">
<xs:sequence>
<xs:element name="descripcionIdioma" type="xs:string"/>
<xs:element name="idIdioma" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarFormaIniciacionResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:formaIniciacion"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="formaIniciacion">
<xs:sequence>
<xs:element name="descripcionFormaIniciacion" type="xs:string"/>
<xs:element name="idFormaIniciacion" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarCanalesTramitacion">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarCanalesTramitacionResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:canalTramitacion"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="canalTramitacion">
<xs:sequence>
<xs:element name="descripcionCanal" type="xs:string"/>
<xs:element name="idCanal" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarOrganizacionesAsistencia">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarOrganizacionesAsistenciaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:organizacionAsistencia"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="organizacionAsistencia">
<xs:sequence>
<xs:element name="actividadEconomica" type="tns:actividadEconomica"/>
<xs:element name="ambito" type="tns:ambito"/>
<xs:element name="descripcionOrganizacionAsistencia" type="xs:string"/>
<xs:element name="enlaceWeb" type="xs:string"/>
<xs:element name="organismo" type="xs:string"/>
<xs:element name="telefono" type="xs:string"/>
<xs:element name="tipologia" type="tns:tipologiaOrganizaciones"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="actividadEconomica">
<xs:sequence>
<xs:element name="descripcionActividadEconomiva" type="xs:string"/>
<xs:element name="idActividadEconomica" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="guardarViasReclamacion">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="viaReclamacion" type="tns:viaReclamacion"/>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="viaReclamacion">
<xs:sequence>
<xs:element name="descripcion" type="xs:string"/>
<xs:element name="instrumentoReclamancion" type="tns:instrumentoReclamacion"/>
<xs:element name="organismo" type="xs:string"/>
<xs:element name="recursoResolucion" type="tns:recursoResolucion"/>
<xs:element name="resultadoProceso" type="tns:resultadoProceso"/>
<xs:element name="tipologia" type="tns:tipologiaViaReclamacion"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="instrumentoReclamacion">
<xs:sequence>
<xs:element name="descripcionInstrumentoReclamacion" type="xs:string"/>
<xs:element name="idInstrumentoReclamacion" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="recursoResolucion">
<xs:sequence>
<xs:element name="descripcionRecursoResolucion" type="xs:string"/>
<xs:element name="idRecursoResolucion" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resultadoProceso">
<xs:sequence>
<xs:element name="descripcionResultadoProceso" type="xs:string"/>
<xs:element name="idResultadoProceso" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="guardarViasReclamacionResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="guardarTramites">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="tramite" type="tns:tramite"/>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="tramite">
<xs:sequence>
<xs:element name="areaTramitadora" type="tns:areaTramitadora"/>
<xs:element name="canalTramitacion" type="tns:canalTramitacion"/>
<xs:element name="codigoIdentificador" type="xs:string"/>
<xs:element name="denominacionTramite" type="xs:string"/>
<xs:element name="descripcionTramite" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="documento" type="xs:string"/>
<xs:element name="formaIniciacion" type="tns:formaIniciacion"/>
<xs:element maxOccurs="unbounded" name="formulario" type="tns:formulario"/>
<xs:element maxOccurs="unbounded" name="normativa" type="tns:normativa"/>
<xs:element name="observaciones" type="xs:string"/>
<xs:element name="plazosLegales" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="requisitosPrevios" type="xs:string"/>
<xs:element name="tasa" type="tns:tasa"/>
<xs:element name="tiempoResolucion" type="xs:string"/>
<xs:element name="tipoRegistro" type="tns:tipoRegistro"/>
<xs:element name="tipologia" type="tns:tipologiaTramite"/>
<xs:element minOccurs="0" name="tramiteVuds" type="tns:tramiteVuds"/>
<xs:element name="enlaceConsulta" type="xs:string"/>
<xs:element name="resultado" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="areaTramitadora">
<xs:sequence>
<xs:element name="descripcionAreaTramitadora" type="xs:string"/>
<xs:element name="idAreaTramitadora" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="formulario">
<xs:sequence>
<xs:element name="descripcionFormulario" type="xs:string"/>
<xs:element name="idCodificacion" type="xs:string"/>
<xs:element name="urlDescarga" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="normativa">
<xs:sequence>
<xs:element name="descripcionNormativa" type="xs:string"/>
<xs:element name="idNormativa" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="tasa">
<xs:sequence>
<xs:element name="codificacion" type="xs:string"/>
<xs:element name="descripcionTasa" type="xs:string"/>
<xs:element name="modoPago" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="tramiteVuds">
<xs:sequence>
<xs:element name="descripcionTramiteVuds" type="xs:string"/>
<xs:element name="idTramiteVuds" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="guardarTramitesResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="cargarResultadosProceso">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarResultadosProcesoResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:resultadoProceso"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarViasReclamacion">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarViasReclamacionResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:viaReclamacion"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarTramitesVuds">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarTramitesVudsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:tramiteVuds"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarIdiomas">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="cargarIdiomasResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarTramites">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarTramitesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:tramite"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarNormativas">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarNormativasResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:normativa"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarInstrumentosReclamacion">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarInstrumentosReclamacionResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:instrumentoReclamacion"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarRecursosResolucion">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarRecursosResolucionResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:recursoResolucion"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarAreasTramitadora">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarAreasTramitadoraResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:areaTramitadora"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarActividadesEconomicas">
<xs:sequence>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cargarActividadesEconomicasResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="return" type="tns:actividadEconomica"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="guardarOrganizacionesAsistencia">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="organizacionesAsistencia" type="tns:organizacionAsistencia"/>
<xs:element minOccurs="0" name="idioma" type="tns:idioma"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="guardarOrganizacionesAsistenciaResponse">
<xs:sequence/>
</xs:complexType>
<xs:simpleType name="ambito">
<xs:restriction base="xs:string">
<xs:enumeration value="Estatal"/>
<xs:enumeration value="Europeo"/>
<xs:enumeration value="Municipal"/>
<xs:enumeration value="Provincial"/>
<xs:enumeration value="Regional"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="tipologiaOrganizaciones">
<xs:restriction base="xs:string">
<xs:enumeration value="Asociacion"/>
<xs:enumeration value="Organizacion"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="tipologiaViaReclamacion">
<xs:restriction base="xs:string">
<xs:enumeration value="Administrativa"/>
<xs:enumeration value="Extrajudicial"/>
<xs:enumeration value="Judicial"/>
<xs:enumeration value="Otros"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="tipoRegistro">
<xs:restriction base="xs:string">
<xs:enumeration value="Alta"/>
<xs:enumeration value="Baja"/>
<xs:enumeration value="Modificación"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="tipologiaTramite">
<xs:restriction base="xs:string">
<xs:enumeration value="Autorización"/>
<xs:enumeration value="Colegiación el en Colegio"/>
<xs:enumeration value="Comunicación Colegios"/>
<xs:enumeration value="Homologación"/>
<xs:enumeration value="Inscripción en el Colegio"/>
<xs:enumeration value="Inscripción en el registro"/>
<xs:enumeration value="Inscripción temporal en el registro"/>
<xs:enumeration value="Licencias"/>
<xs:enumeration value="Reconocimiento del Titulo"/>
<xs:enumeration value="Registro de la Sociedad Profesional en el Registro del Colegio Profesional"/>
<xs:enumeration value="Solicitud de admisión a examen de carné profesional"/>
<xs:enumeration value="Solicitud de expedición del carné profesional"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="cargarInstrumentosReclamacion">
    <wsdl:part name="parameters" element="tns:cargarInstrumentosReclamacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarViasReclamacion">
    <wsdl:part name="parameters" element="tns:cargarViasReclamacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarFormaIniciacionResponse">
    <wsdl:part name="parameters" element="tns:cargarFormaIniciacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarViasReclamacion">
    <wsdl:part name="parameters" element="tns:guardarViasReclamacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarInstrumentosReclamacionResponse">
    <wsdl:part name="parameters" element="tns:cargarInstrumentosReclamacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarTramites">
    <wsdl:part name="parameters" element="tns:guardarTramites">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarCanalesTramitacion">
    <wsdl:part name="parameters" element="tns:cargarCanalesTramitacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarTramitesResponse">
    <wsdl:part name="parameters" element="tns:cargarTramitesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarIdiomas">
    <wsdl:part name="parameters" element="tns:cargarIdiomas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarOrganizacionesAsistencia">
    <wsdl:part name="parameters" element="tns:cargarOrganizacionesAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarResultadosProcesoResponse">
    <wsdl:part name="parameters" element="tns:cargarResultadosProcesoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarOrganizacionesAsistencia">
    <wsdl:part name="parameters" element="tns:guardarOrganizacionesAsistencia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarAreasTramitadoraResponse">
    <wsdl:part name="parameters" element="tns:cargarAreasTramitadoraResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarActividadesEconomicas">
    <wsdl:part name="parameters" element="tns:cargarActividadesEconomicas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarViasReclamacionResponse">
    <wsdl:part name="parameters" element="tns:cargarViasReclamacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarOrganizacionesAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:guardarOrganizacionesAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarTramites">
    <wsdl:part name="parameters" element="tns:cargarTramites">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarAreasTramitadora">
    <wsdl:part name="parameters" element="tns:cargarAreasTramitadora">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarRecursosResolucionResponse">
    <wsdl:part name="parameters" element="tns:cargarRecursosResolucionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarTramitesVuds">
    <wsdl:part name="parameters" element="tns:cargarTramitesVuds">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarOrganizacionesAsistenciaResponse">
    <wsdl:part name="parameters" element="tns:cargarOrganizacionesAsistenciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarViasReclamacionResponse">
    <wsdl:part name="parameters" element="tns:guardarViasReclamacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarTramitesVudsResponse">
    <wsdl:part name="parameters" element="tns:cargarTramitesVudsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarNormativas">
    <wsdl:part name="parameters" element="tns:cargarNormativas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarCanalesTramitacionResponse">
    <wsdl:part name="parameters" element="tns:cargarCanalesTramitacionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarActividadesEconomicasResponse">
    <wsdl:part name="parameters" element="tns:cargarActividadesEconomicasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarNormativasResponse">
    <wsdl:part name="parameters" element="tns:cargarNormativasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarTramitesResponse">
    <wsdl:part name="parameters" element="tns:guardarTramitesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarResultadosProceso">
    <wsdl:part name="parameters" element="tns:cargarResultadosProceso">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarIdiomasResponse">
    <wsdl:part name="parameters" element="tns:cargarIdiomasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarRecursosResolucion">
    <wsdl:part name="parameters" element="tns:cargarRecursosResolucion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cargarFormaIniciacion">
    <wsdl:part name="parameters" element="tns:cargarFormaIniciacion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GestorWebserviceBean">
    <wsdl:operation name="cargarFormaIniciacion">
      <wsdl:input name="cargarFormaIniciacion" message="tns:cargarFormaIniciacion">
    </wsdl:input>
      <wsdl:output name="cargarFormaIniciacionResponse" message="tns:cargarFormaIniciacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCanalesTramitacion">
      <wsdl:input name="cargarCanalesTramitacion" message="tns:cargarCanalesTramitacion">
    </wsdl:input>
      <wsdl:output name="cargarCanalesTramitacionResponse" message="tns:cargarCanalesTramitacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarOrganizacionesAsistencia">
      <wsdl:input name="cargarOrganizacionesAsistencia" message="tns:cargarOrganizacionesAsistencia">
    </wsdl:input>
      <wsdl:output name="cargarOrganizacionesAsistenciaResponse" message="tns:cargarOrganizacionesAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarViasReclamacion">
      <wsdl:input name="guardarViasReclamacion" message="tns:guardarViasReclamacion">
    </wsdl:input>
      <wsdl:output name="guardarViasReclamacionResponse" message="tns:guardarViasReclamacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarTramites">
      <wsdl:input name="guardarTramites" message="tns:guardarTramites">
    </wsdl:input>
      <wsdl:output name="guardarTramitesResponse" message="tns:guardarTramitesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarResultadosProceso">
      <wsdl:input name="cargarResultadosProceso" message="tns:cargarResultadosProceso">
    </wsdl:input>
      <wsdl:output name="cargarResultadosProcesoResponse" message="tns:cargarResultadosProcesoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarViasReclamacion">
      <wsdl:input name="cargarViasReclamacion" message="tns:cargarViasReclamacion">
    </wsdl:input>
      <wsdl:output name="cargarViasReclamacionResponse" message="tns:cargarViasReclamacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarTramitesVuds">
      <wsdl:input name="cargarTramitesVuds" message="tns:cargarTramitesVuds">
    </wsdl:input>
      <wsdl:output name="cargarTramitesVudsResponse" message="tns:cargarTramitesVudsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarIdiomas">
      <wsdl:input name="cargarIdiomas" message="tns:cargarIdiomas">
    </wsdl:input>
      <wsdl:output name="cargarIdiomasResponse" message="tns:cargarIdiomasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarTramites">
      <wsdl:input name="cargarTramites" message="tns:cargarTramites">
    </wsdl:input>
      <wsdl:output name="cargarTramitesResponse" message="tns:cargarTramitesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarNormativas">
      <wsdl:input name="cargarNormativas" message="tns:cargarNormativas">
    </wsdl:input>
      <wsdl:output name="cargarNormativasResponse" message="tns:cargarNormativasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarInstrumentosReclamacion">
      <wsdl:input name="cargarInstrumentosReclamacion" message="tns:cargarInstrumentosReclamacion">
    </wsdl:input>
      <wsdl:output name="cargarInstrumentosReclamacionResponse" message="tns:cargarInstrumentosReclamacionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarRecursosResolucion">
      <wsdl:input name="cargarRecursosResolucion" message="tns:cargarRecursosResolucion">
    </wsdl:input>
      <wsdl:output name="cargarRecursosResolucionResponse" message="tns:cargarRecursosResolucionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarAreasTramitadora">
      <wsdl:input name="cargarAreasTramitadora" message="tns:cargarAreasTramitadora">
    </wsdl:input>
      <wsdl:output name="cargarAreasTramitadoraResponse" message="tns:cargarAreasTramitadoraResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarActividadesEconomicas">
      <wsdl:input name="cargarActividadesEconomicas" message="tns:cargarActividadesEconomicas">
    </wsdl:input>
      <wsdl:output name="cargarActividadesEconomicasResponse" message="tns:cargarActividadesEconomicasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarOrganizacionesAsistencia">
      <wsdl:input name="guardarOrganizacionesAsistencia" message="tns:guardarOrganizacionesAsistencia">
    </wsdl:input>
      <wsdl:output name="guardarOrganizacionesAsistenciaResponse" message="tns:guardarOrganizacionesAsistenciaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestorWebserviceBeanServiceSoapBinding" type="tns:GestorWebserviceBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cargarCanalesTramitacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarCanalesTramitacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarCanalesTramitacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarFormaIniciacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarFormaIniciacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarFormaIniciacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarOrganizacionesAsistencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarOrganizacionesAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarOrganizacionesAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarViasReclamacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="guardarViasReclamacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="guardarViasReclamacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarResultadosProceso">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarResultadosProceso">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarResultadosProcesoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarTramites">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="guardarTramites">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="guardarTramitesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarViasReclamacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarViasReclamacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarViasReclamacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarIdiomas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarIdiomas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarIdiomasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarTramitesVuds">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarTramitesVuds">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarTramitesVudsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarTramites">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarTramites">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarTramitesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarNormativas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarNormativas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarNormativasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarInstrumentosReclamacion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarInstrumentosReclamacion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarInstrumentosReclamacionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarActividadesEconomicas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarActividadesEconomicas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarActividadesEconomicasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarAreasTramitadora">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarAreasTramitadora">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarAreasTramitadoraResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarRecursosResolucion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cargarRecursosResolucion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cargarRecursosResolucionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarOrganizacionesAsistencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="guardarOrganizacionesAsistencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="guardarOrganizacionesAsistenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestorWebserviceBeanService">
    <wsdl:port name="GestorWebserviceBeanPort" binding="tns:GestorWebserviceBeanServiceSoapBinding">
      <soap:address location="http://89.140.20.218:65003/ServiciosExternos/sistemaInformacionWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
