moduls/api/etc/wsdl/AgrupacioFetVitalWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://fetVital.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://publicObjectiu.v2.api.rolsac.caib.es"
	xmlns:tns4="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="dto/FetVitalCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="dto/BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="dto/PublicObjectiuDTO.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="dto/ArxiuDTO.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item"
						type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="getNumFetsVitalsResponse">
		<wsdl:part name="getNumFetsVitalsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getIconaGranResponse">
		<wsdl:part name="getIconaGranReturn" type="tns4:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirPublicObjectiuResponse">
		<wsdl:part name="obtenirPublicObjectiuReturn" type="tns3:PublicObjectiuDTO" />
	</wsdl:message>
	<wsdl:message name="getFotografiaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsResponse">
		<wsdl:part name="llistarFetsVitalsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:FetVitalCriteria" />
	</wsdl:message>
	<wsdl:message name="getIconaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getIconaGranRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getFotografiaResponse">
		<wsdl:part name="getFotografiaReturn" type="tns4:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirPublicObjectiuRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getIconaResponse">
		<wsdl:part name="getIconaReturn" type="tns4:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumFetsVitalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="AgrupacioFetVitalQueryServiceEJBRemote">
		<wsdl:operation name="llistarFetsVitals"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFetsVitalsRequest" name="llistarFetsVitalsRequest" />
			<wsdl:output message="impl:llistarFetsVitalsResponse"
				name="llistarFetsVitalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirPublicObjectiu"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirPublicObjectiuRequest"
				name="obtenirPublicObjectiuRequest" />
			<wsdl:output message="impl:obtenirPublicObjectiuResponse"
				name="obtenirPublicObjectiuResponse" />
		</wsdl:operation>
		<wsdl:operation name="getFotografia" parameterOrder="in0">
			<wsdl:input message="impl:getFotografiaRequest" name="getFotografiaRequest" />
			<wsdl:output message="impl:getFotografiaResponse" name="getFotografiaResponse" />
		</wsdl:operation>
		<wsdl:operation name="getIcona" parameterOrder="in0">
			<wsdl:input message="impl:getIconaRequest" name="getIconaRequest" />
			<wsdl:output message="impl:getIconaResponse" name="getIconaResponse" />
		</wsdl:operation>
		<wsdl:operation name="getIconaGran" parameterOrder="in0">
			<wsdl:input message="impl:getIconaGranRequest" name="getIconaGranRequest" />
			<wsdl:output message="impl:getIconaGranResponse" name="getIconaGranResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFetsVitals" parameterOrder="in0">
			<wsdl:input message="impl:getNumFetsVitalsRequest" name="getNumFetsVitalsRequest" />
			<wsdl:output message="impl:getNumFetsVitalsResponse"
				name="getNumFetsVitalsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AgrupacioFetVitalWSSoapBinding"
		type="impl:AgrupacioFetVitalQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="llistarFetsVitals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFetsVitalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFetsVitalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirPublicObjectiu">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirPublicObjectiuRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirPublicObjectiuResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFotografia">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getFotografiaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getFotografiaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getIcona">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getIconaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getIconaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getIconaGran">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getIconaGranRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getIconaGranResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFetsVitals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFetsVitalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFetsVitalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AgrupacioFetVitalQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:AgrupacioFetVitalWSSoapBinding"
			name="AgrupacioFetVitalWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/AgrupacioFetVitalWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>