moduls/api/etc/wsdl/AgrupacioMateriaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.agrupacioMateria.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.agrupacioMateria.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://materia.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es" xmlns:tns3="http://seccio.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://general.v2.api.rolsac.caib.es">
			<import
				namespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es" />
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType abstract="true" name="BasicCriteria">
				<sequence>
					<element name="id" nillable="true" type="xsd:string" />
					<element name="idioma" nillable="true" type="xsd:string" />
					<element name="inici" nillable="true" type="xsd:string" />
					<element name="ordenacio" nillable="true" type="xsd:string" />
					<element name="tamany" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://materia.v2.api.rolsac.caib.es">
			<import
				namespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="MateriaCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="codiHita" nillable="true" type="xsd:string" />
							<element name="codigoEstandar" nillable="true" type="xsd:string" />							
							<element name="destacada" nillable="true" type="xsd:boolean" />
							<element name="t_nombre" nillable="true" type="xsd:string" />		
							<element name="t_descripcion" nillable="true" type="xsd:string" />							
							<element name="t_palabrasclave" nillable="true" type="xsd:string" />
						</sequence>
					</extension>					
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import
				namespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item"
						type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://seccio.v2.api.rolsac.caib.es">
			<import
				namespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="SeccioDTO">
				<sequence>
					<element name="codigoEstandard" nillable="true" type="xsd:string" />
					<element name="descripcion" nillable="true" type="xsd:string" />
					<element name="id" type="xsd:long" />
					<element name="nombre" nillable="true" type="xsd:string" />
					<element name="orden" type="xsd:int" />
					<element name="padre" nillable="true" type="xsd:long" />
					<element name="perfil" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="llistarMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:MateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirSeccioRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesResponse">
		<wsdl:part name="llistarMateriesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumMateriesResponse">
		<wsdl:part name="getNumMateriesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="obtenirSeccioResponse">
		<wsdl:part name="obtenirSeccioReturn" type="tns3:SeccioDTO" />
	</wsdl:message>
	<wsdl:message name="getNumMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="AgrupacioMateriaQueryServiceEJBRemote">
		<wsdl:operation name="llistarMateries" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarMateriesRequest" name="llistarMateriesRequest" />
			<wsdl:output message="impl:llistarMateriesResponse" name="llistarMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirSeccio" parameterOrder="in0">
			<wsdl:input message="impl:obtenirSeccioRequest" name="obtenirSeccioRequest" />
			<wsdl:output message="impl:obtenirSeccioResponse" name="obtenirSeccioResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumMateries" parameterOrder="in0">
			<wsdl:input message="impl:getNumMateriesRequest" name="getNumMateriesRequest" />
			<wsdl:output message="impl:getNumMateriesResponse" name="getNumMateriesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AgrupacioMateriaWSSoapBinding"
		type="impl:AgrupacioMateriaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="llistarMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirSeccio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirSeccioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirSeccioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.agrupacioMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.agrupacioMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AgrupacioMateriaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:AgrupacioMateriaWSSoapBinding"
			name="AgrupacioMateriaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/AgrupacioMateriaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>