moduls/api/etc/wsdl/CatalegDocumentsDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://catalegDocuments.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="CatalegDocumentsDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.catalegDocuments.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://catalegDocuments.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="CatalegDocumentsDTO">
            <sequence>
                <element name="id" nillable="true" type="xsd:long" />
                <element name="admResponsable" nillable="true" type="xsd:int" />
                <element name="nombre" nillable="true" type="xsd:string" />                 
                <element name="orden" nillable="true" type="xsd:string" />
                <element name="descripcion" nillable="true" type="xsd:string" />                                                        
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
