moduls/api/etc/wsdl/CatalegDocumentsWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.catalegDocuments.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.catalegDocuments.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://documentTramit.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.catalegDocuments.v2.api.rolsac.caib.es">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://general.v2.api.rolsac.caib.es">
			<import namespace="http://documentTramit.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://ws.catalegDocuments.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType abstract="true" name="BasicCriteria">
				<sequence>
					<element name="id" nillable="true" type="xsd:string" />
					<element name="idioma" nillable="true" type="xsd:string" />
					<element name="inici" nillable="true" type="xsd:string" />
					<element name="ordenacio" nillable="true" type="xsd:string" />
					<element name="tamany" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://documentTramit.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://ws.catalegDocuments.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="DocumentTramitCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="tramit" nillable="true" type="xsd:string" />
							<element name="tipus" nillable="true" type="xsd:string" />
							<element name="orden" nillable="true" type="xsd:string" />
							<element name="t_titulo" nillable="true" type="xsd:string" />
							<element name="t_descripcion" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.catalegDocuments.v2.api.rolsac.caib.es">
			<import namespace="http://documentTramit.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://documentTramit.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://ws.catalegDocuments.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item"
						type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>

		<!-- Definiciones dto y criteria de CatalegDocuments -->
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://catalegDocuments.v2.api.rolsac.caib.es">
			<import namespace="http://documentTramit.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="CatalegDocumentsCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="orden" nillable="true" type="xsd:string" />
							<element name="nombre" nillable="true" type="xsd:string" />
							<element name="descripcion" nillable="true" type="xsd:string" />
							<element name="admResponsable" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>

			<complexType name="CatalegDocumentsDTO">
				<import namespace="http://documentTramit.v2.api.rolsac.caib.es" />
				<import namespace="http://general.v2.api.rolsac.caib.es" />
				<import namespace="http://xml.apache.org/xml-soap" />
				<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
				<sequence>
					<element name="id" nillable="true" type="xsd:long" />
					<element name="orden" nillable="true" type="xsd:string" />
					<element name="nombre" nillable="true" type="xsd:string" />
					<element name="descripcion" nillable="true" type="xsd:string" />
					<element name="admResponsable" nillable="true" type="xsd:int" />
				</sequence>
			</complexType>
		</schema>
		<!-- fin definiciones dto y criteria -->
	</wsdl:types>
	<wsdl:message name="getNumDocumentsTramitResponse">
		<wsdl:part name="getNumDocumentsTramitReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentsTramitsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:DocumentTramitCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumDocumentsTramitRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentsTramitsResponse">
		<wsdl:part name="llistarDocumentsTramitsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:portType name="CatalegDocumentsQueryServiceEJBRemote">
		<wsdl:operation name="getNumDocumentsTramit"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumDocumentsTramitRequest"
				name="getNumDocumentsTramitRequest" />
			<wsdl:output message="impl:getNumDocumentsTramitResponse"
				name="getNumDocumentsTramitResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarDocumentsTramits"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarDocumentsTramitsRequest"
				name="llistarDocumentsTramitsRequest" />
			<wsdl:output message="impl:llistarDocumentsTramitsResponse"
				name="llistarDocumentsTramitsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CatalegDocumentsWSSoapBinding"
		type="impl:CatalegDocumentsQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getNumDocumentsTramit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumDocumentsTramitRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.catalegDocuments.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumDocumentsTramitResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.catalegDocuments.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarDocumentsTramits">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarDocumentsTramitsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.catalegDocuments.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarDocumentsTramitsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.catalegDocuments.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CatalegDocumentsQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:CatalegDocumentsWSSoapBinding"
			name="CatalegDocumentsWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/CatalegDocumentsWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>