moduls/api/etc/wsdl/DocumentWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.document.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.document.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://fitxa.v2.api.rolsac.caib.es"
	xmlns:tns4="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.document.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="dto/ProcedimentDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="dto/EntitatRemota.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="dto/FitxaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="dto/ArxiuDTO.wsdl"/>
	
	<wsdl:types>
	</wsdl:types>
	
	<wsdl:message name="obtenirArxiuRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirArxiuResponse">
		<wsdl:part name="obtenirArxiuReturn" type="tns4:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaResponse">
		<wsdl:part name="obtenirFitxaReturn" type="tns3:FitxaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirProcedimentResponse">
		<wsdl:part name="obtenirProcedimentReturn" type="tns1:ProcedimentDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirProcedimentRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="DocumentQueryServiceEJBRemote">
		<wsdl:operation name="obtenirProcediment"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirProcedimentRequest" name="obtenirProcedimentRequest" />
			<wsdl:output message="impl:obtenirProcedimentResponse"
				name="obtenirProcedimentResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxa" parameterOrder="in0">
			<wsdl:input message="impl:obtenirFitxaRequest" name="obtenirFitxaRequest" />
			<wsdl:output message="impl:obtenirFitxaResponse" name="obtenirFitxaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirArxiu" parameterOrder="in0">
			<wsdl:input message="impl:obtenirArxiuRequest" name="obtenirArxiuRequest" />
			<wsdl:output message="impl:obtenirArxiuResponse" name="obtenirArxiuResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DocumentWSSoapBinding" type="impl:DocumentQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirProcediment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirProcedimentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.document.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirProcedimentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.document.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFitxaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.document.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFitxaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.document.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirArxiu">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirArxiuRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.document.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirArxiuResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.document.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DocumentQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:DocumentWSSoapBinding" name="DocumentWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/DocumentWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>