moduls/api/etc/wsdl/DocumentWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.document.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.document.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es" xmlns:tns3="http://fitxa.v2.api.rolsac.caib.es"
	xmlns:tns4="http://arxiu.v2.api.rolsac.caib.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.document.v2.api.rolsac.caib.es">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://general.v2.api.rolsac.caib.es">
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType abstract="true" name="EntitatRemota">
				<sequence>
					<element name="administracionRemota" nillable="true" type="xsd:long" />
					<element name="idExterno" nillable="true" type="xsd:long" />
					<element name="urlRemota" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://procediment.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ProcedimentDTO">
				<complexContent>
					<extension base="tns2:EntitatRemota">
						<sequence>
							<element name="destinatarios" nillable="true" type="xsd:string" />
							<element name="familia" nillable="true" type="xsd:long" />
							<element name="fechaActualizacion" nillable="true"
								type="xsd:dateTime" />
							<element name="fechaCaducidad" nillable="true" type="xsd:dateTime" />
							<element name="fechaPublicacion" nillable="true" type="xsd:dateTime" />
							<element name="id" nillable="true" type="xsd:long" />
							<element name="indicador" type="xsd:boolean" />
							<element name="info" nillable="true" type="xsd:string" />
							<element name="iniciacion" nillable="true" type="xsd:long" />
							<element name="lugar" nillable="true" type="xsd:string" />
							<element name="nombre" nillable="true" type="xsd:string" />
							<element name="notificacion" nillable="true" type="xsd:string" />
							<element name="observaciones" nillable="true" type="xsd:string" />
							<element name="orden" nillable="true" type="xsd:long" />
							<element name="orden2" nillable="true" type="xsd:long" />
							<element name="orden3" nillable="true" type="xsd:long" />
							<element name="organResolutori" nillable="true" type="xsd:long" />
							<element name="plazos" nillable="true" type="xsd:string" />
							<element name="recursos" nillable="true" type="xsd:string" />
							<element name="requisitos" nillable="true" type="xsd:string" />
							<element name="resolucion" nillable="true" type="xsd:string" />
							<element name="responsable" nillable="true" type="xsd:string" />
							<element name="resultat" nillable="true" type="xsd:string" />
							<element name="resumen" nillable="true" type="xsd:string" />
							<element name="signatura" nillable="true" type="xsd:string" />
							<element name="silencio" nillable="true" type="xsd:string" />
							<element name="taxa" type="xsd:boolean" />
							<element name="tramite" nillable="true" type="xsd:string" />
							<element name="unidadAdministrativa" nillable="true"
								type="xsd:long" />
							<element name="url" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:int" />
							<element name="ventanillaUnica" type="xsd:boolean" />
							<element name="version" nillable="true" type="xsd:long" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://fitxa.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="FitxaDTO">
				<complexContent>
					<extension base="tns2:EntitatRemota">
						<sequence>
							<element name="baner" nillable="true" type="xsd:long" />
							<element name="descAbr" nillable="true" type="xsd:string" />
							<element name="descripcion" nillable="true" type="xsd:string" />
							<element name="fechaActualizacion" nillable="true"
								type="xsd:dateTime" />
							<element name="fechaCaducidad" nillable="true" type="xsd:dateTime" />
							<element name="fechaPublicacion" nillable="true" type="xsd:dateTime" />
							<element name="foro_tema" nillable="true" type="xsd:string" />
							<element name="icono" nillable="true" type="xsd:long" />
							<element name="id" nillable="true" type="xsd:long" />
							<element name="imagen" nillable="true" type="xsd:long" />
							<element name="info" nillable="true" type="xsd:string" />
							<element name="responsable" nillable="true" type="xsd:string" />
							<element name="titulo" nillable="true" type="xsd:string" />
							<element name="url" nillable="true" type="xsd:string" />
							<element name="urlForo" nillable="true" type="xsd:string" />
							<element name="urlVideo" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:int" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://arxiu.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArxiuDTO">
				<sequence>
					<element name="id" type="xsd:long" />
					<element name="mime" nillable="true" type="xsd:string" />
					<element name="nombre" nillable="true" type="xsd:string" />
					<element name="peso" type="xsd:long" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="obtenirArxiuRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirArxiuResponse">
		<wsdl:part name="obtenirArxiuReturn" type="tns4:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaResponse">
		<wsdl:part name="obtenirFitxaReturn" type="tns3:FitxaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirProcedimentResponse">
		<wsdl:part name="obtenirProcedimentReturn" type="tns1:ProcedimentDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirProcedimentRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="DocumentQueryServiceEJBRemote">
		<wsdl:operation name="obtenirProcediment"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirProcedimentRequest" name="obtenirProcedimentRequest" />
			<wsdl:output message="impl:obtenirProcedimentResponse"
				name="obtenirProcedimentResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxa" parameterOrder="in0">
			<wsdl:input message="impl:obtenirFitxaRequest" name="obtenirFitxaRequest" />
			<wsdl:output message="impl:obtenirFitxaResponse" name="obtenirFitxaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirArxiu" parameterOrder="in0">
			<wsdl:input message="impl:obtenirArxiuRequest" name="obtenirArxiuRequest" />
			<wsdl:output message="impl:obtenirArxiuResponse" name="obtenirArxiuResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DocumentWSSoapBinding" type="impl:DocumentQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirProcediment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirProcedimentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.document.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirProcedimentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.document.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFitxaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.document.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFitxaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.document.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirArxiu">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirArxiuRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.document.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirArxiuResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.document.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DocumentQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:DocumentWSSoapBinding" name="DocumentWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/DocumentWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>