moduls/api/etc/wsdl/EdificiWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.edifici.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.edifici.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.edifici.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="UnitatAdministrativaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="ArxiuDTO.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.edifici.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="obtenirPlanoRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirPlanoResponse">
		<wsdl:part name="obtenirPlanoReturn" type="tns3:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumUnitatsAdministrativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirFotoPequenyaResponse">
		<wsdl:part name="obtenirFotoPequenyaReturn" type="tns3:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsAdministrativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:UnitatAdministrativaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsAdministrativesResponse">
		<wsdl:part name="llistarUnitatsAdministrativesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="obtenirFotoGrandeResponse">
		<wsdl:part name="obtenirFotoGrandeReturn" type="tns3:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFotoPequenyaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirFotoGrandeRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumUnitatsAdministrativesResponse">
		<wsdl:part name="getNumUnitatsAdministrativesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:portType name="EdificiQueryServiceEJBRemote">
		<wsdl:operation name="getNumUnitatsAdministratives"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumUnitatsAdministrativesRequest"
				name="getNumUnitatsAdministrativesRequest" />
			<wsdl:output message="impl:getNumUnitatsAdministrativesResponse"
				name="getNumUnitatsAdministrativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarUnitatsAdministratives"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarUnitatsAdministrativesRequest"
				name="llistarUnitatsAdministrativesRequest" />
			<wsdl:output message="impl:llistarUnitatsAdministrativesResponse"
				name="llistarUnitatsAdministrativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFotoPequenya"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirFotoPequenyaRequest"
				name="obtenirFotoPequenyaRequest" />
			<wsdl:output message="impl:obtenirFotoPequenyaResponse"
				name="obtenirFotoPequenyaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFotoGrande"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirFotoGrandeRequest" name="obtenirFotoGrandeRequest" />
			<wsdl:output message="impl:obtenirFotoGrandeResponse"
				name="obtenirFotoGrandeResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirPlano" parameterOrder="in0">
			<wsdl:input message="impl:obtenirPlanoRequest" name="obtenirPlanoRequest" />
			<wsdl:output message="impl:obtenirPlanoResponse" name="obtenirPlanoResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EdificiWSSoapBinding" type="impl:EdificiQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getNumUnitatsAdministratives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumUnitatsAdministrativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.edifici.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumUnitatsAdministrativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.edifici.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarUnitatsAdministratives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarUnitatsAdministrativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.edifici.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarUnitatsAdministrativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.edifici.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFotoPequenya">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFotoPequenyaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.edifici.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFotoPequenyaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.edifici.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFotoGrande">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFotoGrandeRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.edifici.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFotoGrandeResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.edifici.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirPlano">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirPlanoRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.edifici.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirPlanoResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.edifici.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EdificiQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:EdificiWSSoapBinding" name="EdificiWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/EdificiWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>