moduls/api/etc/wsdl/EspaiTerritorialDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://espaiTerritorial.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="EspaiTerritorialDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.espaiTerritorial.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://espaiTerritorial.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="EspaiTerritorialDTO">
            <sequence>
                <element name="coordenadas" nillable="true" type="xsd:string" />
                <element name="id" nillable="true" type="xsd:long" />
                <element name="logo" nillable="true" type="xsd:long" />
                <element name="mapa" nillable="true" type="xsd:long" />
                <element name="nivel" nillable="true" type="xsd:int" />
                <element name="nombre" nillable="true" type="xsd:string" />
                <element name="padre" nillable="true" type="xsd:long" />
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
