moduls/api/etc/wsdl/EstadisticaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.estadistica.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.estadistica.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.estadistica.v2.api.rolsac.caib.es">
	
	<wsdl:message name="gravarEstadisticaNormativaResponse">
		<wsdl:part name="gravarEstadisticaNormativaReturn" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaProcedimentRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaMateriaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaUnitatAdministrativaResponse">
		<wsdl:part name="gravarEstadisticaUnitatAdministrativaReturn"
			type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaFitxaPerMateriaRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaProcedimentResponse">
		<wsdl:part name="gravarEstadisticaProcedimentReturn" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaFitxaPerUARequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaFitxaPerUAResponse">
		<wsdl:part name="gravarEstadisticaFitxaPerUAReturn" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaNormativaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaFitxaResponse">
		<wsdl:part name="gravarEstadisticaFitxaReturn" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaFitxaPerMateriaResponse">
		<wsdl:part name="gravarEstadisticaFitxaPerMateriaReturn"
			type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaUnitatAdministrativaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaMateriaResponse">
		<wsdl:part name="gravarEstadisticaMateriaReturn" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="gravarEstadisticaFitxaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="EstadisticaInsertServiceEJBRemote">
		<wsdl:operation name="gravarEstadisticaFitxa"
			parameterOrder="in0">
			<wsdl:input message="impl:gravarEstadisticaFitxaRequest"
				name="gravarEstadisticaFitxaRequest" />
			<wsdl:output message="impl:gravarEstadisticaFitxaResponse"
				name="gravarEstadisticaFitxaResponse" />
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaFitxaPerMateria"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:gravarEstadisticaFitxaPerMateriaRequest"
				name="gravarEstadisticaFitxaPerMateriaRequest" />
			<wsdl:output message="impl:gravarEstadisticaFitxaPerMateriaResponse"
				name="gravarEstadisticaFitxaPerMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaFitxaPerUA"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:gravarEstadisticaFitxaPerUARequest"
				name="gravarEstadisticaFitxaPerUARequest" />
			<wsdl:output message="impl:gravarEstadisticaFitxaPerUAResponse"
				name="gravarEstadisticaFitxaPerUAResponse" />
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaMateria"
			parameterOrder="in0">
			<wsdl:input message="impl:gravarEstadisticaMateriaRequest"
				name="gravarEstadisticaMateriaRequest" />
			<wsdl:output message="impl:gravarEstadisticaMateriaResponse"
				name="gravarEstadisticaMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaNormativa"
			parameterOrder="in0">
			<wsdl:input message="impl:gravarEstadisticaNormativaRequest"
				name="gravarEstadisticaNormativaRequest" />
			<wsdl:output message="impl:gravarEstadisticaNormativaResponse"
				name="gravarEstadisticaNormativaResponse" />
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaProcediment"
			parameterOrder="in0">
			<wsdl:input message="impl:gravarEstadisticaProcedimentRequest"
				name="gravarEstadisticaProcedimentRequest" />
			<wsdl:output message="impl:gravarEstadisticaProcedimentResponse"
				name="gravarEstadisticaProcedimentResponse" />
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaUnitatAdministrativa"
			parameterOrder="in0">
			<wsdl:input message="impl:gravarEstadisticaUnitatAdministrativaRequest"
				name="gravarEstadisticaUnitatAdministrativaRequest" />
			<wsdl:output message="impl:gravarEstadisticaUnitatAdministrativaResponse"
				name="gravarEstadisticaUnitatAdministrativaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EstadisticaWSSoapBinding"
		type="impl:EstadisticaInsertServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="gravarEstadisticaFitxa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="gravarEstadisticaFitxaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.estadistica.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="gravarEstadisticaFitxaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.estadistica.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaFitxaPerMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="gravarEstadisticaFitxaPerMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.estadistica.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="gravarEstadisticaFitxaPerMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.estadistica.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaFitxaPerUA">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="gravarEstadisticaFitxaPerUARequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.estadistica.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="gravarEstadisticaFitxaPerUAResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.estadistica.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="gravarEstadisticaMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.estadistica.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="gravarEstadisticaMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.estadistica.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaNormativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="gravarEstadisticaNormativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.estadistica.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="gravarEstadisticaNormativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.estadistica.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaProcediment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="gravarEstadisticaProcedimentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.estadistica.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="gravarEstadisticaProcedimentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.estadistica.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="gravarEstadisticaUnitatAdministrativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="gravarEstadisticaUnitatAdministrativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.estadistica.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="gravarEstadisticaUnitatAdministrativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.estadistica.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EstadisticaInsertServiceEJBRemoteService">
		<wsdl:port binding="impl:EstadisticaWSSoapBinding" name="EstadisticaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/EstadisticaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>