moduls/api/etc/wsdl/ExcepcioDocumentacioWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.excepcioDocumentacio.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.excepcioDocumentacio.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://documentTramit.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://catalegDocuments.v2.api.rolsac.caib.es"
	xmlns:tns4="http://excepcioDocumentacio.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.excepcioDocumentacio.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="DocumentTramitCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="CatalegDocumentsCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="ExcepcioDocumentacioCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns4" location="ExcepcioDocumentacioDTO.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.excepcioDocumentacio.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="llistarCatalegsDocumentsResponse">
		<wsdl:part name="llistarCatalegsDocumentsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentsTramitsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:DocumentTramitCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumDocumentsTramitRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarCatalegsDocumentsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns3:CatalegDocumentsCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumCatalegsDocumentsResponse">
		<wsdl:part name="getNumCatalegsDocumentsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumCatalegsDocumentsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentsTramitsResponse">
		<wsdl:part name="llistarDocumentsTramitsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumDocumentsTramitResponse">
		<wsdl:part name="getNumDocumentsTramitReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:portType name="ExcepcioDocumentacioQueryServiceEJBRemote">
		<wsdl:operation name="getNumDocumentsTramit"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumDocumentsTramitRequest"
				name="getNumDocumentsTramitRequest" />
			<wsdl:output message="impl:getNumDocumentsTramitResponse"
				name="getNumDocumentsTramitResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarDocumentsTramits"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarDocumentsTramitsRequest"
				name="llistarDocumentsTramitsRequest" />
			<wsdl:output message="impl:llistarDocumentsTramitsResponse"
				name="llistarDocumentsTramitsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumCatalegsDocuments"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumCatalegsDocumentsRequest"
				name="getNumCatalegsDocumentsRequest" />
			<wsdl:output message="impl:getNumCatalegsDocumentsResponse"
				name="getNumCatalegsDocumentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarCatalegsDocuments"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarCatalegsDocumentsRequest"
				name="llistarCatalegsDocumentsRequest" />
			<wsdl:output message="impl:llistarCatalegsDocumentsResponse"
				name="llistarCatalegsDocumentsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ExcepcioDocumentacioWSSoapBinding"
		type="impl:ExcepcioDocumentacioQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getNumDocumentsTramit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumDocumentsTramitRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.excepcioDocumentacio.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumDocumentsTramitResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.excepcioDocumentacio.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarDocumentsTramits">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarDocumentsTramitsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.excepcioDocumentacio.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarDocumentsTramitsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.excepcioDocumentacio.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumCatalegsDocuments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumCatalegsDocumentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.excepcioDocumentacio.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumCatalegsDocumentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.excepcioDocumentacio.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarCatalegsDocuments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarCatalegsDocumentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.excepcioDocumentacio.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarCatalegsDocumentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.excepcioDocumentacio.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExcepcioDocumentacioQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:ExcepcioDocumentacioWSSoapBinding"
			name="ExcepcioDocumentacioWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/ExcepcioDocumentacioWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>