moduls/api/etc/wsdl/FamiliaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.familia.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.familia.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es" xmlns:tns3="http://iconaFamilia.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.familia.v2.api.rolsac.caib.es">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://general.v2.api.rolsac.caib.es">
			<import namespace="http://iconaFamilia.v2.api.rolsac.caib.es" />
			<import namespace="http://ws.familia.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType abstract="true" name="BasicCriteria">
				<sequence>
					<element name="id" nillable="true" type="xsd:string" />
					<element name="idioma" nillable="true" type="xsd:string" />
					<element name="inici" nillable="true" type="xsd:string" />
					<element name="ordenacio" nillable="true" type="xsd:string" />
					<element name="tamany" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://procediment.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://iconaFamilia.v2.api.rolsac.caib.es" />
			<import namespace="http://ws.familia.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ProcedimentCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="actiu" nillable="true" type="xsd:boolean" />
							<element name="fechaActualizacion" nillable="true"
								type="xsd:dateTime" />
							<element name="fechaCaducidad" nillable="true" type="xsd:dateTime" />
							<element name="fechaPublicacion" nillable="true" type="xsd:dateTime" />
							<element name="indicador" nillable="true" type="xsd:boolean" />
							<element name="info" nillable="true" type="xsd:string" />
							<element name="orden" nillable="true" type="xsd:string" />
							<element name="orden2" nillable="true" type="xsd:string" />
							<element name="orden3" nillable="true" type="xsd:string" />
							<element name="responsable" nillable="true" type="xsd:string" />
							<element name="signatura" nillable="true" type="xsd:string" />
							<element name="t_destinatarios" nillable="true" type="xsd:string" />
							<element name="t_lugar" nillable="true" type="xsd:string" />
							<element name="t_nombre" nillable="true" type="xsd:string" />
							<element name="t_notificacion" nillable="true" type="xsd:string" />
							<element name="t_observaciones" nillable="true" type="xsd:string" />
							<element name="t_plazos" nillable="true" type="xsd:string" />
							<element name="t_recursos" nillable="true" type="xsd:string" />
							<element name="t_requisitos" nillable="true" type="xsd:string" />
							<element name="t_resolucion" nillable="true" type="xsd:string" />
							<element name="t_resultat" nillable="true" type="xsd:string" />
							<element name="t_resumen" nillable="true" type="xsd:string" />
							<element name="t_silencio" nillable="true" type="xsd:string" />
							<element name="taxa" nillable="true" type="xsd:boolean" />
							<element name="tramite" nillable="true" type="xsd:string" />
							<element name="url" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:string" />
							<element name="ventanillaUnica" nillable="true" type="xsd:boolean" />
							<element name="version" nillable="true" type="xsd:string" />
                            <element name="familia" nillable="true" type="xsd:string" />
                            <element name="agrupacionMateria" nillable="true" type="xsd:string" />
                            <element name="publicoObjetivo" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.familia.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://iconaFamilia.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://iconaFamilia.v2.api.rolsac.caib.es" />
			<import namespace="http://ws.familia.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item"
						type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://iconaFamilia.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://ws.familia.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="IconaFamiliaCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence/>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="llistarIconesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns3:IconaFamiliaCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumIconesResponse">
		<wsdl:part name="getNumIconesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarIconesResponse">
		<wsdl:part name="llistarIconesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsLocalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsLocalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:ProcedimentCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsLocalsResponse">
		<wsdl:part name="llistarProcedimentsLocalsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsLocalsResponse">
		<wsdl:part name="getNumProcedimentsLocalsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumIconesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="FamiliaQueryServiceEJBRemote">
		<wsdl:operation name="llistarProcedimentsLocals"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarProcedimentsLocalsRequest"
				name="llistarProcedimentsLocalsRequest" />
			<wsdl:output message="impl:llistarProcedimentsLocalsResponse"
				name="llistarProcedimentsLocalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumProcedimentsLocals"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumProcedimentsLocalsRequest"
				name="getNumProcedimentsLocalsRequest" />
			<wsdl:output message="impl:getNumProcedimentsLocalsResponse"
				name="getNumProcedimentsLocalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumIcones" parameterOrder="in0">
			<wsdl:input message="impl:getNumIconesRequest" name="getNumIconesRequest" />
			<wsdl:output message="impl:getNumIconesResponse" name="getNumIconesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarIcones" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarIconesRequest" name="llistarIconesRequest" />
			<wsdl:output message="impl:llistarIconesResponse" name="llistarIconesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FamiliaWSSoapBinding" type="impl:FamiliaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="llistarProcedimentsLocals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarProcedimentsLocalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.familia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarProcedimentsLocalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.familia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumProcedimentsLocals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumProcedimentsLocalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.familia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumProcedimentsLocalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.familia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumIcones">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumIconesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.familia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumIconesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.familia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarIcones">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarIconesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.familia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarIconesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.familia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FamiliaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:FamiliaWSSoapBinding" name="FamiliaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/FamiliaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>