moduls/api/etc/wsdl/FetVitalWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.fetVital.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.fetVital.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:tns2="http://fitxa.v2.api.rolsac.caib.es"
	xmlns:tns3="http://general.v2.api.rolsac.caib.es"
	xmlns:tns4="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns5="http://agrupacioFetVital.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.fetVital.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="ArxiuDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="FitxaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="ProcedimentCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns5" location="AgrupacioFetVitalCriteria.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.fetVital.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="llistarFitxesResponse">
		<wsdl:part name="llistarFitxesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumFitxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getFotografiaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFitxesResponse">
		<wsdl:part name="getNumFitxesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getIconaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFetsVitalsAgrupacionsFVResponse">
		<wsdl:part name="getNumFetsVitalsAgrupacionsFVReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsLocalsResponse">
		<wsdl:part name="getNumProcedimentsLocalsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns2:FitxaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsAgrupacionsFVRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns5:AgrupacioFetVitalCriteria" />
	</wsdl:message>
	<wsdl:message name="getIconaGranResponse">
		<wsdl:part name="getIconaGranReturn" type="tns1:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsLocalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsLocalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns4:ProcedimentCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsAgrupacionsFVResponse">
		<wsdl:part name="llistarFetsVitalsAgrupacionsFVReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getIconaGranRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getFotografiaResponse">
		<wsdl:part name="getFotografiaReturn" type="tns1:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumFetsVitalsAgrupacionsFVRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getIconaResponse">
		<wsdl:part name="getIconaReturn" type="tns1:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsLocalsResponse">
		<wsdl:part name="llistarProcedimentsLocalsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:portType name="FetVitalQueryServiceEJBRemote">
		<wsdl:operation name="getIcona" parameterOrder="in0">
			<wsdl:input message="impl:getIconaRequest" name="getIconaRequest" />
			<wsdl:output message="impl:getIconaResponse" name="getIconaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFitxesRequest" name="llistarFitxesRequest" />
			<wsdl:output message="impl:llistarFitxesResponse" name="llistarFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarProcedimentsLocals"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarProcedimentsLocalsRequest"
				name="llistarProcedimentsLocalsRequest" />
			<wsdl:output message="impl:llistarProcedimentsLocalsResponse"
				name="llistarProcedimentsLocalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFetsVitalsAgrupacionsFV"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFetsVitalsAgrupacionsFVRequest"
				name="llistarFetsVitalsAgrupacionsFVRequest" />
			<wsdl:output message="impl:llistarFetsVitalsAgrupacionsFVResponse"
				name="llistarFetsVitalsAgrupacionsFVResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFitxes" parameterOrder="in0">
			<wsdl:input message="impl:getNumFitxesRequest" name="getNumFitxesRequest" />
			<wsdl:output message="impl:getNumFitxesResponse" name="getNumFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumProcedimentsLocals"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumProcedimentsLocalsRequest"
				name="getNumProcedimentsLocalsRequest" />
			<wsdl:output message="impl:getNumProcedimentsLocalsResponse"
				name="getNumProcedimentsLocalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFetsVitalsAgrupacionsFV"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumFetsVitalsAgrupacionsFVRequest"
				name="getNumFetsVitalsAgrupacionsFVRequest" />
			<wsdl:output message="impl:getNumFetsVitalsAgrupacionsFVResponse"
				name="getNumFetsVitalsAgrupacionsFVResponse" />
		</wsdl:operation>
		<wsdl:operation name="getFotografia" parameterOrder="in0">
			<wsdl:input message="impl:getFotografiaRequest" name="getFotografiaRequest" />
			<wsdl:output message="impl:getFotografiaResponse" name="getFotografiaResponse" />
		</wsdl:operation>
		<wsdl:operation name="getIconaGran" parameterOrder="in0">
			<wsdl:input message="impl:getIconaGranRequest" name="getIconaGranRequest" />
			<wsdl:output message="impl:getIconaGranResponse" name="getIconaGranResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FetVitalWSSoapBinding" type="impl:FetVitalQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getIcona">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getIconaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getIconaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarProcedimentsLocals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarProcedimentsLocalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarProcedimentsLocalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFetsVitalsAgrupacionsFV">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFetsVitalsAgrupacionsFVRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFetsVitalsAgrupacionsFVResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumProcedimentsLocals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumProcedimentsLocalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumProcedimentsLocalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFetsVitalsAgrupacionsFV">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFetsVitalsAgrupacionsFVRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFetsVitalsAgrupacionsFVResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFotografia">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getFotografiaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getFotografiaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getIconaGran">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getIconaGranRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getIconaGranResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FetVitalQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:FetVitalWSSoapBinding" name="FetVitalWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/FetVitalWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>