moduls/api/etc/wsdl/FetVitalWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.fetVital.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.fetVital.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:tns2="http://fitxa.v2.api.rolsac.caib.es"
	xmlns:tns3="http://general.v2.api.rolsac.caib.es"
	xmlns:tns4="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns5="http://agrupacioFetVital.v2.api.rolsac.caib.es"
	xmlns:tns6="http://servicio.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.fetVital.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="dto/ArxiuDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="dto/FitxaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="dto/BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="dto/ProcedimentCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns5" location="dto/AgrupacioFetVitalCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns6" location="dto/ServicioCriteria.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.fetVital.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="llistarFitxesResponse">
		<wsdl:part name="llistarFitxesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumFitxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getDistribuciCompetencialRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFitxesResponse">
		<wsdl:part name="getNumFitxesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNormativaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFetsVitalsAgrupacionsFVResponse">
		<wsdl:part name="getNumFetsVitalsAgrupacionsFVReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsLocalsResponse">
		<wsdl:part name="getNumProcedimentsLocalsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumServiciosResponse">
		<wsdl:part name="getNumServiciosReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns2:FitxaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsAgrupacionsFVRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns5:AgrupacioFetVitalCriteria" />
	</wsdl:message>
	<wsdl:message name="getContingutResponse">
		<wsdl:part name="getContingutReturn" type="tns1:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsLocalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsLocalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns4:ProcedimentCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumServiciosRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarServiciosRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns6:ServicioCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsAgrupacionsFVResponse">
		<wsdl:part name="llistarFetsVitalsAgrupacionsFVReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getContingutRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getDistribuciCompetencialResponse">
		<wsdl:part name="getDistribuciCompetencialReturn" type="tns1:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumFetsVitalsAgrupacionsFVRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNormativaResponse">
		<wsdl:part name="getNormativaReturn" type="tns1:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsLocalsResponse">
		<wsdl:part name="llistarProcedimentsLocalsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarServiciosResponse">
		<wsdl:part name="llistarServiciosReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:portType name="FetVitalQueryServiceEJBRemote">
		<wsdl:operation name="getNormativa" parameterOrder="in0">
			<wsdl:input message="impl:getNormativaRequest" name="getNormativaRequest" />
			<wsdl:output message="impl:getNormativaResponse" name="getNormativaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFitxesRequest" name="llistarFitxesRequest" />
			<wsdl:output message="impl:llistarFitxesResponse" name="llistarFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarProcedimentsLocals"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarProcedimentsLocalsRequest"
				name="llistarProcedimentsLocalsRequest" />
			<wsdl:output message="impl:llistarProcedimentsLocalsResponse"
				name="llistarProcedimentsLocalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarServicios"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarServiciosRequest"
				name="llistarServiciosRequest" />
			<wsdl:output message="impl:llistarServiciosResponse"
				name="llistarServiciosResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFetsVitalsAgrupacionsFV"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFetsVitalsAgrupacionsFVRequest"
				name="llistarFetsVitalsAgrupacionsFVRequest" />
			<wsdl:output message="impl:llistarFetsVitalsAgrupacionsFVResponse"
				name="llistarFetsVitalsAgrupacionsFVResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFitxes" parameterOrder="in0">
			<wsdl:input message="impl:getNumFitxesRequest" name="getNumFitxesRequest" />
			<wsdl:output message="impl:getNumFitxesResponse" name="getNumFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumProcedimentsLocals"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumProcedimentsLocalsRequest"
				name="getNumProcedimentsLocalsRequest" />
			<wsdl:output message="impl:getNumProcedimentsLocalsResponse"
				name="getNumProcedimentsLocalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumServicios"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumServiciosRequest"
				name="getNumServiciosRequest" />
			<wsdl:output message="impl:getNumServiciosResponse"
				name="getNumServiciosResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFetsVitalsAgrupacionsFV"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumFetsVitalsAgrupacionsFVRequest"
				name="getNumFetsVitalsAgrupacionsFVRequest" />
			<wsdl:output message="impl:getNumFetsVitalsAgrupacionsFVResponse"
				name="getNumFetsVitalsAgrupacionsFVResponse" />
		</wsdl:operation>
		<wsdl:operation name="getDistribuciCompetencial" parameterOrder="in0">
			<wsdl:input message="impl:getDistribuciCompetencialRequest" name="getDistribuciCompetencialRequest" />
			<wsdl:output message="impl:getDistribuciCompetencialResponse" name="getDistribuciCompetencialResponse" />
		</wsdl:operation>
		<wsdl:operation name="getContingut" parameterOrder="in0">
			<wsdl:input message="impl:getContingutRequest" name="getContingutRequest" />
			<wsdl:output message="impl:getContingutResponse" name="getContingutResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FetVitalWSSoapBinding" type="impl:FetVitalQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getNormativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNormativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNormativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarProcedimentsLocals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarProcedimentsLocalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarProcedimentsLocalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarServicios">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarServiciosRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarServiciosResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFetsVitalsAgrupacionsFV">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFetsVitalsAgrupacionsFVRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFetsVitalsAgrupacionsFVResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumProcedimentsLocals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumProcedimentsLocalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumProcedimentsLocalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumServicios">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumServiciosRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumServiciosResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFetsVitalsAgrupacionsFV">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFetsVitalsAgrupacionsFVRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFetsVitalsAgrupacionsFVResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDistribuciCompetencial">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getDistribuciCompetencialRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getDistribuciCompetencialResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getContingut">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getContingutRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fetVital.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getContingutResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fetVital.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FetVitalQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:FetVitalWSSoapBinding" name="FetVitalWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/FetVitalWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>