moduls/api/etc/wsdl/FitxaUAWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.fitxaUA.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.fitxaUA.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://fitxa.v2.api.rolsac.caib.es"
	xmlns:tns4="http://seccio.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.fitxaUA.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="UnitatAdministrativaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="EntitatRemota.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="FitxaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="SeccioDTO.wsdl"/>
	
	<wsdl:types>
	</wsdl:types>
	
	<wsdl:message name="obtenirFitxaResponse">
		<wsdl:part name="obtenirFitxaReturn" type="tns3:FitxaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirSeccioResponse">
		<wsdl:part name="obtenirSeccioReturn" type="tns4:SeccioDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaResponse">
		<wsdl:part name="obtenirUnitatAdministrativaReturn" type="tns1:UnitatAdministrativaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirSeccioRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="FitxaUAQueryServiceEJBRemote">
		<wsdl:operation name="obtenirUnitatAdministrativa"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirUnitatAdministrativaRequest"
				name="obtenirUnitatAdministrativaRequest" />
			<wsdl:output message="impl:obtenirUnitatAdministrativaResponse"
				name="obtenirUnitatAdministrativaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxa" parameterOrder="in0">
			<wsdl:input message="impl:obtenirFitxaRequest" name="obtenirFitxaRequest" />
			<wsdl:output message="impl:obtenirFitxaResponse" name="obtenirFitxaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirSeccio" parameterOrder="in0">
			<wsdl:input message="impl:obtenirSeccioRequest" name="obtenirSeccioRequest" />
			<wsdl:output message="impl:obtenirSeccioResponse" name="obtenirSeccioResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FitxaUAWSSoapBinding" type="impl:FitxaUAQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirUnitatAdministrativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirUnitatAdministrativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxaUA.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirUnitatAdministrativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxaUA.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFitxaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxaUA.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFitxaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxaUA.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirSeccio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirSeccioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxaUA.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirSeccioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxaUA.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FitxaUAQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:FitxaUAWSSoapBinding" name="FitxaUAWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/FitxaUAWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>