moduls/api/etc/wsdl/FitxaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.fitxa.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.fitxa.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://fetVital.v2.api.rolsac.caib.es"
	xmlns:tns4="http://document.v2.api.rolsac.caib.es"
	xmlns:tns5="http://enllac.v2.api.rolsac.caib.es"
	xmlns:tns6="http://seccio.v2.api.rolsac.caib.es"
	xmlns:tns7="http://arxiu.v2.api.rolsac.caib.es"
    xmlns:tns8="http://publicObjectiu.v2.api.rolsac.caib.es"
    xmlns:tns9="http://materia.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.fitxa.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="dto/UnitatAdministrativaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="dto/BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="dto/FetVitalCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="dto/DocumentCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns5" location="dto/EnllacCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns6" location="dto/SeccioCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns7" location="dto/ArxiuDTO.wsdl"/>
	<wsdl:import namespace="urn:tns8" location="dto/PublicObjectiuCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns9" location="dto/MateriaCriteria.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.fitxa.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="getNumSeccionsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaResponse">
		<wsdl:part name="obtenirIconaReturn" type="tns7:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarSeccionsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns6:SeccioCriteria" />
	</wsdl:message>
    <wsdl:message name="llistarPublicsObjectiusRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns8:PublicObjectiuCriteria" />
    </wsdl:message>
	<wsdl:message name="llistarEnllacosRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns5:EnllacCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumUnitatsAdministrativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFetsVitalsResponse">
		<wsdl:part name="getNumFetsVitalsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarSeccionsResponse">
		<wsdl:part name="llistarSeccionsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
    <wsdl:message name="llistarPublicsObjectiusResponse">
        <wsdl:part name="llistarPublicsObjectiusReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
	<wsdl:message name="llistarFetsVitalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns3:FetVitalCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsResponse">
		<wsdl:part name="llistarFetsVitalsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsAdministrativesResponse">
		<wsdl:part name="llistarUnitatsAdministrativesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumSeccionsResponse">
		<wsdl:part name="getNumSeccionsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumFetsVitalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumUnitatsAdministrativesResponse">
		<wsdl:part name="getNumUnitatsAdministrativesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="obtenirBanerRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumDocumentsResponse">
		<wsdl:part name="getNumDocumentsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumDocumentsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirImatgeRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumEnllacosRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarEnllacosResponse">
		<wsdl:part name="llistarEnllacosReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns4:DocumentCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumEnllacosResponse">
		<wsdl:part name="getNumEnllacosReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsAdministrativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:UnitatAdministrativaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirImatgeResponse">
		<wsdl:part name="obtenirImatgeReturn" type="tns7:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirBanerResponse">
		<wsdl:part name="obtenirBanerReturn" type="tns7:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentsResponse">
		<wsdl:part name="llistarDocumentsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumMateriesResponse">
		<wsdl:part name="getNumMateriesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns9:MateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesResponse">
		<wsdl:part name="llistarMateriesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:portType name="FitxaQueryServiceEJBRemote">
		<wsdl:operation name="getNumUnitatsAdministratives"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumUnitatsAdministrativesRequest"
				name="getNumUnitatsAdministrativesRequest" />
			<wsdl:output message="impl:getNumUnitatsAdministrativesResponse"
				name="getNumUnitatsAdministrativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarUnitatsAdministratives"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarUnitatsAdministrativesRequest"
				name="llistarUnitatsAdministrativesRequest" />
			<wsdl:output message="impl:llistarUnitatsAdministrativesResponse"
				name="llistarUnitatsAdministrativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFetsVitals"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFetsVitalsRequest" name="llistarFetsVitalsRequest" />
			<wsdl:output message="impl:llistarFetsVitalsResponse"
				name="llistarFetsVitalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarDocuments" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarDocumentsRequest" name="llistarDocumentsRequest" />
			<wsdl:output message="impl:llistarDocumentsResponse"
				name="llistarDocumentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarEnllacos" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarEnllacosRequest" name="llistarEnllacosRequest" />
			<wsdl:output message="impl:llistarEnllacosResponse" name="llistarEnllacosResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarSeccions" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarSeccionsRequest" name="llistarSeccionsRequest" />
            <wsdl:output message="impl:llistarSeccionsResponse" name="llistarSeccionsResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarPublicsObjectius" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarPublicsObjectiusRequest" name="llistarPublicsObjectiusRequest" />
            <wsdl:output message="impl:llistarPublicsObjectiusResponse" name="llistarPublicsObjectiusResponse" />
        </wsdl:operation>
		<wsdl:operation name="obtenirIcona" parameterOrder="in0">
			<wsdl:input message="impl:obtenirIconaRequest" name="obtenirIconaRequest" />
			<wsdl:output message="impl:obtenirIconaResponse" name="obtenirIconaResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFetsVitals" parameterOrder="in0">
			<wsdl:input message="impl:getNumFetsVitalsRequest" name="getNumFetsVitalsRequest" />
			<wsdl:output message="impl:getNumFetsVitalsResponse"
				name="getNumFetsVitalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumSeccions" parameterOrder="in0">
			<wsdl:input message="impl:getNumSeccionsRequest" name="getNumSeccionsRequest" />
			<wsdl:output message="impl:getNumSeccionsResponse" name="getNumSeccionsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumDocuments" parameterOrder="in0">
			<wsdl:input message="impl:getNumDocumentsRequest" name="getNumDocumentsRequest" />
			<wsdl:output message="impl:getNumDocumentsResponse" name="getNumDocumentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumEnllacos" parameterOrder="in0">
			<wsdl:input message="impl:getNumEnllacosRequest" name="getNumEnllacosRequest" />
			<wsdl:output message="impl:getNumEnllacosResponse" name="getNumEnllacosResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirImatge" parameterOrder="in0">
			<wsdl:input message="impl:obtenirImatgeRequest" name="obtenirImatgeRequest" />
			<wsdl:output message="impl:obtenirImatgeResponse" name="obtenirImatgeResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirBaner" parameterOrder="in0">
			<wsdl:input message="impl:obtenirBanerRequest" name="obtenirBanerRequest" />
			<wsdl:output message="impl:obtenirBanerResponse" name="obtenirBanerResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumMateries" parameterOrder="in0">
			<wsdl:input message="impl:getNumMateriesRequest" name="getNumMateriesRequest" />
			<wsdl:output message="impl:getNumMateriesResponse" name="getNumMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarMateries" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarMateriesRequest" name="llistarMateriesRequest" />
			<wsdl:output message="impl:llistarMateriesResponse" name="llistarMateriesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FitxaWSSoapBinding" type="impl:FitxaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getNumUnitatsAdministratives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumUnitatsAdministrativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumUnitatsAdministrativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarUnitatsAdministratives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarUnitatsAdministrativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarUnitatsAdministrativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFetsVitals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFetsVitalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFetsVitalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarDocuments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarDocumentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarDocumentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarEnllacos">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarEnllacosRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarEnllacosResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarSeccions">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarSeccionsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarSeccionsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarPublicsObjectius">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarPublicsObjectiusRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarPublicsObjectiusResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="obtenirIcona">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirIconaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirIconaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFetsVitals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFetsVitalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFetsVitalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumSeccions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumSeccionsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumSeccionsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumDocuments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumDocumentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumDocumentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumEnllacos">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumEnllacosRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumEnllacosResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirImatge">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirImatgeRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirImatgeResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirBaner">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirBanerRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirBanerResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarMateries">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarMateriesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://intf.ejb.fitxa.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarMateriesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://ws.fitxa.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FitxaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:FitxaWSSoapBinding" name="FitxaWS">
			<wsdlsoap:address location="https://localhost:8443/sacws-api/services/FitxaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>