moduls/api/etc/wsdl/IconaMateriaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.iconaMateria.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.iconaMateria.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://materia.v2.api.rolsac.caib.es"
	xmlns:tns2="http://perfil.v2.api.rolsac.caib.es"
	xmlns:tns3="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.iconaMateria.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="dto/MateriaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="dto/PerfilDTO.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="dto/ArxiuDTO.wsdl"/>
	
	<wsdl:types>
	</wsdl:types>
	
	<wsdl:message name="obtenirMateriaResponse">
		<wsdl:part name="obtenirMateriaReturn" type="tns1:MateriaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirPerfilResponse">
		<wsdl:part name="obtenirPerfilReturn" type="tns2:PerfilDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirMateriaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaResponse">
		<wsdl:part name="obtenirIconaReturn" type="tns3:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirPerfilRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="IconaMateriaQueryServiceEJBRemote">
		<wsdl:operation name="obtenirMateria" parameterOrder="in0">
			<wsdl:input message="impl:obtenirMateriaRequest" name="obtenirMateriaRequest" />
			<wsdl:output message="impl:obtenirMateriaResponse" name="obtenirMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirPerfil" parameterOrder="in0">
			<wsdl:input message="impl:obtenirPerfilRequest" name="obtenirPerfilRequest" />
			<wsdl:output message="impl:obtenirPerfilResponse" name="obtenirPerfilResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirIcona" parameterOrder="in0">
			<wsdl:input message="impl:obtenirIconaRequest" name="obtenirIconaRequest" />
			<wsdl:output message="impl:obtenirIconaResponse" name="obtenirIconaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IconaMateriaWSSoapBinding"
		type="impl:IconaMateriaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.iconaMateria.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.iconaMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirPerfil">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirPerfilRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.iconaMateria.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirPerfilResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.iconaMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirIcona">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirIconaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.iconaMateria.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirIconaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.iconaMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IconaMateriaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:IconaMateriaWSSoapBinding" name="IconaMateriaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/IconaMateriaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>