moduls/api/etc/wsdl/IconaFamiliaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.iconaFamilia.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.iconaFamilia.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://familia.v2.api.rolsac.caib.es"
	xmlns:tns2="http://perfil.v2.api.rolsac.caib.es"
	xmlns:tns3="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.iconaFamilia.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="FamiliaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="PerfilDTO.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="ArxiuDTO.wsdl"/>
	
	<wsdl:types>
	</wsdl:types>
	
	<wsdl:message name="obtenirPerfilRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaResponse">
		<wsdl:part name="obtenirIconaReturn" type="tns3:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirFamiliaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirPerfilResponse">
		<wsdl:part name="obtenirPerfilReturn" type="tns2:PerfilDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFamiliaResponse">
		<wsdl:part name="obtenirFamiliaReturn" type="tns1:FamiliaDTO" />
	</wsdl:message>
	<wsdl:portType name="IconaFamiliaQueryServiceEJBRemote">
		<wsdl:operation name="obtenirFamilia" parameterOrder="in0">
			<wsdl:input message="impl:obtenirFamiliaRequest" name="obtenirFamiliaRequest" />
			<wsdl:output message="impl:obtenirFamiliaResponse" name="obtenirFamiliaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirPerfil" parameterOrder="in0">
			<wsdl:input message="impl:obtenirPerfilRequest" name="obtenirPerfilRequest" />
			<wsdl:output message="impl:obtenirPerfilResponse" name="obtenirPerfilResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirIcona" parameterOrder="in0">
			<wsdl:input message="impl:obtenirIconaRequest" name="obtenirIconaRequest" />
			<wsdl:output message="impl:obtenirIconaResponse" name="obtenirIconaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IconaFamiliaWSSoapBinding"
		type="impl:IconaFamiliaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirFamilia">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFamiliaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.iconaFamilia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFamiliaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.iconaFamilia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirPerfil">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirPerfilRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.iconaFamilia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirPerfilResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.iconaFamilia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirIcona">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirIconaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.iconaFamilia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirIconaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.iconaFamilia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IconaFamiliaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:IconaFamiliaWSSoapBinding" name="IconaFamiliaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/IconaFamiliaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>