moduls/api/etc/wsdl/MateriaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.materia.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.materia.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://fitxa.v2.api.rolsac.caib.es"
	xmlns:tns4="http://iconaMateria.v2.api.rolsac.caib.es"
	xmlns:tns5="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns6="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:tns7="http://agrupacioMateria.v2.api.rolsac.caib.es"
	xmlns:tns8="http://unitatMateria.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.materia.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="UnitatAdministrativaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="FitxaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="IconaMateriaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns5" location="ProcedimentCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns6" location="ArxiuDTO.wsdl"/>
	<wsdl:import namespace="urn:tns7" location="AgrupacioMateriaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns8" location="UnitatMateriaCriteria.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.materia.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="getNumUnitatsMateriesResponse">
		<wsdl:part name="getNumUnitatsMateriesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getIconaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumAgrupacioMateriesResponse">
		<wsdl:part name="getNumAgrupacioMateriesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumAgrupacioMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFitxesResponse">
		<wsdl:part name="getNumFitxesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsLocalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns5:ProcedimentCriteria" />
	</wsdl:message>
	<wsdl:message name="getIconaGranRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumIconesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsAdministrativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:UnitatAdministrativaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsMateriaResponse">
		<wsdl:part name="llistarUnitatsMateriaReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumIconesResponse">
		<wsdl:part name="getNumIconesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns3:FitxaCriteria" />
	</wsdl:message>
	<wsdl:message name="getIconaGranResponse">
		<wsdl:part name="getIconaGranReturn" type="tns6:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsLocalsResponse">
		<wsdl:part name="getNumProcedimentsLocalsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumFitxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesResponse">
		<wsdl:part name="llistarFitxesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarAgrupacioMateriesResponse">
		<wsdl:part name="llistarAgrupacioMateriesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumUnitatsMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getFotografiaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getFotografiaResponse">
		<wsdl:part name="getFotografiaReturn" type="tns6:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getIconaResponse">
		<wsdl:part name="getIconaReturn" type="tns6:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="llistarIconesMateriesResponse">
		<wsdl:part name="llistarIconesMateriesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsLocalsResponse">
		<wsdl:part name="llistarProcedimentsLocalsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsAdministrativesResponse">
		<wsdl:part name="llistarUnitatsAdministrativesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsMateriaRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns8:UnitatMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarIconesMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns4:IconaMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarAgrupacioMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns7:AgrupacioMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsLocalsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="MateriaQueryServiceEJBRemote">
		<wsdl:operation name="llistarUnitatsAdministratives"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarUnitatsAdministrativesRequest"
				name="llistarUnitatsAdministrativesRequest" />
			<wsdl:output message="impl:llistarUnitatsAdministrativesResponse"
				name="llistarUnitatsAdministrativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFitxesRequest" name="llistarFitxesRequest" />
			<wsdl:output message="impl:llistarFitxesResponse" name="llistarFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarIconesMateries"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarIconesMateriesRequest"
				name="llistarIconesMateriesRequest" />
			<wsdl:output message="impl:llistarIconesMateriesResponse"
				name="llistarIconesMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarProcedimentsLocals"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarProcedimentsLocalsRequest"
				name="llistarProcedimentsLocalsRequest" />
			<wsdl:output message="impl:llistarProcedimentsLocalsResponse"
				name="llistarProcedimentsLocalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFitxes" parameterOrder="in0">
			<wsdl:input message="impl:getNumFitxesRequest" name="getNumFitxesRequest" />
			<wsdl:output message="impl:getNumFitxesResponse" name="getNumFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumProcedimentsLocals"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumProcedimentsLocalsRequest"
				name="getNumProcedimentsLocalsRequest" />
			<wsdl:output message="impl:getNumProcedimentsLocalsResponse"
				name="getNumProcedimentsLocalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getFotografia" parameterOrder="in0">
			<wsdl:input message="impl:getFotografiaRequest" name="getFotografiaRequest" />
			<wsdl:output message="impl:getFotografiaResponse" name="getFotografiaResponse" />
		</wsdl:operation>
		<wsdl:operation name="getIcona" parameterOrder="in0">
			<wsdl:input message="impl:getIconaRequest" name="getIconaRequest" />
			<wsdl:output message="impl:getIconaResponse" name="getIconaResponse" />
		</wsdl:operation>
		<wsdl:operation name="getIconaGran" parameterOrder="in0">
			<wsdl:input message="impl:getIconaGranRequest" name="getIconaGranRequest" />
			<wsdl:output message="impl:getIconaGranResponse" name="getIconaGranResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumAgrupacioMateries"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumAgrupacioMateriesRequest"
				name="getNumAgrupacioMateriesRequest" />
			<wsdl:output message="impl:getNumAgrupacioMateriesResponse"
				name="getNumAgrupacioMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumUnitatsMateries"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumUnitatsMateriesRequest"
				name="getNumUnitatsMateriesRequest" />
			<wsdl:output message="impl:getNumUnitatsMateriesResponse"
				name="getNumUnitatsMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumIcones" parameterOrder="in0">
			<wsdl:input message="impl:getNumIconesRequest" name="getNumIconesRequest" />
			<wsdl:output message="impl:getNumIconesResponse" name="getNumIconesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarAgrupacioMateries"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarAgrupacioMateriesRequest"
				name="llistarAgrupacioMateriesRequest" />
			<wsdl:output message="impl:llistarAgrupacioMateriesResponse"
				name="llistarAgrupacioMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarUnitatsMateria"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarUnitatsMateriaRequest"
				name="llistarUnitatsMateriaRequest" />
			<wsdl:output message="impl:llistarUnitatsMateriaResponse"
				name="llistarUnitatsMateriaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MateriaWSSoapBinding" type="impl:MateriaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="llistarUnitatsAdministratives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarUnitatsAdministrativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarUnitatsAdministrativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarIconesMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarIconesMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarIconesMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarProcedimentsLocals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarProcedimentsLocalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarProcedimentsLocalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumProcedimentsLocals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumProcedimentsLocalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumProcedimentsLocalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFotografia">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getFotografiaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getFotografiaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getIcona">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getIconaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getIconaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getIconaGran">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getIconaGranRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getIconaGranResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumAgrupacioMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumAgrupacioMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumAgrupacioMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumUnitatsMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumUnitatsMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumUnitatsMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumIcones">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumIconesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumIconesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarAgrupacioMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarAgrupacioMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarAgrupacioMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarUnitatsMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarUnitatsMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.materia.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarUnitatsMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.materia.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MateriaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:MateriaWSSoapBinding" name="MateriaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/MateriaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>