moduls/api/etc/wsdl/MateriaDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://materia.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="MateriaDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.materia.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://materia.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="MateriaDTO">
            <sequence>
                <element name="codiHita" nillable="true" type="xsd:string" />
                <element name="codigoEstandar" nillable="true" type="xsd:string" />
                <element name="descripcion" nillable="true" type="xsd:string" />
                <element name="destacada" type="xsd:boolean" />
                <element name="foto" nillable="true" type="xsd:long" />
                <element name="icono" nillable="true" type="xsd:long" />
                <element name="iconoGrande" nillable="true" type="xsd:long" />
                <element name="id" type="xsd:long" />
                <element name="nombre" nillable="true" type="xsd:string" />
                <element name="palabrasclave" nillable="true" type="xsd:string" />
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
