moduls/api/etc/wsdl/NormativaCriteria.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://normativa.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    name="NormativaCriteria"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.normativa.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://normativa.v2.api.rolsac.caib.es">
        <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="NormativaCriteria">
            <complexContent>
                <extension base="tns2:BasicCriteria">
                    <sequence>
                        <element name="numero" nillable="true" type="xsd:string" />
                        <element name="registro" nillable="true" type="xsd:string" />
                        <element name="ley" nillable="true" type="xsd:string" />
                        <element name="fecha" nillable="true" type="xsd:string" />
                        <element name="fechaBoletin" nillable="true" type="xsd:string" />
                        <element name="validacion" nillable="true" type="xsd:string" />
                        <element name="codiVuds" nillable="true" type="xsd:string" />
                        <element name="descCodiVuds" nillable="true" type="xsd:string" />
                        <element name="t_seccion" nillable="true" type="xsd:string" />                          
                        <element name="t_apartado" nillable="true" type="xsd:string" />
                        <element name="t_paginaInicial" nillable="true" type="xsd:string" />
                        <element name="t_paginaFinal" nillable="true" type="xsd:string" />
                        <element name="t_titulo" nillable="true" type="xsd:string" />
                        <element name="t_enlace" nillable="true" type="xsd:string" />
                        <element name="t_observaciones" nillable="true" type="xsd:string" />
                        <element name="t_responsable" nillable="true" type="xsd:string" />
                        <element name="incluirExternas" nillable="true" type="xsd:boolean" />
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
