moduls/api/etc/wsdl/NormativaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.normativa.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.normativa.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns4="http://butlleti.v2.api.rolsac.caib.es"
	xmlns:tns5="http://arxiu.v2.api.rolsac.caib.es"
	xmlns:tns6="http://afectacio.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.normativa.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="ProcedimentCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="EntitatRemota.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="UnitatAdministrativaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="ButlletiDTO.wsdl"/>
	<wsdl:import namespace="urn:tns5" location="ArxiuDTO.wsdl"/>
	<wsdl:import namespace="urn:tns6" location="AfectacioDTO.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.normativa.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
			<!-- Per a evitar conflictes amb DTO i ArrayStoreException -->			
			<complexType name="ArrayOfAfectacioDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns6:AfectacioDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="llistarAfectadesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarAfectacionsAfectadesResponse">
		<wsdl:part name="llistarAfectacionsAfectadesReturn" type="impl:ArrayOfAfectacioDTO" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsResponse">
		<wsdl:part name="llistarProcedimentsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumAfectadesResponse">
		<wsdl:part name="getNumAfectadesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="obtenirButlletiResponse">
		<wsdl:part name="obtenirButlletiReturn" type="tns4:ButlletiDTO" />
	</wsdl:message>
	<wsdl:message name="getNumAfectantsResponse">
		<wsdl:part name="getNumAfectantsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:ProcedimentCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarAfectacionsAfectadesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumAfectadesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarAfectantsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirArxiuNormativaResponse">
		<wsdl:part name="obtenirArxiuNormativaReturn" type="tns5:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarAfectacionsAfectantsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarAfectacionsAfectantsResponse">
		<wsdl:part name="llistarAfectacionsAfectantsReturn" type="impl:ArrayOfAfectacioDTO" />
	</wsdl:message>
	<wsdl:message name="getNumAfectantsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarAfectantsResponse">
		<wsdl:part name="llistarAfectantsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaResponse">
		<wsdl:part name="obtenirUnitatAdministrativaReturn" type="tns3:UnitatAdministrativaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirButlletiRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsResponse">
		<wsdl:part name="getNumProcedimentsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="obtenirArxiuNormativaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarAfectadesResponse">
		<wsdl:part name="llistarAfectadesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:portType name="NormativaQueryServiceEJBRemote">
		<wsdl:operation name="llistarProcediments"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarProcedimentsRequest"
				name="llistarProcedimentsRequest" />
			<wsdl:output message="impl:llistarProcedimentsResponse"
				name="llistarProcedimentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatAdministrativa"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirUnitatAdministrativaRequest"
				name="obtenirUnitatAdministrativaRequest" />
			<wsdl:output message="impl:obtenirUnitatAdministrativaResponse"
				name="obtenirUnitatAdministrativaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirButlleti" parameterOrder="in0">
			<wsdl:input message="impl:obtenirButlletiRequest" name="obtenirButlletiRequest" />
			<wsdl:output message="impl:obtenirButlletiResponse" name="obtenirButlletiResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumProcediments"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumProcedimentsRequest" name="getNumProcedimentsRequest" />
			<wsdl:output message="impl:getNumProcedimentsResponse"
				name="getNumProcedimentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarAfectades" parameterOrder="in0">
			<wsdl:input message="impl:llistarAfectadesRequest" name="llistarAfectadesRequest" />
			<wsdl:output message="impl:llistarAfectadesResponse"
				name="llistarAfectadesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumAfectades" parameterOrder="in0">
			<wsdl:input message="impl:getNumAfectadesRequest" name="getNumAfectadesRequest" />
			<wsdl:output message="impl:getNumAfectadesResponse" name="getNumAfectadesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarAfectants" parameterOrder="in0">
			<wsdl:input message="impl:llistarAfectantsRequest" name="llistarAfectantsRequest" />
			<wsdl:output message="impl:llistarAfectantsResponse"
				name="llistarAfectantsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumAfectants" parameterOrder="in0">
			<wsdl:input message="impl:getNumAfectantsRequest" name="getNumAfectantsRequest" />
			<wsdl:output message="impl:getNumAfectantsResponse" name="getNumAfectantsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirArxiuNormativa"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirArxiuNormativaRequest"
				name="obtenirArxiuNormativaRequest" />
			<wsdl:output message="impl:obtenirArxiuNormativaResponse"
				name="obtenirArxiuNormativaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarAfectacionsAfectants"
			parameterOrder="in0">
			<wsdl:input message="impl:llistarAfectacionsAfectantsRequest"
				name="llistarAfectacionsAfectantsRequest" />
			<wsdl:output message="impl:llistarAfectacionsAfectantsResponse"
				name="llistarAfectacionsAfectantsResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarAfectacionsAfectades"
			parameterOrder="in0">
			<wsdl:input message="impl:llistarAfectacionsAfectadesRequest"
				name="llistarAfectacionsAfectadesRequest" />
			<wsdl:output message="impl:llistarAfectacionsAfectadesResponse"
				name="llistarAfectacionsAfectadesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NormativaWSSoapBinding" type="impl:NormativaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="llistarProcediments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarProcedimentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarProcedimentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatAdministrativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirUnitatAdministrativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirUnitatAdministrativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirButlleti">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirButlletiRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirButlletiResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumProcediments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumProcedimentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumProcedimentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarAfectades">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarAfectadesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarAfectadesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumAfectades">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumAfectadesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumAfectadesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarAfectants">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarAfectantsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarAfectantsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumAfectants">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumAfectantsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumAfectantsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirArxiuNormativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirArxiuNormativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirArxiuNormativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarAfectacionsAfectants">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarAfectacionsAfectantsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarAfectacionsAfectantsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarAfectacionsAfectades">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarAfectacionsAfectadesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.normativa.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarAfectacionsAfectadesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.normativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="NormativaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:NormativaWSSoapBinding" name="NormativaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/NormativaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>