moduls/api/etc/wsdl/PerfilWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="https://localhost:8443/sacws-api/services/PerfilWS"
	xmlns:intf="https://localhost:8443/sacws-api/services/PerfilWS"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://iconaFamilia.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es" xmlns:tns3="http://iconaMateria.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://localhost:8443/sacws-api/services/PerfilWS">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://general.v2.api.rolsac.caib.es">
			<import namespace="http://iconaFamilia.v2.api.rolsac.caib.es" />
			<import namespace="http://iconaMateria.v2.api.rolsac.caib.es" />
			<import namespace="https://localhost:8443/sacws-api/services/PerfilWS" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType abstract="true" name="BasicCriteria">
				<sequence>
					<element name="id" nillable="true" type="xsd:string" />
					<element name="idioma" nillable="true" type="xsd:string" />
					<element name="inici" nillable="true" type="xsd:string" />
					<element name="ordenacio" nillable="true" type="xsd:string" />
					<element name="tamany" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://iconaFamilia.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://iconaMateria.v2.api.rolsac.caib.es" />
			<import namespace="https://localhost:8443/sacws-api/services/PerfilWS" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="IconaFamiliaCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence />
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="https://localhost:8443/sacws-api/services/PerfilWS">
			<import namespace="http://iconaFamilia.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://iconaMateria.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://iconaFamilia.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://iconaMateria.v2.api.rolsac.caib.es" />
			<import namespace="https://localhost:8443/sacws-api/services/PerfilWS" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item"
						type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://iconaMateria.v2.api.rolsac.caib.es">
			<import namespace="http://iconaFamilia.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="https://localhost:8443/sacws-api/services/PerfilWS" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="IconaMateriaCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence />
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getNumIconesFamiliaResponse">
		<wsdl:part name="getNumIconesFamiliaReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarIconesMateriaResponse">
		<wsdl:part name="llistarIconesMateriaReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarIconesFamiliaResponse">
		<wsdl:part name="llistarIconesFamiliaReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumIconesMateriaResponse">
		<wsdl:part name="getNumIconesMateriaReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumIconesMateriaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumIconesFamiliaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarIconesMateriaRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns3:IconaMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarIconesFamiliaRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:IconaFamiliaCriteria" />
	</wsdl:message>
	<wsdl:portType name="PerfilQueryServiceEJBRemote">
		<wsdl:operation name="llistarIconesFamilia"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarIconesFamiliaRequest"
				name="llistarIconesFamiliaRequest" />
			<wsdl:output message="impl:llistarIconesFamiliaResponse"
				name="llistarIconesFamiliaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarIconesMateria"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarIconesMateriaRequest"
				name="llistarIconesMateriaRequest" />
			<wsdl:output message="impl:llistarIconesMateriaResponse"
				name="llistarIconesMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumIconesFamilia"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumIconesFamiliaRequest"
				name="getNumIconesFamiliaRequest" />
			<wsdl:output message="impl:getNumIconesFamiliaResponse"
				name="getNumIconesFamiliaResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumIconesMateria"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumIconesMateriaRequest"
				name="getNumIconesMateriaRequest" />
			<wsdl:output message="impl:getNumIconesMateriaResponse"
				name="getNumIconesMateriaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PerfilWSSoapBinding" type="impl:PerfilQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="llistarIconesFamilia">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarIconesFamiliaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.perfil.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarIconesFamiliaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://localhost:8443/sacws-api/services/PerfilWS" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarIconesMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarIconesMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.perfil.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarIconesMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://localhost:8443/sacws-api/services/PerfilWS" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumIconesFamilia">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumIconesFamiliaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.perfil.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumIconesFamiliaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://localhost:8443/sacws-api/services/PerfilWS" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumIconesMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumIconesMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.perfil.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumIconesMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="https://localhost:8443/sacws-api/services/PerfilWS" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PerfilQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:PerfilWSSoapBinding" name="PerfilWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/PerfilWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>