moduls/api/etc/wsdl/RolsacWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.rolsac.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.rolsac.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns1="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://espaiTerritorial.v2.api.rolsac.caib.es"
	xmlns:tns4="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns5="http://materia.v2.api.rolsac.caib.es"
	xmlns:tns6="http://tramit.v2.api.rolsac.caib.es"
	xmlns:tns7="http://fetVital.v2.api.rolsac.caib.es"
    xmlns:tns8="http://fitxa.v2.api.rolsac.caib.es"
    xmlns:tns9="http://documentTramit.v2.api.rolsac.caib.es"
	xmlns:tns10="http://normativa.v2.api.rolsac.caib.es"
	xmlns:tns11="http://personal.v2.api.rolsac.caib.es"
	xmlns:tns12="http://usuari.v2.api.rolsac.caib.es"
	xmlns:tns13="http://taxa.v2.api.rolsac.caib.es"
	xmlns:tns14="http://agrupacioFetVital.v2.api.rolsac.caib.es"
	xmlns:tns15="http://agrupacioMateria.v2.api.rolsac.caib.es"
	xmlns:tns16="http://butlleti.v2.api.rolsac.caib.es"
	xmlns:tns17="http://document.v2.api.rolsac.caib.es"
	xmlns:tns18="http://edifici.v2.api.rolsac.caib.es"
	xmlns:tns19="http://enllac.v2.api.rolsac.caib.es"
	xmlns:tns20="http://familia.v2.api.rolsac.caib.es"
	xmlns:tns21="http://publicObjectiu.v2.api.rolsac.caib.es"
	xmlns:tns22="http://fitxaUA.v2.api.rolsac.caib.es"
	xmlns:tns23="http://formulari.v2.api.rolsac.caib.es"
	xmlns:tns24="http://iconaFamilia.v2.api.rolsac.caib.es"
	xmlns:tns25="http://iconaMateria.v2.api.rolsac.caib.es"
	xmlns:tns26="http://materiaAgrupacio.v2.api.rolsac.caib.es"
	xmlns:tns27="http://perfil.v2.api.rolsac.caib.es"
	xmlns:tns28="http://seccio.v2.api.rolsac.caib.es"
	xmlns:tns29="http://unitatMateria.v2.api.rolsac.caib.es"
	xmlns:tns30="http://tipus.v2.api.rolsac.caib.es"
	xmlns:tns31="http://tipusAfectacio.v2.api.rolsac.caib.es"
	xmlns:tns32="http://catalegDocuments.v2.api.rolsac.caib.es"
	xmlns:tns33="http://excepcioDocumentacio.v2.api.rolsac.caib.es"
	xmlns:tns50="http://iniciacio.v2.api.rolsac.caib.es" 
	xmlns:tns51="http://idioma.v2.api.rolsac.caib.es" 
	targetNamespace="http://ws.rolsac.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="UnitatAdministrativaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns1" location="UnitatAdministrativaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="EntitatRemota.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="EspaiTerritorialCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="EspaiTerritorialDTO.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="ProcedimentCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="ProcedimentDTO.wsdl"/>
	<wsdl:import namespace="urn:tns5" location="MateriaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns5" location="MateriaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns6" location="TramitCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns6" location="TramitDTO.wsdl"/>
	<wsdl:import namespace="urn:tns7" location="FetVitalCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns7" location="FetVitalDTO.wsdl"/>
	<wsdl:import namespace="urn:tns8" location="FitxaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns8" location="FitxaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns9" location="DocumentTramitCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns9" location="DocumentTramitDTO.wsdl"/>
	<wsdl:import namespace="urn:tns10" location="NormativaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns10" location="NormativaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns11" location="PersonalCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns11" location="PersonalDTO.wsdl"/>
	<wsdl:import namespace="urn:tns12" location="UsuariCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns12" location="UsuariDTO.wsdl"/>
	<wsdl:import namespace="urn:tns13" location="TaxaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns13" location="TaxaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns14" location="AgrupacioFetVitalCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns14" location="AgrupacioFetVitalDTO.wsdl"/>
	<wsdl:import namespace="urn:tns15" location="AgrupacioMateriaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns15" location="AgrupacioMateriaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns16" location="ButlletiCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns16" location="ButlletiDTO.wsdl"/>
	<wsdl:import namespace="urn:tns17" location="DocumentCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns17" location="DocumentDTO.wsdl"/>
	<wsdl:import namespace="urn:tns18" location="EdificiCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns18" location="EdificiDTO.wsdl"/>
	<wsdl:import namespace="urn:tns19" location="EnllacCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns19" location="EnllacDTO.wsdl"/>
	<wsdl:import namespace="urn:tns20" location="FamiliaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns20" location="FamiliaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns21" location="PublicObjectiuCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns21" location="PublicObjectiuDTO.wsdl"/>
	<wsdl:import namespace="urn:tns22" location="FitxaUACriteria.wsdl"/>
	<wsdl:import namespace="urn:tns22" location="FitxaUADTO.wsdl"/>
	<wsdl:import namespace="urn:tns23" location="FormulariCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns23" location="FormulariDTO.wsdl"/>
	<wsdl:import namespace="urn:tns24" location="IconaFamiliaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns24" location="IconaFamiliaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns25" location="IconaMateriaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns25" location="IconaMateriaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns26" location="MateriaAgrupacioCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns26" location="MateriaAgrupacioDTO.wsdl"/>
	<wsdl:import namespace="urn:tns27" location="PerfilCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns27" location="PerfilDTO.wsdl"/>
	<wsdl:import namespace="urn:tns28" location="SeccioCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns28" location="SeccioDTO.wsdl"/>
	<wsdl:import namespace="urn:tns29" location="UnitatMateriaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns29" location="UnitatMateriaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns30" location="TipusCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns30" location="TipusDTO.wsdl"/>
	<wsdl:import namespace="urn:tns31" location="TipusAfectacioCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns31" location="TipusAfectacioDTO.wsdl"/>
	<wsdl:import namespace="urn:tns32" location="CatalegDocumentsCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns32" location="CatalegDocumentsDTO.wsdl"/>
	<wsdl:import namespace="urn:tns33" location="ExcepcioDocumentacioCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns33" location="ExcepcioDocumentacioDTO.wsdl"/>
	<wsdl:import namespace="urn:tns50" location="IniciacioCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns50" location="IniciacioDTO.wsdl"/>
	<wsdl:import namespace="urn:tns51" location="IdiomaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns51" location="IdiomaCriteria.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.rolsac.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<!-- Definim aquests tipus per a evitar conflictes amb DTO i ArrayStoreException -->
			<complexType name="ArrayOfProcedimentDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns4:ProcedimentDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfIniciacioDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns50:IniciacioDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfIdiomaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns51:IdiomaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfMateriaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns5:MateriaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfTramitDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns6:TramitDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfUnitatAdministrativaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:UnitatAdministrativaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfFetVitalDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns7:FetVitalDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfFitxaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns8:FitxaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfNormativaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns10:NormativaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfPersonalDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns11:PersonalDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfDocumentTramitDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns9:DocumentTramitDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfUsuariDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns12:UsuariDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfTaxaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns13:TaxaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfAgrupacioFetVitalDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns14:AgrupacioFetVitalDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfAgrupacioMateriaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns15:AgrupacioMateriaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfButlletiDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns16:ButlletiDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfDocumentDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns17:DocumentDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfEdificiDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns18:EdificiDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfEnllacDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns19:EnllacDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfEspaiTerritorialDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:EspaiTerritorialDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfPublicObjetiuDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns21:PublicObjectiuDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfTipusAfectacioDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns31:TipusAfectacioDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfFamiliaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns20:FamiliaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfFitxaUADTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns22:FitxaUADTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfFormulariDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns23:FormulariDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfIconaFamiliaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns24:IconaFamiliaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfIconaMateriaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns25:IconaMateriaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfMateriaAgrupacioDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns26:MateriaAgrupacioDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfPerfilDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns27:PerfilDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfSeccioDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns28:SeccioDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfUnitatMateriaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns29:UnitatMateriaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfTipusDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns30:TipusDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="ArrayOfCatalegDocumentsDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns32:CatalegDocumentsDTO[]" />
					</restriction>
				</complexContent>
			</complexType>			
			
			<complexType name="ArrayOfExcepcioDocumentacioDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns33:ExcepcioDocumentacioDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
		
	</wsdl:types>	
	
	<wsdl:message name="llistarUsuarisResponse">
		<wsdl:part name="llistarUsuarisReturn" type="impl:ArrayOfUsuariDTO" />
	</wsdl:message>
	<wsdl:message name="llistarPerfilsRequest">
		<wsdl:part name="in0" type="tns27:PerfilCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesRequest">
		<wsdl:part name="in0" type="tns8:FitxaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarEspaisTerritorialsRequest">
		<wsdl:part name="in0" type="tns3:EspaiTerritorialCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirMateriaRequest">
		<wsdl:part name="in0" type="tns5:MateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarAgrupacionsFetsVitalsResponse">
		<wsdl:part name="llistarAgrupacionsFetsVitalsReturn" type="impl:ArrayOfAgrupacioFetVitalDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirTramitRequest">
		<wsdl:part name="in0" type="tns6:TramitCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarButlletinsRequest">
		<wsdl:part name="in0" type="tns16:ButlletiCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirDocumentRequest">
		<wsdl:part name="in0" type="tns17:DocumentCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarTipusRequest">
		<wsdl:part name="in0" type="tns30:TipusCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirPerfilResponse">
		<wsdl:part name="obtenirPerfilReturn" type="tns27:PerfilDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaResponse">
		<wsdl:part name="obtenirFitxaReturn" type="tns8:FitxaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarEnllacosRequest">
		<wsdl:part name="in0" type="tns19:EnllacCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesRequest">
		<wsdl:part name="in0" type="tns5:MateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFamiliesResponse">
		<wsdl:part name="llistarFamiliesReturn" type="impl:ArrayOfFamiliaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirTipusResponse">
		<wsdl:part name="obtenirTipusReturn" type="tns30:TipusDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirNormativaResponse">
		<wsdl:part name="obtenirNormativaReturn" type="tns10:NormativaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesResponse">
		<wsdl:part name="llistarFitxesReturn" type="impl:ArrayOfFitxaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarAgrupacionsMateriesResponse">
		<wsdl:part name="llistarAgrupacionsMateriesReturn" type="impl:ArrayOfAgrupacioMateriaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirSeccioRequest">
		<wsdl:part name="in0" type="tns28:SeccioCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesAgrupacionsRequest">
		<wsdl:part name="in0" type="tns26:MateriaAgrupacioCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarNormativesRequest">
		<wsdl:part name="in0" type="tns10:NormativaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFormularisResponse">
		<wsdl:part name="llistarFormularisReturn" type="impl:ArrayOfFormulariDTO" />
	</wsdl:message>
	<wsdl:message name="llistarPersonalResponse">
		<wsdl:part name="llistarPersonalReturn" type="impl:ArrayOfPersonalDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaUAResponse">
		<wsdl:part name="obtenirFitxaUAReturn" type="tns22:FitxaUADTO" />
	</wsdl:message>
	<wsdl:message name="llistarAgrupacionsMateriesRequest">
		<wsdl:part name="in0" type="tns15:AgrupacioMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirUsuariRequest">
		<wsdl:part name="in0" type="tns12:UsuariCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarPersonalRequest">
		<wsdl:part name="in0" type="tns11:PersonalCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirPerfilRequest">
		<wsdl:part name="in0" type="tns27:PerfilCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirEspaiTerritorialRequest">
		<wsdl:part name="in0" type="tns3:EspaiTerritorialCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentsResponse">
		<wsdl:part name="llistarDocumentsReturn" type="impl:ArrayOfDocumentDTO" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsAdministrativesRequest">
		<wsdl:part name="in0" type="tns1:UnitatAdministrativaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirEnllacResponse">
		<wsdl:part name="obtenirEnllacReturn" type="tns19:EnllacDTO" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesUARequest">
		<wsdl:part name="in0" type="tns22:FitxaUACriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirProcedimentRequest">
		<wsdl:part name="in0" type="tns4:ProcedimentCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirEspaiTerritorialResponse">
		<wsdl:part name="obtenirEspaiTerritorialReturn" type="tns3:EspaiTerritorialDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFormulariRequest">
		<wsdl:part name="in0" type="tns23:FormulariCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirSeccioResponse">
		<wsdl:part name="obtenirSeccioReturn" type="tns28:SeccioDTO" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesAgrupacionsResponse">
		<wsdl:part name="llistarMateriesAgrupacionsReturn" type="impl:ArrayOfMateriaAgrupacioDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirEdificiRequest">
		<wsdl:part name="in0" type="tns18:EdificiCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarIconesMateriesRequest">
		<wsdl:part name="in0" type="tns25:IconaMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarTramitRequest">
		<wsdl:part name="in0" type="tns6:TramitCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsRequest">
		<wsdl:part name="in0" type="tns7:FetVitalCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaRequest">
		<wsdl:part name="in0" type="tns1:UnitatAdministrativaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarEdificisRequest">
		<wsdl:part name="in0" type="tns18:EdificiCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirPersonalResponse">
		<wsdl:part name="obtenirPersonalReturn" type="tns11:PersonalDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirButlletiResponse">
		<wsdl:part name="obtenirButlletiReturn" type="tns16:ButlletiDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirTaxaResponse">
		<wsdl:part name="obtenirTaxaReturn" type="tns13:TaxaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarPublicsObjectiusResponse">
		<wsdl:part name="llistarPublicsObjectiusReturn" type="impl:ArrayOfPublicObjetiuDTO" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsResponse">
		<wsdl:part name="llistarProcedimentsReturn" type="impl:ArrayOfProcedimentDTO" />
	</wsdl:message>
    <wsdl:message name="getNumProcedimentsResponse">
        <wsdl:part name="getNumProcedimentsReturn" type="xsd:int" />
    </wsdl:message>    
	<wsdl:message name="llistarUnitatsAdministrativesResponse">
		<wsdl:part name="llistarUnitatsAdministrativesReturn" type="impl:ArrayOfUnitatAdministrativaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarUsuarisRequest">
		<wsdl:part name="in0" type="tns12:UsuariCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirTaxaRequest">
		<wsdl:part name="in0" type="tns13:TaxaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentTramitResponse">
		<wsdl:part name="llistarDocumentTramitReturn" type="impl:ArrayOfDocumentTramitDTO" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesResponse">
		<wsdl:part name="llistarMateriesReturn" type="impl:ArrayOfMateriaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarIconesFamiliesResponse">
		<wsdl:part name="llistarIconesFamiliesReturn" type="impl:ArrayOfIconaFamiliaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirDocumentTramitResponse">
		<wsdl:part name="obtenirDocumentTramitReturn" type="tns9:DocumentTramitDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaRequest">
		<wsdl:part name="in0" type="tns8:FitxaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaFamiliaRequest">
		<wsdl:part name="in0" type="tns24:IconaFamiliaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarEnllacosResponse">
		<wsdl:part name="llistarEnllacosReturn" type="impl:ArrayOfEnllacDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirNormativaRequest">
		<wsdl:part name="in0" type="tns10:NormativaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirTipusRequest">
		<wsdl:part name="in0" type="tns30:TipusCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentTramitRequest">
		<wsdl:part name="in0" type="tns9:DocumentTramitCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaMateriaRequest">
		<wsdl:part name="in0" type="tns25:IconaMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirMateriaAgrupacioRequest">
		<wsdl:part name="in0" type="tns26:MateriaAgrupacioCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatMateriaRequest">
		<wsdl:part name="in0" type="tns29:UnitatMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarNormativesResponse">
		<wsdl:part name="llistarNormativesReturn" type="impl:ArrayOfNormativaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaResponse">
		<wsdl:part name="obtenirUnitatAdministrativaReturn" type="tns1:UnitatAdministrativaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirPublicObjectiuResponse">
		<wsdl:part name="obtenirPublicObjectiuReturn" type="tns21:PublicObjectiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaFamiliaResponse">
		<wsdl:part name="obtenirIconaFamiliaReturn" type="tns24:IconaFamiliaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarEspaisTerritorialsResponse">
		<wsdl:part name="llistarEspaisTerritorialsReturn" type="impl:ArrayOfEspaiTerritorialDTO" />
	</wsdl:message>
	<wsdl:message name="llistarTipusAfectacioRequest">
		<wsdl:part name="in0" type="tns31:TipusAfectacioCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirPersonalRequest">
		<wsdl:part name="in0" type="tns11:PersonalCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirAgrupacioFetVitalResponse">
		<wsdl:part name="obtenirAgrupacioFetVitalReturn" type="tns14:AgrupacioFetVitalDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirAgrupacioMateriaRequest">
		<wsdl:part name="in0" type="tns15:AgrupacioMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarEdificisResponse">
		<wsdl:part name="llistarEdificisReturn" type="impl:ArrayOfEdificiDTO" />
	</wsdl:message>
	<wsdl:message name="llistarPublicsObjectiusRequest">
		<wsdl:part name="in0" type="tns21:PublicObjectiuCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirTipusAfectacioResponse">
		<wsdl:part name="obtenirTipusAfectacioReturn" type="tns31:TipusAfectacioDTO" />
	</wsdl:message>
	<wsdl:message name="llistarTaxesResponse">
		<wsdl:part name="llistarTaxesReturn" type="impl:ArrayOfTaxaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarTipusAfectacioResponse">
		<wsdl:part name="llistarTipusAfectacioReturn" type="impl:ArrayOfTipusAfectacioDTO" />
	</wsdl:message>
	<wsdl:message name="llistarPerfilsResponse">
		<wsdl:part name="llistarPerfilsReturn" type="impl:ArrayOfPerfilDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirAgrupacioFetVitalRequest">
		<wsdl:part name="in0" type="tns14:AgrupacioFetVitalCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirFetVitalRequest">
		<wsdl:part name="in0" type="tns7:FetVitalCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirFamiliaRequest">
		<wsdl:part name="in0" type="tns20:FamiliaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirMateriaAgrupacioResponse">
		<wsdl:part name="obtenirMateriaAgrupacioReturn" type="tns26:MateriaAgrupacioDTO" />
	</wsdl:message>
	<wsdl:message name="llistarIconesFamiliesRequest">
		<wsdl:part name="in0" type="tns24:IconaFamiliaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsMateriesRequest">
		<wsdl:part name="in0" type="tns29:UnitatMateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirFamiliaResponse">
		<wsdl:part name="obtenirFamiliaReturn" type="tns20:FamiliaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirProcedimentResponse">
		<wsdl:part name="obtenirProcedimentReturn" type="tns4:ProcedimentDTO" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsRequest">
		<wsdl:part name="in0" type="tns4:ProcedimentCriteria" />
	</wsdl:message>
    <wsdl:message name="getNumProcedimentsRequest">
        <wsdl:part name="in0" type="tns4:ProcedimentCriteria" />
    </wsdl:message>    
	<wsdl:message name="obtenirFetVitalResponse">
		<wsdl:part name="obtenirFetVitalReturn" type="tns7:FetVitalDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirDocumentTramitRequest">
		<wsdl:part name="in0" type="tns9:DocumentTramitCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirEdificiResponse">
		<wsdl:part name="obtenirEdificiReturn" type="tns18:EdificiDTO" />
	</wsdl:message>
	<wsdl:message name="llistarButlletinsResponse">
		<wsdl:part name="llistarButlletinsReturn" type="impl:ArrayOfButlletiDTO" />
	</wsdl:message>
	<wsdl:message name="llistarTramitResponse">
		<wsdl:part name="llistarTramitReturn" type="impl:ArrayOfTramitDTO" />
	</wsdl:message>
	<wsdl:message name="llistarDocumentsRequest">
		<wsdl:part name="in0" type="tns17:DocumentCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirTipusAfectacioRequest">
		<wsdl:part name="in0" type="tns31:TipusAfectacioCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirEnllacRequest">
		<wsdl:part name="in0" type="tns19:EnllacCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirFormulariResponse">
		<wsdl:part name="obtenirFormulariReturn" type="tns23:FormulariDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirButlletiRequest">
		<wsdl:part name="in0" type="tns16:ButlletiCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFamiliesRequest">
		<wsdl:part name="in0" type="tns20:FamiliaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatMateriaResponse">
		<wsdl:part name="obtenirUnitatMateriaReturn" type="tns29:UnitatMateriaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirUsuariResponse">
		<wsdl:part name="obtenirUsuariReturn" type="tns12:UsuariDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirDocumentResponse">
		<wsdl:part name="obtenirDocumentReturn" type="tns17:DocumentDTO" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesUAResponse">
		<wsdl:part name="llistarFitxesUAReturn" type="impl:ArrayOfFitxaUADTO" />
	</wsdl:message>
	<wsdl:message name="llistarFormularisRequest">
		<wsdl:part name="in0" type="tns23:FormulariCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarSeccionsRequest">
		<wsdl:part name="in0" type="tns28:SeccioCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarUnitatsMateriesResponse">
		<wsdl:part name="llistarUnitatsMateriesReturn" type="impl:ArrayOfUnitatMateriaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarFetsVitalsResponse">
		<wsdl:part name="llistarFetsVitalsReturn" type="impl:ArrayOfFetVitalDTO" />
	</wsdl:message>
	<wsdl:message name="llistarSeccionsResponse">
		<wsdl:part name="llistarSeccionsReturn" type="impl:ArrayOfSeccioDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFitxaUARequest">
		<wsdl:part name="in0" type="tns22:FitxaUACriteria" />
	</wsdl:message>
	<wsdl:message name="llistarAgrupacionsFetsVitalsRequest">
		<wsdl:part name="in0" type="tns14:AgrupacioFetVitalCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirIconaMateriaResponse">
		<wsdl:part name="obtenirIconaMateriaReturn" type="tns25:IconaMateriaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirTramitResponse">
		<wsdl:part name="obtenirTramitReturn" type="tns6:TramitDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirAgrupacioMateriaResponse">
		<wsdl:part name="obtenirAgrupacioMateriaReturn" type="tns15:AgrupacioMateriaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarIconesMateriesResponse">
		<wsdl:part name="llistarIconesMateriesReturn" type="impl:ArrayOfIconaMateriaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarTaxesRequest">
		<wsdl:part name="in0" type="tns13:TaxaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirMateriaResponse">
		<wsdl:part name="obtenirMateriaReturn" type="tns5:MateriaDTO" />
	</wsdl:message>
	<wsdl:message name="llistarTipusResponse">
		<wsdl:part name="llistarTipusReturn" type="impl:ArrayOfTipusDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirPublicObjectiuRequest">
		<wsdl:part name="in0" type="tns21:PublicObjectiuCriteria" />
	</wsdl:message>
	
	<wsdl:message name="obtenirCatalegDocumentsRequest">
		<wsdl:part name="in0" type="tns32:CatalegDocumentsCriteria" />
	</wsdl:message>		
	<wsdl:message name="obtenirCatalegDocumentsResponse">
		<wsdl:part name="obtenirCatalegDocumentsReturn" type="tns32:CatalegDocumentsDTO" />
	</wsdl:message>	
		
	<wsdl:message name="llistarCatalegsDocumentsRequest">
		<wsdl:part name="in0" type="tns32:CatalegDocumentsCriteria" />
	</wsdl:message>				
	<wsdl:message name="llistarCatalegsDocumentsResponse">
		<wsdl:part name="llistarCatalegsDocumentsReturn" type="impl:ArrayOfCatalegDocumentsDTO" />
	</wsdl:message>
	
	<wsdl:message name="obtenirExcepcioDocumentacioRequest">
		<wsdl:part name="in0" type="tns33:ExcepcioDocumentacioCriteria" />
	</wsdl:message>			
	<wsdl:message name="obtenirExcepcioDocumentacioResponse">
		<wsdl:part name="obtenirExcepcioDocumentacioReturn" type="tns33:ExcepcioDocumentacioDTO" />
	</wsdl:message>	
		
	<wsdl:message name="llistarExcepcionsDocumentacioRequest">
		<wsdl:part name="in0" type="tns33:ExcepcioDocumentacioCriteria" />
	</wsdl:message>					
	<wsdl:message name="llistarExcepcionsDocumentacioResponse">
		<wsdl:part name="llistarExcepcionsDocumentacioReturn" type="impl:ArrayOfExcepcioDocumentacioDTO" />
	</wsdl:message>

	<wsdl:message name="obtenirTipusIniciacioRequest">
		<wsdl:part name="in0" type="tns50:IniciacioCriteria" />
	</wsdl:message>			
	<wsdl:message name="obtenirTipusIniciacioResponse">
		<wsdl:part name="obtenirTipusIniciacioReturn" type="tns50:IniciacioDTO" />
	</wsdl:message>	
		
	<wsdl:message name="llistarTipusIniciacionsRequest">
		<wsdl:part name="in0" type="tns50:IniciacioCriteria" />
	</wsdl:message>					
	<wsdl:message name="llistarTipusIniciacionsResponse">
		<wsdl:part name="llistarTipusIniciacionsReturn" type="impl:ArrayOfIniciacioDTO" />
	</wsdl:message>
	
	<wsdl:message name="obtenirIdiomaRequest">
		<wsdl:part name="in0" type="tns51:IdiomaCriteria" />
	</wsdl:message>			
	<wsdl:message name="obtenirIdiomaResponse">
		<wsdl:part name="obtenirIdiomaReturn" type="tns51:IdiomaDTO" />
	</wsdl:message>
	
	<wsdl:message name="llistarIdiomesRequest">
		<wsdl:part name="in0" type="tns51:IdiomaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarIdiomesResponse">
		<wsdl:part name="llistarIdiomesReturn" type="impl:ArrayOfIdiomaDTO" />
	</wsdl:message>

	<wsdl:portType name="RolsacQueryServiceEJBRemote">
		<wsdl:operation name="llistarUnitatsAdministratives"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarUnitatsAdministrativesRequest"
				name="llistarUnitatsAdministrativesRequest" />
			<wsdl:output message="intf:llistarUnitatsAdministrativesResponse"
				name="llistarUnitatsAdministrativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirEspaiTerritorial"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirEspaiTerritorialRequest"
				name="obtenirEspaiTerritorialRequest" />
			<wsdl:output message="intf:obtenirEspaiTerritorialResponse"
				name="obtenirEspaiTerritorialResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirProcediment"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirProcedimentRequest" name="obtenirProcedimentRequest" />
			<wsdl:output message="intf:obtenirProcedimentResponse"
				name="obtenirProcedimentResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarProcediments"
            parameterOrder="in0">
            <wsdl:input message="intf:llistarProcedimentsRequest"
                name="llistarProcedimentsRequest" />
            <wsdl:output message="intf:llistarProcedimentsResponse"
                name="llistarProcedimentsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumProcediments"
            parameterOrder="in0">
            <wsdl:input message="intf:getNumProcedimentsRequest"
                name="getNumProcedimentsRequest" />
            <wsdl:output message="intf:getNumProcedimentsResponse"
                name="getNumProcedimentsResponse" />
        </wsdl:operation>
		<wsdl:operation name="obtenirMateria" parameterOrder="in0">
			<wsdl:input message="intf:obtenirMateriaRequest" name="obtenirMateriaRequest" />
			<wsdl:output message="intf:obtenirMateriaResponse" name="obtenirMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarMateries" parameterOrder="in0">
			<wsdl:input message="intf:llistarMateriesRequest" name="llistarMateriesRequest" />
			<wsdl:output message="intf:llistarMateriesResponse" name="llistarMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirTramit" parameterOrder="in0">
			<wsdl:input message="intf:obtenirTramitRequest" name="obtenirTramitRequest" />
			<wsdl:output message="intf:obtenirTramitResponse" name="obtenirTramitResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarTramit" parameterOrder="in0">
			<wsdl:input message="intf:llistarTramitRequest" name="llistarTramitRequest" />
			<wsdl:output message="intf:llistarTramitResponse" name="llistarTramitResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatAdministrativa"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirUnitatAdministrativaRequest"
				name="obtenirUnitatAdministrativaRequest" />
			<wsdl:output message="intf:obtenirUnitatAdministrativaResponse"
				name="obtenirUnitatAdministrativaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFetVital" parameterOrder="in0">
			<wsdl:input message="intf:obtenirFetVitalRequest" name="obtenirFetVitalRequest" />
			<wsdl:output message="intf:obtenirFetVitalResponse" name="obtenirFetVitalResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFetsVitals"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarFetsVitalsRequest" name="llistarFetsVitalsRequest" />
			<wsdl:output message="intf:llistarFetsVitalsResponse"
				name="llistarFetsVitalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxa" parameterOrder="in0">
			<wsdl:input message="intf:obtenirFitxaRequest" name="obtenirFitxaRequest" />
			<wsdl:output message="intf:obtenirFitxaResponse" name="obtenirFitxaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes" parameterOrder="in0">
			<wsdl:input message="intf:llistarFitxesRequest" name="llistarFitxesRequest" />
			<wsdl:output message="intf:llistarFitxesResponse" name="llistarFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirDocumentTramit"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirDocumentTramitRequest"
				name="obtenirDocumentTramitRequest" />
			<wsdl:output message="intf:obtenirDocumentTramitResponse"
				name="obtenirDocumentTramitResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarDocumentTramit"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarDocumentTramitRequest"
				name="llistarDocumentTramitRequest" />
			<wsdl:output message="intf:llistarDocumentTramitResponse"
				name="llistarDocumentTramitResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirNormativa" parameterOrder="in0">
			<wsdl:input message="intf:obtenirNormativaRequest" name="obtenirNormativaRequest" />
			<wsdl:output message="intf:obtenirNormativaResponse"
				name="obtenirNormativaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarNormatives"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarNormativesRequest" name="llistarNormativesRequest" />
			<wsdl:output message="intf:llistarNormativesResponse"
				name="llistarNormativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirPersonal" parameterOrder="in0">
			<wsdl:input message="intf:obtenirPersonalRequest" name="obtenirPersonalRequest" />
			<wsdl:output message="intf:obtenirPersonalResponse" name="obtenirPersonalResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarPersonal" parameterOrder="in0">
			<wsdl:input message="intf:llistarPersonalRequest" name="llistarPersonalRequest" />
			<wsdl:output message="intf:llistarPersonalResponse" name="llistarPersonalResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirUsuari" parameterOrder="in0">
			<wsdl:input message="intf:obtenirUsuariRequest" name="obtenirUsuariRequest" />
			<wsdl:output message="intf:obtenirUsuariResponse" name="obtenirUsuariResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarUsuaris" parameterOrder="in0">
			<wsdl:input message="intf:llistarUsuarisRequest" name="llistarUsuarisRequest" />
			<wsdl:output message="intf:llistarUsuarisResponse" name="llistarUsuarisResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirTaxa" parameterOrder="in0">
			<wsdl:input message="intf:obtenirTaxaRequest" name="obtenirTaxaRequest" />
			<wsdl:output message="intf:obtenirTaxaResponse" name="obtenirTaxaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarTaxes" parameterOrder="in0">
			<wsdl:input message="intf:llistarTaxesRequest" name="llistarTaxesRequest" />
			<wsdl:output message="intf:llistarTaxesResponse" name="llistarTaxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirAgrupacioFetVital"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirAgrupacioFetVitalRequest"
				name="obtenirAgrupacioFetVitalRequest" />
			<wsdl:output message="intf:obtenirAgrupacioFetVitalResponse"
				name="obtenirAgrupacioFetVitalResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarAgrupacionsFetsVitals"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarAgrupacionsFetsVitalsRequest"
				name="llistarAgrupacionsFetsVitalsRequest" />
			<wsdl:output message="intf:llistarAgrupacionsFetsVitalsResponse"
				name="llistarAgrupacionsFetsVitalsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirAgrupacioMateria"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirAgrupacioMateriaRequest"
				name="obtenirAgrupacioMateriaRequest" />
			<wsdl:output message="intf:obtenirAgrupacioMateriaResponse"
				name="obtenirAgrupacioMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarAgrupacionsMateries"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarAgrupacionsMateriesRequest"
				name="llistarAgrupacionsMateriesRequest" />
			<wsdl:output message="intf:llistarAgrupacionsMateriesResponse"
				name="llistarAgrupacionsMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirButlleti" parameterOrder="in0">
			<wsdl:input message="intf:obtenirButlletiRequest" name="obtenirButlletiRequest" />
			<wsdl:output message="intf:obtenirButlletiResponse" name="obtenirButlletiResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarButlletins"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarButlletinsRequest" name="llistarButlletinsRequest" />
			<wsdl:output message="intf:llistarButlletinsResponse"
				name="llistarButlletinsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirDocument" parameterOrder="in0">
			<wsdl:input message="intf:obtenirDocumentRequest" name="obtenirDocumentRequest" />
			<wsdl:output message="intf:obtenirDocumentResponse" name="obtenirDocumentResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarDocuments" parameterOrder="in0">
			<wsdl:input message="intf:llistarDocumentsRequest" name="llistarDocumentsRequest" />
			<wsdl:output message="intf:llistarDocumentsResponse"
				name="llistarDocumentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirEdifici" parameterOrder="in0">
			<wsdl:input message="intf:obtenirEdificiRequest" name="obtenirEdificiRequest" />
			<wsdl:output message="intf:obtenirEdificiResponse" name="obtenirEdificiResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarEdificis" parameterOrder="in0">
			<wsdl:input message="intf:llistarEdificisRequest" name="llistarEdificisRequest" />
			<wsdl:output message="intf:llistarEdificisResponse" name="llistarEdificisResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirEnllac" parameterOrder="in0">
			<wsdl:input message="intf:obtenirEnllacRequest" name="obtenirEnllacRequest" />
			<wsdl:output message="intf:obtenirEnllacResponse" name="obtenirEnllacResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarEnllacos" parameterOrder="in0">
			<wsdl:input message="intf:llistarEnllacosRequest" name="llistarEnllacosRequest" />
			<wsdl:output message="intf:llistarEnllacosResponse" name="llistarEnllacosResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarEspaisTerritorials"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarEspaisTerritorialsRequest"
				name="llistarEspaisTerritorialsRequest" />
			<wsdl:output message="intf:llistarEspaisTerritorialsResponse"
				name="llistarEspaisTerritorialsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFamilia" parameterOrder="in0">
			<wsdl:input message="intf:obtenirFamiliaRequest" name="obtenirFamiliaRequest" />
			<wsdl:output message="intf:obtenirFamiliaResponse" name="obtenirFamiliaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFamilies" parameterOrder="in0">
			<wsdl:input message="intf:llistarFamiliesRequest" name="llistarFamiliesRequest" />
			<wsdl:output message="intf:llistarFamiliesResponse" name="llistarFamiliesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirPublicObjectiu"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirPublicObjectiuRequest"
				name="obtenirPublicObjectiuRequest" />
			<wsdl:output message="intf:obtenirPublicObjectiuResponse"
				name="obtenirPublicObjectiuResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarPublicsObjectius"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarPublicsObjectiusRequest"
				name="llistarPublicsObjectiusRequest" />
			<wsdl:output message="intf:llistarPublicsObjectiusResponse"
				name="llistarPublicsObjectiusResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxaUA" parameterOrder="in0">
			<wsdl:input message="intf:obtenirFitxaUARequest" name="obtenirFitxaUARequest" />
			<wsdl:output message="intf:obtenirFitxaUAResponse" name="obtenirFitxaUAResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFitxesUA" parameterOrder="in0">
			<wsdl:input message="intf:llistarFitxesUARequest" name="llistarFitxesUARequest" />
			<wsdl:output message="intf:llistarFitxesUAResponse" name="llistarFitxesUAResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFormulari" parameterOrder="in0">
			<wsdl:input message="intf:obtenirFormulariRequest" name="obtenirFormulariRequest" />
			<wsdl:output message="intf:obtenirFormulariResponse"
				name="obtenirFormulariResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFormularis"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarFormularisRequest" name="llistarFormularisRequest" />
			<wsdl:output message="intf:llistarFormularisResponse"
				name="llistarFormularisResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirIconaFamilia"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirIconaFamiliaRequest"
				name="obtenirIconaFamiliaRequest" />
			<wsdl:output message="intf:obtenirIconaFamiliaResponse"
				name="obtenirIconaFamiliaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarIconesFamilies"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarIconesFamiliesRequest"
				name="llistarIconesFamiliesRequest" />
			<wsdl:output message="intf:llistarIconesFamiliesResponse"
				name="llistarIconesFamiliesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirIconaMateria"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirIconaMateriaRequest"
				name="obtenirIconaMateriaRequest" />
			<wsdl:output message="intf:obtenirIconaMateriaResponse"
				name="obtenirIconaMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarIconesMateries"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarIconesMateriesRequest"
				name="llistarIconesMateriesRequest" />
			<wsdl:output message="intf:llistarIconesMateriesResponse"
				name="llistarIconesMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirMateriaAgrupacio"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirMateriaAgrupacioRequest"
				name="obtenirMateriaAgrupacioRequest" />
			<wsdl:output message="intf:obtenirMateriaAgrupacioResponse"
				name="obtenirMateriaAgrupacioResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarMateriesAgrupacions"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarMateriesAgrupacionsRequest"
				name="llistarMateriesAgrupacionsRequest" />
			<wsdl:output message="intf:llistarMateriesAgrupacionsResponse"
				name="llistarMateriesAgrupacionsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirPerfil" parameterOrder="in0">
			<wsdl:input message="intf:obtenirPerfilRequest" name="obtenirPerfilRequest" />
			<wsdl:output message="intf:obtenirPerfilResponse" name="obtenirPerfilResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarPerfils" parameterOrder="in0">
			<wsdl:input message="intf:llistarPerfilsRequest" name="llistarPerfilsRequest" />
			<wsdl:output message="intf:llistarPerfilsResponse" name="llistarPerfilsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirSeccio" parameterOrder="in0">
			<wsdl:input message="intf:obtenirSeccioRequest" name="obtenirSeccioRequest" />
			<wsdl:output message="intf:obtenirSeccioResponse" name="obtenirSeccioResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarSeccions" parameterOrder="in0">
			<wsdl:input message="intf:llistarSeccionsRequest" name="llistarSeccionsRequest" />
			<wsdl:output message="intf:llistarSeccionsResponse" name="llistarSeccionsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatMateria"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirUnitatMateriaRequest"
				name="obtenirUnitatMateriaRequest" />
			<wsdl:output message="intf:obtenirUnitatMateriaResponse"
				name="obtenirUnitatMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarUnitatsMateries"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarUnitatsMateriesRequest"
				name="llistarUnitatsMateriesRequest" />
			<wsdl:output message="intf:llistarUnitatsMateriesResponse"
				name="llistarUnitatsMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirTipus" parameterOrder="in0">
			<wsdl:input message="intf:obtenirTipusRequest" name="obtenirTipusRequest" />
			<wsdl:output message="intf:obtenirTipusResponse" name="obtenirTipusResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarTipus" parameterOrder="in0">
			<wsdl:input message="intf:llistarTipusRequest" name="llistarTipusRequest" />
			<wsdl:output message="intf:llistarTipusResponse" name="llistarTipusResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirTipusAfectacio"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirTipusAfectacioRequest"
				name="obtenirTipusAfectacioRequest" />
			<wsdl:output message="intf:obtenirTipusAfectacioResponse"
				name="obtenirTipusAfectacioResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarTipusAfectacio"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarTipusAfectacioRequest"
				name="llistarTipusAfectacioRequest" />
			<wsdl:output message="intf:llistarTipusAfectacioResponse"
				name="llistarTipusAfectacioResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="llistarCatalegsDocuments"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarCatalegsDocumentsRequest"
				name="llistarCatalegsDocumentsRequest" />
			<wsdl:output message="intf:llistarCatalegsDocumentsResponse"
				name="llistarCatalegsDocumentsResponse" />
		</wsdl:operation>

		<wsdl:operation name="llistarExcepcionsDocumentacio"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarExcepcionsDocumentacioRequest"
				name="llistarExcepcionsDocumentacioRequest" />
			<wsdl:output message="intf:llistarExcepcionsDocumentacioResponse"
				name="llistarExcepcionsDocumentacioResponse" />
		</wsdl:operation>
						
		<wsdl:operation name="obtenirCatalegDocuments"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirCatalegDocumentsRequest"
				name="obtenirCatalegDocumentsRequest" />
			<wsdl:output message="intf:obtenirCatalegDocumentsResponse"
				name="obtenirCatalegDocumentsResponse" />
		</wsdl:operation>

		<wsdl:operation name="obtenirExcepcioDocumentacio"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirExcepcioDocumentacioRequest"
				name="obtenirExcepcioDocumentacioRequest" />
			<wsdl:output message="intf:obtenirExcepcioDocumentacioResponse"
				name="obtenirExcepcioDocumentacioResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="obtenirTipusIniciacio"
			parameterOrder="in0">
			<wsdl:input message="intf:obtenirTipusIniciacioRequest"
				name="obtenirTipusIniciacioRequest" />
			<wsdl:output message="intf:obtenirTipusIniciacioResponse"
				name="obtenirTipusIniciacioResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="llistarTipusIniciacions"
			parameterOrder="in0">
			<wsdl:input message="intf:llistarTipusIniciacionsRequest"
				name="llistarTipusIniciacionsRequest" />
			<wsdl:output message="intf:llistarTipusIniciacionsResponse"
				name="llistarTipusIniciacionsResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="obtenirIdioma" parameterOrder="in0">
			<wsdl:input message="intf:obtenirIdiomaRequest" name="obtenirIdiomaRequest" />
			<wsdl:output message="intf:obtenirIdiomaResponse" name="obtenirIdiomaResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="llistarIdiomes" parameterOrder="in0">
			<wsdl:input message="intf:llistarIdiomesRequest" name="llistarIdiomesRequest" />
			<wsdl:output message="intf:llistarIdiomesResponse" name="llistarIdiomesResponse" />
		</wsdl:operation>
			
	</wsdl:portType>
	
	<wsdl:binding name="RolsacWSSoapBinding" type="intf:RolsacQueryServiceEJBRemote">
	
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="llistarUnitatsAdministratives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarUnitatsAdministrativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarUnitatsAdministrativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirEspaiTerritorial">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirEspaiTerritorialRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirEspaiTerritorialResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirProcediment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirProcedimentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirProcedimentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarProcediments">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarProcedimentsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarProcedimentsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumProcediments">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumProcedimentsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumProcedimentsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="obtenirMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirTramit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirTramitRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirTramitResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarTramit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarTramitRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarTramitResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatAdministrativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirUnitatAdministrativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirUnitatAdministrativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFetVital">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFetVitalRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFetVitalResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFetsVitals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFetsVitalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFetsVitalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFitxaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFitxaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirDocumentTramit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirDocumentTramitRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirDocumentTramitResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarDocumentTramit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarDocumentTramitRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarDocumentTramitResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirNormativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirNormativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirNormativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarNormatives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarNormativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarNormativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirPersonal">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirPersonalRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirPersonalResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarPersonal">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarPersonalRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarPersonalResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirUsuari">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirUsuariRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirUsuariResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarUsuaris">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarUsuarisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarUsuarisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirTaxa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirTaxaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirTaxaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarTaxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarTaxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarTaxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirAgrupacioFetVital">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirAgrupacioFetVitalRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirAgrupacioFetVitalResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarAgrupacionsFetsVitals">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarAgrupacionsFetsVitalsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarAgrupacionsFetsVitalsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirAgrupacioMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirAgrupacioMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirAgrupacioMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarAgrupacionsMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarAgrupacionsMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarAgrupacionsMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirButlleti">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirButlletiRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirButlletiResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarButlletins">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarButlletinsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarButlletinsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirDocument">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirDocumentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirDocumentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarDocuments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarDocumentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarDocumentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirEdifici">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirEdificiRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirEdificiResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarEdificis">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarEdificisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarEdificisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirEnllac">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirEnllacRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirEnllacResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarEnllacos">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarEnllacosRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarEnllacosResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarEspaisTerritorials">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarEspaisTerritorialsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarEspaisTerritorialsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFamilia">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFamiliaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFamiliaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFamilies">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFamiliesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFamiliesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirPublicObjectiu">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirPublicObjectiuRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirPublicObjectiuResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarPublicsObjectius">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarPublicsObjectiusRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarPublicsObjectiusResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFitxaUA">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFitxaUARequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFitxaUAResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFitxesUA">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFitxesUARequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFitxesUAResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFormulari">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFormulariRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFormulariResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFormularis">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFormularisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFormularisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirIconaFamilia">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirIconaFamiliaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirIconaFamiliaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarIconesFamilies">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarIconesFamiliesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarIconesFamiliesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirIconaMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirIconaMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirIconaMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarIconesMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarIconesMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarIconesMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirMateriaAgrupacio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirMateriaAgrupacioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirMateriaAgrupacioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarMateriesAgrupacions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarMateriesAgrupacionsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarMateriesAgrupacionsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirPerfil">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirPerfilRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirPerfilResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarPerfils">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarPerfilsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarPerfilsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirSeccio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirSeccioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirSeccioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarSeccions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarSeccionsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarSeccionsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirUnitatMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirUnitatMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarUnitatsMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarUnitatsMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarUnitatsMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirTipus">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirTipusRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirTipusResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarTipus">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarTipusRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarTipusResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirTipusAfectacio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirTipusAfectacioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirTipusAfectacioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarTipusAfectacio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarTipusAfectacioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarTipusAfectacioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>				
		
		<wsdl:operation name="llistarCatalegsDocuments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarCatalegsDocumentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarCatalegsDocumentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="obtenirCatalegDocuments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirCatalegDocumentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirCatalegDocumentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="llistarExcepcionsDocumentacio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarExcepcionsDocumentacioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarExcepcionsDocumentacioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="obtenirExcepcioDocumentacio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirExcepcioDocumentacioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirExcepcioDocumentacioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="llistarTipusIniciacions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarTipusIniciacionsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarTipusIniciacionsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="obtenirTipusIniciacio">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirTipusIniciacioRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirTipusIniciacioResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="llistarIdiomes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarIdiomesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarIdiomesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirIdioma">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirIdiomaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirIdiomaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.rolsac.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	
	<wsdl:service name="RolsacQueryServiceEJBRemoteService">
		<wsdl:port binding="intf:RolsacWSSoapBinding" name="RolsacWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/RolsacWS" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>