moduls/api/etc/wsdl/TipusWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.tipus.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.tipus.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://normativa.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.tipus.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="NormativaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="BasicCriteria.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.tipus.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="llistarNormativesResponse">
		<wsdl:part name="llistarNormativesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumNormativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumNormativesResponse">
		<wsdl:part name="getNumNormativesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarNormativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:NormativaCriteria" />
	</wsdl:message>
	<wsdl:portType name="TipusQueryServiceEJBRemote">
		<wsdl:operation name="llistarNormatives"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarNormativesRequest" name="llistarNormativesRequest" />
			<wsdl:output message="impl:llistarNormativesResponse"
				name="llistarNormativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumNormatives" parameterOrder="in0 in1">
			<wsdl:input message="impl:getNumNormativesRequest" name="getNumNormativesRequest" />
			<wsdl:output message="impl:getNumNormativesResponse"
				name="getNumNormativesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TipusWSSoapBinding" type="impl:TipusQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="llistarNormatives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarNormativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tipus.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarNormativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tipus.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumNormatives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumNormativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tipus.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumNormativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tipus.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TipusQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:TipusWSSoapBinding" name="TipusWS">
			<wsdlsoap:address location="https://localhost:8443/sacws-api/services/TipusWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>