moduls/api/etc/wsdl/TractamentDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://tractament.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="TractamentDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.tractament.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://tractament.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="TractamentDTO">
            <sequence>
                <element name="cargoF" nillable="true" type="xsd:string" />
                <element name="cargoM" nillable="true" type="xsd:string" />
                <element name="codigoEstandar" nillable="true" type="xsd:string" />
                <element name="id" nillable="true" type="xsd:long" />
                <element name="tipo" nillable="true" type="xsd:string" />
                <element name="tratamientoF" nillable="true" type="xsd:string" />
                <element name="tratamientoM" nillable="true" type="xsd:string" />
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
