moduls/api/etc/wsdl/TramitWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.tramit.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.tramit.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://taxa.v2.api.rolsac.caib.es"
	xmlns:tns4="http://documentTramit.v2.api.rolsac.caib.es"
	xmlns:tns5="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.tramit.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="dto/ProcedimentDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="dto/BasicCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="dto/EntitatRemota.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="dto/TaxaCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns4" location="dto/DocumentTramitCriteria.wsdl"/>
	<wsdl:import namespace="urn:tns5" location="dto/UnitatAdministrativaDTO.wsdl"/>
	
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.tramit.v2.api.rolsac.caib.es">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="obtenirOrganCompetentResponse">
		<wsdl:part name="obtenirOrganCompetentReturn" type="tns5:UnitatAdministrativaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirProcedimentRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarTaxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns3:TaxaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistatDocumentsInformatiusRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns4:DocumentTramitCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirOrganCompetentRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarFormularisResponse">
		<wsdl:part name="llistarFormularisReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="obtenirProcedimentResponse">
		<wsdl:part name="obtenirProcedimentReturn" type="tns1:ProcedimentDTO" />
	</wsdl:message>
	<wsdl:message name="getNumTaxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumTaxesResponse">
		<wsdl:part name="getNumTaxesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarFormularisRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns4:DocumentTramitCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumDocumentsInformatiusResponse">
		<wsdl:part name="getNumDocumentsInformatiusReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarTaxesResponse">
		<wsdl:part name="llistarTaxesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumFormularisRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFormularisResponse">
		<wsdl:part name="getNumFormularisReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistatDocumentsInformatiusResponse">
		<wsdl:part name="llistatDocumentsInformatiusReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumDocumentsInformatiusRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:portType name="TramitQueryServiceEJBRemote">
		<wsdl:operation name="obtenirProcediment"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirProcedimentRequest" name="obtenirProcedimentRequest" />
			<wsdl:output message="impl:obtenirProcedimentResponse"
				name="obtenirProcedimentResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarTaxes" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarTaxesRequest" name="llistarTaxesRequest" />
			<wsdl:output message="impl:llistarTaxesResponse" name="llistarTaxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFormularis"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFormularisRequest" name="llistarFormularisRequest" />
			<wsdl:output message="impl:llistarFormularisResponse"
				name="llistarFormularisResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumDocumentsInformatius"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumDocumentsInformatiusRequest"
				name="getNumDocumentsInformatiusRequest" />
			<wsdl:output message="impl:getNumDocumentsInformatiusResponse"
				name="getNumDocumentsInformatiusResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFormularis" parameterOrder="in0">
			<wsdl:input message="impl:getNumFormularisRequest" name="getNumFormularisRequest" />
			<wsdl:output message="impl:getNumFormularisResponse"
				name="getNumFormularisResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumTaxes" parameterOrder="in0">
			<wsdl:input message="impl:getNumTaxesRequest" name="getNumTaxesRequest" />
			<wsdl:output message="impl:getNumTaxesResponse" name="getNumTaxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirOrganCompetent"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirOrganCompetentRequest"
				name="obtenirOrganCompetentRequest" />
			<wsdl:output message="impl:obtenirOrganCompetentResponse"
				name="obtenirOrganCompetentResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistatDocumentsInformatius"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistatDocumentsInformatiusRequest"
				name="llistatDocumentsInformatiusRequest" />
			<wsdl:output message="impl:llistatDocumentsInformatiusResponse"
				name="llistatDocumentsInformatiusResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TramitWSSoapBinding" type="impl:TramitQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirProcediment">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirProcedimentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirProcedimentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarTaxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarTaxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarTaxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFormularis">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFormularisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFormularisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumDocumentsInformatius">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumDocumentsInformatiusRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumDocumentsInformatiusResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFormularis">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFormularisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFormularisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumTaxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumTaxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumTaxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirOrganCompetent">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirOrganCompetentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirOrganCompetentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistatDocumentsInformatius">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistatDocumentsInformatiusRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistatDocumentsInformatiusResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.tramit.v2.api.rolsac.caib.es" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TramitQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:TramitWSSoapBinding" name="TramitWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/TramitWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>