moduls/api/etc/wsdl/UnitatAdministrativaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                  xmlns:intf="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns1="http://unitatAdministrativa.v2.api.rolsac.caib.es"
                  xmlns:tns2="http://general.v2.api.rolsac.caib.es"
                  xmlns:tns3="http://espaiTerritorial.v2.api.rolsac.caib.es"
                  xmlns:tns4="http://procediment.v2.api.rolsac.caib.es"
                  xmlns:tns5="http://materia.v2.api.rolsac.caib.es"
                  xmlns:tns6="http://fitxa.v2.api.rolsac.caib.es"
                  xmlns:tns7="http://normativa.v2.api.rolsac.caib.es"
                  xmlns:tns8="http://personal.v2.api.rolsac.caib.es"
                  xmlns:tns9="http://usuari.v2.api.rolsac.caib.es"
                  xmlns:tns10="http://edifici.v2.api.rolsac.caib.es"
                  xmlns:tns11="http://seccio.v2.api.rolsac.caib.es"
                  xmlns:tns12="http://tractament.v2.api.rolsac.caib.es"
                  xmlns:tns13="http://tramit.v2.api.rolsac.caib.es"
                  xmlns:tns14="http://arxiu.v2.api.rolsac.caib.es"
                  xmlns:tns15="http://fitxaUA.v2.api.rolsac.caib.es"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es">

    <wsdl:import namespace="urn:tns1" location="dto/UnitatAdministrativaCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns1" location="dto/UnitatAdministrativaDTO.wsdl"/>
    <wsdl:import namespace="urn:tns2" location="dto/BasicCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns2" location="dto/EntitatRemota.wsdl"/>
    <wsdl:import namespace="urn:tns3" location="dto/EspaiTerritorialDTO.wsdl"/>
    <wsdl:import namespace="urn:tns4" location="dto/ProcedimentCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns5" location="dto/MateriaCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns6" location="dto/FitxaCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns7" location="dto/NormativaCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns8" location="dto/PersonalCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns9" location="dto/UsuariCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns10" location="dto/EdificiCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns11" location="dto/SeccioCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns12" location="dto/TractamentDTO.wsdl"/>
    <wsdl:import namespace="urn:tns12" location="dto/TractamentCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns13" location="dto/TramitCriteria.wsdl"/>
    <wsdl:import namespace="urn:tns14" location="dto/ArxiuDTO.wsdl"/>
    <wsdl:import namespace="urn:tns15" location="dto/FitxaUACriteria.wsdl"/>

    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es">
            <import namespace="http://xml.apache.org/xml-soap" />
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="ArrayOf_xsd_anyType">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <!-- Per a evitar conflictes amb DTO i ArrayStoreException -->
            <complexType name="ArrayOfUnitatAdministrativaDTO">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:UnitatAdministrativaDTO[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <!--  -->
        </schema>

        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://xml.apache.org/xml-soap">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="Vector">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType" />
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="getNumNormativesRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="llistarNormativesResponse">
        <wsdl:part name="llistarNormativesReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="obtenirTractamentResponse">
        <wsdl:part name="obtenirTractamentReturn" type="tns12:TractamentDTO" />
    </wsdl:message>
    <wsdl:message name="getNumEdificisResponse">
        <wsdl:part name="getNumEdificisReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="llistarMateriesResponse">
        <wsdl:part name="llistarMateriesReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="llistarUsuarisResponse">
        <wsdl:part name="llistarUsuarisReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="obtenirFotopRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="llistarFitxesRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns6:FitxaCriteria" />
        <wsdl:part name="in2" type="tns15:FitxaUACriteria" />
    </wsdl:message>
    <wsdl:message name="getNumPersonalRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="llistarFitxesResponse">
        <wsdl:part name="llistarFitxesReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="getNumSeccionsRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="getNumUsuarisRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="obtenirTractamentRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns12:TractamentCriteria" />
    </wsdl:message>
    <wsdl:message name="getNumProcedimentsResponse">
        <wsdl:part name="getNumProcedimentsReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="getNumUsuarisResponse">
        <wsdl:part name="getNumUsuarisReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="llistarNormativesRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns7:NormativaCriteria" />
    </wsdl:message>
    <wsdl:message name="llistarFillesRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns1:UnitatAdministrativaCriteria" />
    </wsdl:message>
    <wsdl:message name="llistarDescendentsRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="llistarPersonalResponse">
        <wsdl:part name="llistarPersonalReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="getNumTramitsRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="obtenirLogohRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="llistarEdificisResponse">
        <wsdl:part name="llistarEdificisReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="llistarMateriesRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns5:MateriaCriteria" />
    </wsdl:message>
    <wsdl:message name="obtenirLogotResponse">
        <wsdl:part name="obtenirLogotReturn" type="tns14:ArxiuDTO" />
    </wsdl:message>
    <wsdl:message name="obtenirLogohResponse">
        <wsdl:part name="obtenirLogohReturn" type="tns14:ArxiuDTO" />
    </wsdl:message>
    <wsdl:message name="getNumTramitsResponse">
        <wsdl:part name="getNumTramitsReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="getNumSeccionsResponse">
        <wsdl:part name="getNumSeccionsReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="obtenirFotogRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="getNumFitxesResponse">
        <wsdl:part name="getNumFitxesReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="getNumFillesResponse">
        <wsdl:part name="getNumFillesReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="getNumPersonalResponse">
        <wsdl:part name="getNumPersonalReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="obtenirEspaiTerritorialResponse">
        <wsdl:part name="obtenirEspaiTerritorialReturn" type="tns3:EspaiTerritorialDTO" />
    </wsdl:message>
    <wsdl:message name="obtenirFotopResponse">
        <wsdl:part name="obtenirFotopReturn" type="tns14:ArxiuDTO" />
    </wsdl:message>
    <wsdl:message name="llistarPersonalRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns8:PersonalCriteria" />
    </wsdl:message>
    <wsdl:message name="llistarProcedimentsRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns4:ProcedimentCriteria" />
    </wsdl:message>
    <wsdl:message name="obtenirPareRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="obtenirFotogResponse">
        <wsdl:part name="obtenirFotogReturn" type="tns14:ArxiuDTO" />
    </wsdl:message>
    <wsdl:message name="obtenirEspaiTerritorialRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="getNumMateriesResponse">
        <wsdl:part name="getNumMateriesReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="getNumNormativesResponse">
        <wsdl:part name="getNumNormativesReturn" type="xsd:int" />
    </wsdl:message>
    <wsdl:message name="getNumFitxesRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="getNumFillesRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="llistarUsuarisRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns9:UsuariCriteria" />
    </wsdl:message>
    <wsdl:message name="llistarFillesResponse">
        <wsdl:part name="llistarFillesReturn" type="impl:ArrayOfUnitatAdministrativaDTO" />
    </wsdl:message>
    <wsdl:message name="llistarDescendentsResponse">
        <wsdl:part name="llistarDescendentsReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="obtenirLogosRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="obtenirLogotRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="getNumMateriesRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="llistarTramitsRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns13:TramitCriteria" />
    </wsdl:message>
    <wsdl:message name="obtenirLogovRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="getNumProcedimentsRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="llistarSeccionsRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns11:SeccioCriteria" />
    </wsdl:message>
    <wsdl:message name="llistarEdificisRequest">
        <wsdl:part name="in0" type="xsd:long" />
        <wsdl:part name="in1" type="tns10:EdificiCriteria" />
    </wsdl:message>
    <wsdl:message name="llistarTramitsResponse">
        <wsdl:part name="llistarTramitsReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="llistarSeccionsResponse">
        <wsdl:part name="llistarSeccionsReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="obtenirPareResponse">
        <wsdl:part name="obtenirPareReturn" type="tns1:UnitatAdministrativaDTO" />
    </wsdl:message>
    <wsdl:message name="getNumEdificisRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
    <wsdl:message name="obtenirLogosResponse">
        <wsdl:part name="obtenirLogosReturn" type="tns14:ArxiuDTO" />
    </wsdl:message>
    <wsdl:message name="llistarProcedimentsResponse">
        <wsdl:part name="llistarProcedimentsReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
    <wsdl:message name="obtenirLogovResponse">
        <wsdl:part name="obtenirLogovReturn" type="tns14:ArxiuDTO" />
    </wsdl:message>
    <wsdl:portType name="UnitatAdministrativaQueryServiceEJBRemote">
        <wsdl:operation name="obtenirPare" parameterOrder="in0 in1">
            <wsdl:input message="impl:obtenirPareRequest" name="obtenirPareRequest" />
            <wsdl:output message="impl:obtenirPareResponse" name="obtenirPareResponse" />
        </wsdl:operation>
        <wsdl:operation name="obtenirEspaiTerritorial"
                        parameterOrder="in0">
            <wsdl:input message="impl:obtenirEspaiTerritorialRequest"
                        name="obtenirEspaiTerritorialRequest" />
            <wsdl:output message="impl:obtenirEspaiTerritorialResponse"
                         name="obtenirEspaiTerritorialResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarProcediments"
                        parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarProcedimentsRequest"
                        name="llistarProcedimentsRequest" />
            <wsdl:output message="impl:llistarProcedimentsResponse"
                         name="llistarProcedimentsResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarMateries" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarMateriesRequest" name="llistarMateriesRequest" />
            <wsdl:output message="impl:llistarMateriesResponse" name="llistarMateriesResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarFitxes" parameterOrder="in0 in1 in2">
            <wsdl:input message="impl:llistarFitxesRequest" name="llistarFitxesRequest" />
            <wsdl:output message="impl:llistarFitxesResponse" name="llistarFitxesResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarNormatives"
                        parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarNormativesRequest" name="llistarNormativesRequest" />
            <wsdl:output message="impl:llistarNormativesResponse"
                         name="llistarNormativesResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarPersonal" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarPersonalRequest" name="llistarPersonalRequest" />
            <wsdl:output message="impl:llistarPersonalResponse" name="llistarPersonalResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarUsuaris" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarUsuarisRequest" name="llistarUsuarisRequest" />
            <wsdl:output message="impl:llistarUsuarisResponse" name="llistarUsuarisResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarEdificis" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarEdificisRequest" name="llistarEdificisRequest" />
            <wsdl:output message="impl:llistarEdificisResponse" name="llistarEdificisResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarSeccions" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarSeccionsRequest" name="llistarSeccionsRequest" />
            <wsdl:output message="impl:llistarSeccionsResponse" name="llistarSeccionsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumFitxes" parameterOrder="in0">
            <wsdl:input message="impl:getNumFitxesRequest" name="getNumFitxesRequest" />
            <wsdl:output message="impl:getNumFitxesResponse" name="getNumFitxesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumNormatives" parameterOrder="in0">
            <wsdl:input message="impl:getNumNormativesRequest" name="getNumNormativesRequest" />
            <wsdl:output message="impl:getNumNormativesResponse"
                         name="getNumNormativesResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarDescendents" parameterOrder="in0">
            <wsdl:input message="impl:llistarDescendentsRequest" name="llistarDescendentsRequest" />
            <wsdl:output message="impl:llistarDescendentsResponse" name="llistarDescendentsResponse" />
        </wsdl:operation>
        <wsdl:operation name="obtenirTractament"
                        parameterOrder="in0 in1">
            <wsdl:input message="impl:obtenirTractamentRequest" name="obtenirTractamentRequest" />
            <wsdl:output message="impl:obtenirTractamentResponse"
                         name="obtenirTractamentResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarFilles" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarFillesRequest" name="llistarFillesRequest" />
            <wsdl:output message="impl:llistarFillesResponse" name="llistarFillesResponse" />
        </wsdl:operation>
        <wsdl:operation name="llistarTramits" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarTramitsRequest" name="llistarTramitsRequest" />
            <wsdl:output message="impl:llistarTramitsResponse" name="llistarTramitsResponse" />
        </wsdl:operation>
        <wsdl:operation name="obtenirFotop" parameterOrder="in0">
            <wsdl:input message="impl:obtenirFotopRequest" name="obtenirFotopRequest" />
            <wsdl:output message="impl:obtenirFotopResponse" name="obtenirFotopResponse" />
        </wsdl:operation>
        <wsdl:operation name="obtenirFotog" parameterOrder="in0">
            <wsdl:input message="impl:obtenirFotogRequest" name="obtenirFotogRequest" />
            <wsdl:output message="impl:obtenirFotogResponse" name="obtenirFotogResponse" />
        </wsdl:operation>
        <wsdl:operation name="obtenirLogoh" parameterOrder="in0">
            <wsdl:input message="impl:obtenirLogohRequest" name="obtenirLogohRequest" />
            <wsdl:output message="impl:obtenirLogohResponse" name="obtenirLogohResponse" />
        </wsdl:operation>
        <wsdl:operation name="obtenirLogov" parameterOrder="in0">
            <wsdl:input message="impl:obtenirLogovRequest" name="obtenirLogovRequest" />
            <wsdl:output message="impl:obtenirLogovResponse" name="obtenirLogovResponse" />
        </wsdl:operation>
        <wsdl:operation name="obtenirLogos" parameterOrder="in0">
            <wsdl:input message="impl:obtenirLogosRequest" name="obtenirLogosRequest" />
            <wsdl:output message="impl:obtenirLogosResponse" name="obtenirLogosResponse" />
        </wsdl:operation>
        <wsdl:operation name="obtenirLogot" parameterOrder="in0">
            <wsdl:input message="impl:obtenirLogotRequest" name="obtenirLogotRequest" />
            <wsdl:output message="impl:obtenirLogotResponse" name="obtenirLogotResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumFilles" parameterOrder="in0">
            <wsdl:input message="impl:getNumFillesRequest" name="getNumFillesRequest" />
            <wsdl:output message="impl:getNumFillesResponse" name="getNumFillesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumEdificis" parameterOrder="in0">
            <wsdl:input message="impl:getNumEdificisRequest" name="getNumEdificisRequest" />
            <wsdl:output message="impl:getNumEdificisResponse" name="getNumEdificisResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumPersonal" parameterOrder="in0">
            <wsdl:input message="impl:getNumPersonalRequest" name="getNumPersonalRequest" />
            <wsdl:output message="impl:getNumPersonalResponse" name="getNumPersonalResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumProcediments"
                        parameterOrder="in0">
            <wsdl:input message="impl:getNumProcedimentsRequest" name="getNumProcedimentsRequest" />
            <wsdl:output message="impl:getNumProcedimentsResponse"
                         name="getNumProcedimentsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumTramits" parameterOrder="in0">
            <wsdl:input message="impl:getNumTramitsRequest" name="getNumTramitsRequest" />
            <wsdl:output message="impl:getNumTramitsResponse" name="getNumTramitsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumUsuaris" parameterOrder="in0">
            <wsdl:input message="impl:getNumUsuarisRequest" name="getNumUsuarisRequest" />
            <wsdl:output message="impl:getNumUsuarisResponse" name="getNumUsuarisResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumSeccions" parameterOrder="in0">
            <wsdl:input message="impl:getNumSeccionsRequest" name="getNumSeccionsRequest" />
            <wsdl:output message="impl:getNumSeccionsResponse" name="getNumSeccionsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getNumMateries" parameterOrder="in0">
            <wsdl:input message="impl:getNumMateriesRequest" name="getNumMateriesRequest" />
            <wsdl:output message="impl:getNumMateriesResponse" name="getNumMateriesResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UnitatAdministrativaWSSoapBinding"
                  type="impl:UnitatAdministrativaQueryServiceEJBRemote">
        <wsdlsoap:binding style="rpc"
                          transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="obtenirPare">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirPareRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirPareResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenirEspaiTerritorial">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirEspaiTerritorialRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirEspaiTerritorialResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarProcediments">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarProcedimentsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarProcedimentsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarMateries">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarMateriesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarMateriesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarFitxes">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarFitxesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarFitxesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarNormatives">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarNormativesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarNormativesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarPersonal">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarPersonalRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarPersonalResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarUsuaris">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarUsuarisRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarUsuarisResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarEdificis">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarEdificisRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarEdificisResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarSeccions">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarSeccionsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarSeccionsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumFitxes">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumFitxesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumFitxesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumNormatives">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumNormativesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumNormativesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenirTractament">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirTractamentRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirTractamentResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarFilles">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarFillesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarFillesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarDescendents">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarDescendentsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarDescendentsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="llistarTramits">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarTramitsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarTramitsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenirFotop">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirFotopRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirFotopResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenirFotog">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirFotogRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirFotogResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenirLogoh">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirLogohRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirLogohResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenirLogov">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirLogovRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirLogovResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenirLogos">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirLogosRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirLogosResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenirLogot">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="obtenirLogotRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="obtenirLogotResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumFilles">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumFillesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumFillesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumEdificis">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumEdificisRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumEdificisResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumPersonal">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumPersonalRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumPersonalResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumProcediments">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumProcedimentsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumProcedimentsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumTramits">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumTramitsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumTramitsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumUsuaris">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumUsuarisRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumUsuarisResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumSeccions">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumSeccionsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumSeccionsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNumMateries">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="getNumMateriesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:input>
            <wsdl:output name="getNumMateriesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                               use="encoded" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UnitatAdministrativaQueryServiceEJBRemoteService">
        <wsdl:port binding="impl:UnitatAdministrativaWSSoapBinding"
                   name="UnitatAdministrativaWS">
            <wsdlsoap:address
                    location="https://localhost:8443/sacws-api/services/UnitatAdministrativaWS" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>