moduls/api/etc/wsdl/UnitatAdministrativaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns10="http://edifici.v2.api.rolsac.caib.es" xmlns:tns11="http://seccio.v2.api.rolsac.caib.es"
	xmlns:tns12="http://tractament.v2.api.rolsac.caib.es" xmlns:tns13="http://tramit.v2.api.rolsac.caib.es"
	xmlns:tns14="http://arxiu.v2.api.rolsac.caib.es" xmlns:tns2="http://general.v2.api.rolsac.caib.es"
	xmlns:tns3="http://espaiTerritorial.v2.api.rolsac.caib.es" xmlns:tns4="http://procediment.v2.api.rolsac.caib.es"
	xmlns:tns5="http://materia.v2.api.rolsac.caib.es" xmlns:tns6="http://fitxa.v2.api.rolsac.caib.es"
	xmlns:tns7="http://normativa.v2.api.rolsac.caib.es" xmlns:tns8="http://personal.v2.api.rolsac.caib.es"
	xmlns:tns9="http://usuari.v2.api.rolsac.caib.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://general.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType abstract="true" name="EntitatRemota">
				<sequence>
					<element name="administracionRemota" nillable="true" type="xsd:long" />
					<element name="idExterno" nillable="true" type="xsd:long" />
					<element name="urlRemota" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
			<complexType abstract="true" name="BasicCriteria">
				<sequence>
					<element name="id" nillable="true" type="xsd:string" />
					<element name="idioma" nillable="true" type="xsd:string" />
					<element name="inici" nillable="true" type="xsd:string" />
					<element name="ordenacio" nillable="true" type="xsd:string" />
					<element name="tamany" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://unitatAdministrativa.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="UnitatAdministrativaDTO">
				<complexContent>
					<extension base="tns2:EntitatRemota">
						<sequence>
							<element name="abreviatura" nillable="true" type="xsd:string" />
							<element name="businessKey" nillable="true" type="xsd:string" />
							<element name="claveHita" nillable="true" type="xsd:string" />
							<element name="codigoEstandar" nillable="true" type="xsd:string" />
							<element name="dominio" nillable="true" type="xsd:string" />
							<element name="email" nillable="true" type="xsd:string" />
							<element name="espacioTerrit" nillable="true" type="xsd:long" />
							<element name="fax" nillable="true" type="xsd:string" />
							<element name="fotog" nillable="true" type="xsd:long" />
							<element name="fotop" nillable="true" type="xsd:long" />
							<element name="id" nillable="true" type="xsd:long" />
							<element name="logoh" nillable="true" type="xsd:long" />
							<element name="logos" nillable="true" type="xsd:long" />
							<element name="logot" nillable="true" type="xsd:long" />
							<element name="logov" nillable="true" type="xsd:long" />
							<element name="nombre" nillable="true" type="xsd:string" />
							<element name="numfoto1" nillable="true" type="xsd:int" />
							<element name="numfoto2" nillable="true" type="xsd:int" />
							<element name="numfoto3" nillable="true" type="xsd:int" />
							<element name="numfoto4" nillable="true" type="xsd:int" />
							<element name="orden" type="xsd:long" />
							<element name="padre" nillable="true" type="xsd:long" />
							<element name="presentacion" nillable="true" type="xsd:string" />
							<element name="responsable" nillable="true" type="xsd:string" />
							<element name="sexoResponsable" nillable="true" type="xsd:int" />
							<element name="telefono" nillable="true" type="xsd:string" />
							<element name="tratamiento" nillable="true" type="xsd:long" />
							<element name="url" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:int" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="UnitatAdministrativaCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="businessKey" nillable="true" type="xsd:string" />
							<element name="claveHita" nillable="true" type="xsd:string" />
							<element name="dominio" nillable="true" type="xsd:string" />
							<element name="orden" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:string" />
							<element name="responsable" nillable="true" type="xsd:string" />
							<element name="telefono" nillable="true" type="xsd:string" />
							<element name="fax" nillable="true" type="xsd:string" />
							<element name="email" nillable="true" type="xsd:string" />
							<element name="sexoResponsable" nillable="true" type="xsd:string" />
							<element name="codigoEstandar" nillable="true" type="xsd:string" />
							<element name="t_nombre" nillable="true" type="xsd:string" />
							<element name="t_presentacion" nillable="true" type="xsd:string" />
							<element name="t_abreviatura" nillable="true" type="xsd:string" />		
                            <element name="seccion" nillable="true" type="xsd:string" />					
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://espaiTerritorial.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="EspaiTerritorialDTO">
				<sequence>
					<element name="coordenadas" nillable="true" type="xsd:string" />
					<element name="id" nillable="true" type="xsd:long" />
					<element name="logo" nillable="true" type="xsd:long" />
					<element name="mapa" nillable="true" type="xsd:long" />
					<element name="nivel" nillable="true" type="xsd:int" />
					<element name="nombre" nillable="true" type="xsd:string" />
					<element name="padre" nillable="true" type="xsd:long" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://procediment.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ProcedimentCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="actiu" nillable="true" type="xsd:boolean" />
							<element name="fechaActualizacion" nillable="true"
								type="xsd:string" />
							<element name="fechaCaducidad" nillable="true" type="xsd:string" />
							<element name="fechaPublicacion" nillable="true" type="xsd:string" />
							<element name="indicador" nillable="true" type="xsd:boolean" />
							<element name="info" nillable="true" type="xsd:string" />
							<element name="orden" nillable="true" type="xsd:string" />
							<element name="orden2" nillable="true" type="xsd:string" />
							<element name="orden3" nillable="true" type="xsd:string" />
							<element name="responsable" nillable="true" type="xsd:string" />
							<element name="signatura" nillable="true" type="xsd:string" />
							<element name="t_destinatarios" nillable="true" type="xsd:string" />
							<element name="t_lugar" nillable="true" type="xsd:string" />
							<element name="t_nombre" nillable="true" type="xsd:string" />
							<element name="t_notificacion" nillable="true" type="xsd:string" />
							<element name="t_observaciones" nillable="true" type="xsd:string" />
							<element name="t_plazos" nillable="true" type="xsd:string" />
							<element name="t_recursos" nillable="true" type="xsd:string" />
							<element name="t_requisitos" nillable="true" type="xsd:string" />
							<element name="t_resolucion" nillable="true" type="xsd:string" />
							<element name="t_resultat" nillable="true" type="xsd:string" />
							<element name="t_resumen" nillable="true" type="xsd:string" />
							<element name="t_silencio" nillable="true" type="xsd:string" />
							<element name="taxa" nillable="true" type="xsd:boolean" />
							<element name="tramite" nillable="true" type="xsd:string" />
							<element name="url" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:string" />
							<element name="ventanillaUnica" nillable="true" type="xsd:boolean" />
							<element name="version" nillable="true" type="xsd:string" />
                            <element name="familia" nillable="true" type="xsd:string" />
                            <element name="agrupacionMateria" nillable="true" type="xsd:string" />
                            <element name="publicoObjetivo" nillable="true" type="xsd:string" />
                            <element name="textos" nillable="true" type="xsd:string" />
                            <element name="unidadAdministrativa" nillable="true" type="xsd:string" />
                            <element name="agrupacionHechoVital" nillable="true" type="xsd:string" />
                            <element name="visible" nillable="true" type="xsd:boolean" />
                            <element name="estadoUA" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArrayOf_xsd_anyType">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]" />
					</restriction>
				</complexContent>
			</complexType>
			
			<!-- Per a evitar conflictes amb DTO i ArrayStoreException -->
			<complexType name="ArrayOfUnitatAdministrativaDTO">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:UnitatAdministrativaDTO[]" />
					</restriction>
				</complexContent>
			</complexType>
			<!--  -->			
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://xml.apache.org/xml-soap">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Vector">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="item"
						type="xsd:anyType" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://materia.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="MateriaCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="codiHita" nillable="true" type="xsd:string" />
							<element name="codigoEstandar" nillable="true" type="xsd:string" />							
							<element name="destacada" nillable="true" type="xsd:boolean" />
							<element name="t_nombre" nillable="true" type="xsd:string" />		
							<element name="t_descripcion" nillable="true" type="xsd:string" />							
							<element name="t_palabrasclave" nillable="true" type="xsd:string" />
						</sequence>
					</extension>					
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://fitxa.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="FitxaCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="fechaActualizacion" nillable="true"
								type="xsd:string" />
							<element name="fechaCaducidad" nillable="true" type="xsd:string" />
							<element name="fechaPublicacion" nillable="true" type="xsd:string" />
							<element name="foro_tema" nillable="true" type="xsd:string" />
							<element name="info" nillable="true" type="xsd:string" />
							<element name="responsable" nillable="true" type="xsd:string" />
							<element name="t_descAbr" nillable="true" type="xsd:string" />
							<element name="t_descripcion" nillable="true" type="xsd:string" />
							<element name="t_titulo" nillable="true" type="xsd:string" />
							<element name="t_url" nillable="true" type="xsd:string" />
							<element name="urlForo" nillable="true" type="xsd:string" />
							<element name="urlVideo" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:string" />
                            <element name="publicoObjetivo" nillable="true" type="xsd:string" />
                            <element name="seccion" nillable="true" type="xsd:string" />
                            <element name="visible" nillable="true" type="xsd:boolean" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://normativa.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="NormativaCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="numero" nillable="true" type="xsd:string" />
							<element name="registro" nillable="true" type="xsd:string" />
							<element name="ley" nillable="true" type="xsd:string" />
							<element name="fecha" nillable="true" type="xsd:string" />
							<element name="fechaBoletin" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:string" />
							<element name="codiVuds" nillable="true" type="xsd:string" />
							<element name="descCodiVuds" nillable="true" type="xsd:string" />
							<element name="t_seccion" nillable="true" type="xsd:string" />
							<element name="t_apartado" nillable="true" type="xsd:string" />
							<element name="t_paginaInicial" nillable="true" type="xsd:string" />
							<element name="t_paginaFinal" nillable="true" type="xsd:string" />
							<element name="t_titulo" nillable="true" type="xsd:string" />
							<element name="t_enlace" nillable="true" type="xsd:string" />
							<element name="t_observaciones" nillable="true" type="xsd:string" />
							<element name="t_responsable" nillable="true" type="xsd:string" />
							<element name="incluirExternas" nillable="true" type="xsd:boolean" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://personal.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="PersonalCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="username" nillable="true" type="xsd:string" />
							<element name="nombre" nillable="true" type="xsd:string" />
							<element name="funciones" nillable="true" type="xsd:string" />
							<element name="cargo" nillable="true" type="xsd:string" />
							<element name="email" nillable="true" type="xsd:string" />
							<element name="extensionPublica" nillable="true" type="xsd:string" />
							<element name="numeroLargoPublico" nillable="true" type="xsd:string" />
							<element name="extensionPrivada" nillable="true" type="xsd:string" />
							<element name="numeroLargoPrivado" nillable="true" type="xsd:string" />
							<element name="extensionMovil" nillable="true" type="xsd:string" />
							<element name="numeroLargoMovil" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://usuari.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="UsuariCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
							<sequence>
								<element name="username" nillable="true" type="xsd:string" />
								<element name="nombre" nillable="true" type="xsd:string" />
								<element name="observaciones" nillable="true" type="xsd:string" />
								<element name="perfil" nillable="true" type="xsd:string" />
								<element name="email" nillable="true" type="xsd:string" />
							</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://edifici.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="EdificiCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="direccion" nillable="true" type="xsd:string" />
							<element name="codigoPostal" nillable="true" type="xsd:string" />							
							<element name="poblacion" nillable="true" type="xsd:string" />
							<element name="telefono" nillable="true" type="xsd:string" />
							<element name="email" nillable="true" type="xsd:string" />
							<element name="fax" nillable="true" type="xsd:string" />
							<element name="latitud" nillable="true" type="xsd:string" />
							<element name="longitud" nillable="true" type="xsd:string" />						
							<element name="t_descripcion" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://seccio.v2.api.rolsac.caib.es">
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="SeccioCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="codigoEstandard" nillable="true" type="xsd:string" />
							<element name="perfil" nillable="true" type="xsd:string" />							
							<element name="orden" nillable="true" type="xsd:string" />							
							<element name="arrel" nillable="true" type="xsd:boolean" />							
							<element name="t_descripcion" nillable="true" type="xsd:string" />
							<element name="t_nombre" nillable="true" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://tractament.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="TractamentDTO">
				<sequence>
					<element name="cargoF" nillable="true" type="xsd:string" />
					<element name="cargoM" nillable="true" type="xsd:string" />
					<element name="codigoEstandar" nillable="true" type="xsd:string" />
					<element name="id" nillable="true" type="xsd:long" />
					<element name="tipo" nillable="true" type="xsd:string" />
					<element name="tratamientoF" nillable="true" type="xsd:string" />
					<element name="tratamientoM" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://tramit.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://arxiu.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="TramitCriteria">
				<complexContent>
					<extension base="tns2:BasicCriteria">
						<sequence>
							<element name="fase" nillable="true" type="xsd:string" />
							<element name="orden" nillable="true" type="xsd:string" />
							<element name="versio" nillable="true" type="xsd:string" />
							<element name="validacio" nillable="true" type="xsd:string" />							
							<element name="dataCaducitat" nillable="true" type="xsd:string" />
							<element name="dataPublicacio" nillable="true" type="xsd:string" />
							<element name="dataActualitzacio" nillable="true" type="xsd:string" />
                            <element name="dataInici" nillable="true" type="xsd:string" />
                            <element name="dataTancament" nillable="true" type="xsd:string" />
							<element name="codiVuds" nillable="true" type="xsd:string" />
							<element name="descCodiVuds" nillable="true" type="xsd:string" />
							<element name="idTraTel" nillable="true" type="xsd:string" />
							<element name="urlExterna" nillable="true" type="xsd:string" />
							<element name="dataActualitzacioVuds" nillable="true" type="xsd:string" />
							<element name="t_nombre" nillable="true" type="xsd:string" />
							<element name="t_descripcion" nillable="true" type="xsd:string" />
							<element name="t_documentacion" nillable="true" type="xsd:string" />
							<element name="t_requisits" nillable="true" type="xsd:string" />
							<element name="t_observaciones" nillable="true" type="xsd:string" />
							<element name="t_plazos" nillable="true" type="xsd:string" />
							<element name="t_lugar" nillable="true" type="xsd:string" />							
						</sequence>						
					</extension>
				</complexContent>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://arxiu.v2.api.rolsac.caib.es">
			<import namespace="http://seccio.v2.api.rolsac.caib.es" />
			<import namespace="http://usuari.v2.api.rolsac.caib.es" />
			<import namespace="http://tramit.v2.api.rolsac.caib.es" />
			<import namespace="http://normativa.v2.api.rolsac.caib.es" />
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://tractament.v2.api.rolsac.caib.es" />
			<import
				namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://edifici.v2.api.rolsac.caib.es" />
			<import namespace="http://procediment.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://xml.apache.org/xml-soap" />
			<import namespace="http://fitxa.v2.api.rolsac.caib.es" />
			<import namespace="http://personal.v2.api.rolsac.caib.es" />
			<import namespace="http://espaiTerritorial.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="ArxiuDTO">
				<sequence>
					<element name="id" type="xsd:long" />
					<element name="mime" nillable="true" type="xsd:string" />
					<element name="nombre" nillable="true" type="xsd:string" />
					<element name="peso" type="xsd:long" />
                    <element name="url" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="getNumNormativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarNormativesResponse">
		<wsdl:part name="llistarNormativesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="obtenirTractamentResponse">
		<wsdl:part name="obtenirTractamentReturn" type="tns12:TractamentDTO" />
	</wsdl:message>
	<wsdl:message name="getNumEdificisResponse">
		<wsdl:part name="getNumEdificisReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesResponse">
		<wsdl:part name="llistarMateriesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarUsuarisResponse">
		<wsdl:part name="llistarUsuarisReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="obtenirFotopRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns6:FitxaCriteria" />
	</wsdl:message>
	<wsdl:message name="getNumPersonalRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarFitxesResponse">
		<wsdl:part name="llistarFitxesReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumSeccionsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumUsuarisRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirTractamentRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsResponse">
		<wsdl:part name="getNumProcedimentsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumUsuarisResponse">
		<wsdl:part name="getNumUsuarisReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="llistarNormativesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns7:NormativaCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFillesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns1:UnitatAdministrativaCriteria" />
	</wsdl:message>
    <wsdl:message name="llistarDescendentsRequest">
        <wsdl:part name="in0" type="xsd:long" />
    </wsdl:message>
	<wsdl:message name="llistarPersonalResponse">
		<wsdl:part name="llistarPersonalReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="getNumTramitsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirLogohRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarEdificisResponse">
		<wsdl:part name="llistarEdificisReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns5:MateriaCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirLogotResponse">
		<wsdl:part name="obtenirLogotReturn" type="tns14:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirLogohResponse">
		<wsdl:part name="obtenirLogohReturn" type="tns14:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="getNumTramitsResponse">
		<wsdl:part name="getNumTramitsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumSeccionsResponse">
		<wsdl:part name="getNumSeccionsReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="obtenirFotogRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFitxesResponse">
		<wsdl:part name="getNumFitxesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumFillesResponse">
		<wsdl:part name="getNumFillesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumPersonalResponse">
		<wsdl:part name="getNumPersonalReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="obtenirEspaiTerritorialResponse">
		<wsdl:part name="obtenirEspaiTerritorialReturn" type="tns3:EspaiTerritorialDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirFotopResponse">
		<wsdl:part name="obtenirFotopReturn" type="tns14:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="llistarPersonalRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns8:PersonalCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns4:ProcedimentCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirPareRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirFotogResponse">
		<wsdl:part name="obtenirFotogReturn" type="tns14:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirEspaiTerritorialRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumMateriesResponse">
		<wsdl:part name="getNumMateriesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumNormativesResponse">
		<wsdl:part name="getNumNormativesReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getNumFitxesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumFillesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarUsuarisRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns9:UsuariCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarFillesResponse">
		<wsdl:part name="llistarFillesReturn" type="impl:ArrayOfUnitatAdministrativaDTO" />
	</wsdl:message>
    <wsdl:message name="llistarDescendentsResponse">
        <wsdl:part name="llistarDescendentsReturn" type="impl:ArrayOf_xsd_anyType" />
    </wsdl:message>
	<wsdl:message name="obtenirLogosRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirLogotRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumMateriesRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarTramitsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns13:TramitCriteria" />
	</wsdl:message>
	<wsdl:message name="obtenirLogovRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="getNumProcedimentsRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="llistarSeccionsRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns11:SeccioCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarEdificisRequest">
		<wsdl:part name="in0" type="xsd:long" />
		<wsdl:part name="in1" type="tns10:EdificiCriteria" />
	</wsdl:message>
	<wsdl:message name="llistarTramitsResponse">
		<wsdl:part name="llistarTramitsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="llistarSeccionsResponse">
		<wsdl:part name="llistarSeccionsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="obtenirPareResponse">
		<wsdl:part name="obtenirPareReturn" type="tns1:UnitatAdministrativaDTO" />
	</wsdl:message>
	<wsdl:message name="getNumEdificisRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirLogosResponse">
		<wsdl:part name="obtenirLogosReturn" type="tns14:ArxiuDTO" />
	</wsdl:message>
	<wsdl:message name="llistarProcedimentsResponse">
		<wsdl:part name="llistarProcedimentsReturn" type="impl:ArrayOf_xsd_anyType" />
	</wsdl:message>
	<wsdl:message name="obtenirLogovResponse">
		<wsdl:part name="obtenirLogovReturn" type="tns14:ArxiuDTO" />
	</wsdl:message>
	<wsdl:portType name="UnitatAdministrativaQueryServiceEJBRemote">
		<wsdl:operation name="obtenirPare" parameterOrder="in0">
			<wsdl:input message="impl:obtenirPareRequest" name="obtenirPareRequest" />
			<wsdl:output message="impl:obtenirPareResponse" name="obtenirPareResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirEspaiTerritorial"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirEspaiTerritorialRequest"
				name="obtenirEspaiTerritorialRequest" />
			<wsdl:output message="impl:obtenirEspaiTerritorialResponse"
				name="obtenirEspaiTerritorialResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarProcediments"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarProcedimentsRequest"
				name="llistarProcedimentsRequest" />
			<wsdl:output message="impl:llistarProcedimentsResponse"
				name="llistarProcedimentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarMateries" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarMateriesRequest" name="llistarMateriesRequest" />
			<wsdl:output message="impl:llistarMateriesResponse" name="llistarMateriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFitxesRequest" name="llistarFitxesRequest" />
			<wsdl:output message="impl:llistarFitxesResponse" name="llistarFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarNormatives"
			parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarNormativesRequest" name="llistarNormativesRequest" />
			<wsdl:output message="impl:llistarNormativesResponse"
				name="llistarNormativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarPersonal" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarPersonalRequest" name="llistarPersonalRequest" />
			<wsdl:output message="impl:llistarPersonalResponse" name="llistarPersonalResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarUsuaris" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarUsuarisRequest" name="llistarUsuarisRequest" />
			<wsdl:output message="impl:llistarUsuarisResponse" name="llistarUsuarisResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarEdificis" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarEdificisRequest" name="llistarEdificisRequest" />
			<wsdl:output message="impl:llistarEdificisResponse" name="llistarEdificisResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarSeccions" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarSeccionsRequest" name="llistarSeccionsRequest" />
			<wsdl:output message="impl:llistarSeccionsResponse" name="llistarSeccionsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFitxes" parameterOrder="in0">
			<wsdl:input message="impl:getNumFitxesRequest" name="getNumFitxesRequest" />
			<wsdl:output message="impl:getNumFitxesResponse" name="getNumFitxesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumNormatives" parameterOrder="in0">
			<wsdl:input message="impl:getNumNormativesRequest" name="getNumNormativesRequest" />
			<wsdl:output message="impl:getNumNormativesResponse"
				name="getNumNormativesResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirTractament"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirTractamentRequest" name="obtenirTractamentRequest" />
			<wsdl:output message="impl:obtenirTractamentResponse"
				name="obtenirTractamentResponse" />
		</wsdl:operation>
		<wsdl:operation name="llistarFilles" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarFillesRequest" name="llistarFillesRequest" />
			<wsdl:output message="impl:llistarFillesResponse" name="llistarFillesResponse" />
		</wsdl:operation>
        <wsdl:operation name="llistarDescendents" parameterOrder="in0 in1">
            <wsdl:input message="impl:llistarDescendentsRequest" name="llistarDescendentsRequest" />
            <wsdl:output message="impl:llistarDescendentsResponse" name="llistarDescendentsResponse" />
        </wsdl:operation>
		<wsdl:operation name="llistarTramits" parameterOrder="in0 in1">
			<wsdl:input message="impl:llistarTramitsRequest" name="llistarTramitsRequest" />
			<wsdl:output message="impl:llistarTramitsResponse" name="llistarTramitsResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFotop" parameterOrder="in0">
			<wsdl:input message="impl:obtenirFotopRequest" name="obtenirFotopRequest" />
			<wsdl:output message="impl:obtenirFotopResponse" name="obtenirFotopResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirFotog" parameterOrder="in0">
			<wsdl:input message="impl:obtenirFotogRequest" name="obtenirFotogRequest" />
			<wsdl:output message="impl:obtenirFotogResponse" name="obtenirFotogResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirLogoh" parameterOrder="in0">
			<wsdl:input message="impl:obtenirLogohRequest" name="obtenirLogohRequest" />
			<wsdl:output message="impl:obtenirLogohResponse" name="obtenirLogohResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirLogov" parameterOrder="in0">
			<wsdl:input message="impl:obtenirLogovRequest" name="obtenirLogovRequest" />
			<wsdl:output message="impl:obtenirLogovResponse" name="obtenirLogovResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirLogos" parameterOrder="in0">
			<wsdl:input message="impl:obtenirLogosRequest" name="obtenirLogosRequest" />
			<wsdl:output message="impl:obtenirLogosResponse" name="obtenirLogosResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirLogot" parameterOrder="in0">
			<wsdl:input message="impl:obtenirLogotRequest" name="obtenirLogotRequest" />
			<wsdl:output message="impl:obtenirLogotResponse" name="obtenirLogotResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumFilles" parameterOrder="in0">
			<wsdl:input message="impl:getNumFillesRequest" name="getNumFillesRequest" />
			<wsdl:output message="impl:getNumFillesResponse" name="getNumFillesResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumEdificis" parameterOrder="in0">
			<wsdl:input message="impl:getNumEdificisRequest" name="getNumEdificisRequest" />
			<wsdl:output message="impl:getNumEdificisResponse" name="getNumEdificisResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumPersonal" parameterOrder="in0">
			<wsdl:input message="impl:getNumPersonalRequest" name="getNumPersonalRequest" />
			<wsdl:output message="impl:getNumPersonalResponse" name="getNumPersonalResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumProcediments"
			parameterOrder="in0">
			<wsdl:input message="impl:getNumProcedimentsRequest" name="getNumProcedimentsRequest" />
			<wsdl:output message="impl:getNumProcedimentsResponse"
				name="getNumProcedimentsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumTramits" parameterOrder="in0">
			<wsdl:input message="impl:getNumTramitsRequest" name="getNumTramitsRequest" />
			<wsdl:output message="impl:getNumTramitsResponse" name="getNumTramitsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumUsuaris" parameterOrder="in0">
			<wsdl:input message="impl:getNumUsuarisRequest" name="getNumUsuarisRequest" />
			<wsdl:output message="impl:getNumUsuarisResponse" name="getNumUsuarisResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumSeccions" parameterOrder="in0">
			<wsdl:input message="impl:getNumSeccionsRequest" name="getNumSeccionsRequest" />
			<wsdl:output message="impl:getNumSeccionsResponse" name="getNumSeccionsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNumMateries" parameterOrder="in0">
			<wsdl:input message="impl:getNumMateriesRequest" name="getNumMateriesRequest" />
			<wsdl:output message="impl:getNumMateriesResponse" name="getNumMateriesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UnitatAdministrativaWSSoapBinding"
		type="impl:UnitatAdministrativaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirPare">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirPareRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirPareResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirEspaiTerritorial">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirEspaiTerritorialRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirEspaiTerritorialResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarProcediments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarProcedimentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarProcedimentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarNormatives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarNormativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarNormativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarPersonal">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarPersonalRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarPersonalResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarUsuaris">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarUsuarisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarUsuarisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarEdificis">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarEdificisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarEdificisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarSeccions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarSeccionsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarSeccionsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFitxes">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFitxesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFitxesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumNormatives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumNormativesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumNormativesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirTractament">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirTractamentRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirTractamentResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="llistarFilles">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarFillesRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                    use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarFillesResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                    use="encoded" />
            </wsdl:output>
        </wsdl:operation><wsdl:operation name="llistarDescendents">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="llistarDescendentsRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
                    use="encoded" />
            </wsdl:input>
            <wsdl:output name="llistarDescendentsResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
                    use="encoded" />
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="llistarTramits">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="llistarTramitsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="llistarTramitsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFotop">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFotopRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFotopResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirFotog">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirFotogRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirFotogResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirLogoh">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirLogohRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirLogohResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirLogov">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirLogovRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirLogovResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirLogos">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirLogosRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirLogosResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirLogot">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirLogotRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirLogotResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumFilles">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumFillesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumFillesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumEdificis">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumEdificisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumEdificisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumPersonal">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumPersonalRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumPersonalResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumProcediments">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumProcedimentsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumProcedimentsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumTramits">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumTramitsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumTramitsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumUsuaris">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumUsuarisRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumUsuarisResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumSeccions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumSeccionsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumSeccionsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNumMateries">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getNumMateriesRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getNumMateriesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatAdministrativa.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UnitatAdministrativaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:UnitatAdministrativaWSSoapBinding"
			name="UnitatAdministrativaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/UnitatAdministrativaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>