moduls/api/etc/wsdl/UnitatMateriaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.unitatMateria.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.unitatMateria.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://materia.v2.api.rolsac.caib.es"
	xmlns:tns2="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns3="http://general.v2.api.rolsac.caib.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.unitatMateria.v2.api.rolsac.caib.es">
	
	<wsdl:import namespace="urn:tns1" location="MateriaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns2" location="UnitatAdministrativaDTO.wsdl"/>
	<wsdl:import namespace="urn:tns3" location="EntitatRemota.wsdl"/>
	
	<wsdl:types>
	</wsdl:types>
	
	<wsdl:message name="obtenirMateriaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaResponse">
		<wsdl:part name="obtenirUnitatAdministrativaReturn" type="tns2:UnitatAdministrativaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirMateriaResponse">
		<wsdl:part name="obtenirMateriaReturn" type="tns1:MateriaDTO" />
	</wsdl:message>
	<wsdl:portType name="UnitatMateriaQueryServiceEJBRemote">
		<wsdl:operation name="obtenirMateria" parameterOrder="in0">
			<wsdl:input message="impl:obtenirMateriaRequest" name="obtenirMateriaRequest" />
			<wsdl:output message="impl:obtenirMateriaResponse" name="obtenirMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatAdministrativa"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirUnitatAdministrativaRequest"
				name="obtenirUnitatAdministrativaRequest" />
			<wsdl:output message="impl:obtenirUnitatAdministrativaResponse"
				name="obtenirUnitatAdministrativaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UnitatMateriaWSSoapBinding"
		type="impl:UnitatMateriaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatAdministrativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirUnitatAdministrativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirUnitatAdministrativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UnitatMateriaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:UnitatMateriaWSSoapBinding" name="UnitatMateriaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/UnitatMateriaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>