moduls/api/etc/wsdl/UnitatMateriaWS.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://ws.unitatMateria.v2.api.rolsac.caib.es"
	xmlns:intf="http://ws.unitatMateria.v2.api.rolsac.caib.es"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://materia.v2.api.rolsac.caib.es"
	xmlns:tns2="http://unitatAdministrativa.v2.api.rolsac.caib.es"
	xmlns:tns3="http://general.v2.api.rolsac.caib.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.unitatMateria.v2.api.rolsac.caib.es">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://materia.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="MateriaDTO">
				<sequence>
					<element name="codiHita" nillable="true" type="xsd:string" />
					<element name="codigoEstandar" nillable="true" type="xsd:string" />
					<element name="descripcion" nillable="true" type="xsd:string" />
					<element name="destacada" type="xsd:boolean" />
					<element name="foto" nillable="true" type="xsd:long" />
					<element name="icono" nillable="true" type="xsd:long" />
					<element name="iconoGrande" nillable="true" type="xsd:long" />
					<element name="id" type="xsd:long" />
					<element name="nombre" nillable="true" type="xsd:string" />
					<element name="palabrasclave" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://general.v2.api.rolsac.caib.es">
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://unitatAdministrativa.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType abstract="true" name="EntitatRemota">
				<sequence>
					<element name="administracionRemota" nillable="true" type="xsd:long" />
					<element name="idExterno" nillable="true" type="xsd:long" />
					<element name="urlRemota" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://unitatAdministrativa.v2.api.rolsac.caib.es">
			<import namespace="http://general.v2.api.rolsac.caib.es" />
			<import namespace="http://materia.v2.api.rolsac.caib.es" />
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="UnitatAdministrativaDTO">
				<complexContent>
					<extension base="tns3:EntitatRemota">
						<sequence>
							<element name="abreviatura" nillable="true" type="xsd:string" />
							<element name="businessKey" nillable="true" type="xsd:string" />
							<element name="claveHita" nillable="true" type="xsd:string" />
							<element name="codigoEstandar" nillable="true" type="xsd:string" />
							<element name="dominio" nillable="true" type="xsd:string" />
							<element name="email" nillable="true" type="xsd:string" />
							<element name="espacioTerrit" nillable="true" type="xsd:long" />
							<element name="fax" nillable="true" type="xsd:string" />
							<element name="fotog" nillable="true" type="xsd:long" />
							<element name="fotop" nillable="true" type="xsd:long" />
							<element name="id" nillable="true" type="xsd:long" />
							<element name="logoh" nillable="true" type="xsd:long" />
							<element name="logos" nillable="true" type="xsd:long" />
							<element name="logot" nillable="true" type="xsd:long" />
							<element name="logov" nillable="true" type="xsd:long" />
							<element name="nombre" nillable="true" type="xsd:string" />
							<element name="numfoto1" nillable="true" type="xsd:int" />
							<element name="numfoto2" nillable="true" type="xsd:int" />
							<element name="numfoto3" nillable="true" type="xsd:int" />
							<element name="numfoto4" nillable="true" type="xsd:int" />
							<element name="orden" type="xsd:long" />
							<element name="padre" nillable="true" type="xsd:long" />
							<element name="presentacion" nillable="true" type="xsd:string" />
							<element name="responsable" nillable="true" type="xsd:string" />
							<element name="sexoResponsable" nillable="true" type="xsd:int" />
							<element name="telefono" nillable="true" type="xsd:string" />
							<element name="tratamiento" nillable="true" type="xsd:long" />
							<element name="url" nillable="true" type="xsd:string" />
							<element name="validacion" nillable="true" type="xsd:int" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="obtenirMateriaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaResponse">
		<wsdl:part name="obtenirUnitatAdministrativaReturn" type="tns2:UnitatAdministrativaDTO" />
	</wsdl:message>
	<wsdl:message name="obtenirUnitatAdministrativaRequest">
		<wsdl:part name="in0" type="xsd:long" />
	</wsdl:message>
	<wsdl:message name="obtenirMateriaResponse">
		<wsdl:part name="obtenirMateriaReturn" type="tns1:MateriaDTO" />
	</wsdl:message>
	<wsdl:portType name="UnitatMateriaQueryServiceEJBRemote">
		<wsdl:operation name="obtenirMateria" parameterOrder="in0">
			<wsdl:input message="impl:obtenirMateriaRequest" name="obtenirMateriaRequest" />
			<wsdl:output message="impl:obtenirMateriaResponse" name="obtenirMateriaResponse" />
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatAdministrativa"
			parameterOrder="in0">
			<wsdl:input message="impl:obtenirUnitatAdministrativaRequest"
				name="obtenirUnitatAdministrativaRequest" />
			<wsdl:output message="impl:obtenirUnitatAdministrativaResponse"
				name="obtenirUnitatAdministrativaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UnitatMateriaWSSoapBinding"
		type="impl:UnitatMateriaQueryServiceEJBRemote">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtenirMateria">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirMateriaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirMateriaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenirUnitatAdministrativa">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="obtenirUnitatAdministrativaRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://intf.ejb.unitatMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="obtenirUnitatAdministrativaResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://ws.unitatMateria.v2.api.rolsac.caib.es"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UnitatMateriaQueryServiceEJBRemoteService">
		<wsdl:port binding="impl:UnitatMateriaWSSoapBinding" name="UnitatMateriaWS">
			<wsdlsoap:address
				location="https://localhost:8443/sacws-api/services/UnitatMateriaWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>