moduls/api/etc/wsdl/dto/AgrupacioFetVitalDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="AgrupacioFetVitalDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.agrupacioFetVital.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://agrupacioFetVital.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="AgrupacioFetVitalDTO">
            <sequence>
                <element name="codigoEstandar" nillable="true" type="xsd:string" />
                <element name="contenido" nillable="true" type="xsd:long" />
                <element name="descripcion" nillable="true" type="xsd:string" />
                <element name="distribComp" nillable="true" type="xsd:long" />
                <element name="foto" nillable="true" type="xsd:long" />
                <element name="icono" nillable="true" type="xsd:long" />
                <element name="iconoGrande" nillable="true" type="xsd:long" />
                <element name="id" type="xsd:long" />
                <element name="nombre" nillable="true" type="xsd:string" />
                <element name="normativa" nillable="true" type="xsd:long" />
                <element name="palabrasclave" nillable="true" type="xsd:string" />
                <element name="publico" nillable="true" type="xsd:long" />
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
