moduls/api/etc/wsdl/dto/DocumentTramitDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://documentTramit.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="DocumentTramitDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.documentTramit.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://documentTramit.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="DocumentTramitDTO">
            <sequence>
                <element name="archivo" nillable="true" type="xsd:long" />
                <element name="descripcion" nillable="true" type="xsd:string" />
                <element name="id" nillable="true" type="xsd:long" />
                <element name="orden" nillable="true" type="xsd:long" />
                <element name="tipus" nillable="true" type="xsd:int" />
                <element name="titulo" nillable="true" type="xsd:string" />
                <element name="tramit" nillable="true" type="xsd:long" />
                <element name="docCatalogo" nillable="true" type="xsd:long" />                  
                <element name="excepcioDocumentacio" nillable="true" type="xsd:long" />
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
