moduls/api/etc/wsdl/dto/EdificiDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://edifici.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="EdificiDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.edifici.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://edifici.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="EdificiDTO">
            <complexContent>
                <extension base="tns2:EntitatRemota">
                    <sequence>
                        <element name="codigoPostal" nillable="true" type="xsd:string" />
                        <element name="descripcion" nillable="true" type="xsd:string" />
                        <element name="direccion" nillable="true" type="xsd:string" />
                        <element name="email" nillable="true" type="xsd:string" />
                        <element name="fax" nillable="true" type="xsd:string" />
                        <element name="fotoGrande" nillable="true" type="xsd:long" />
                        <element name="fotoPequenya" nillable="true" type="xsd:long" />
                        <element name="id" type="xsd:long" />
                        <element name="latitud" nillable="true" type="xsd:string" />
                        <element name="longitud" nillable="true" type="xsd:string" />
                        <element name="plano" nillable="true" type="xsd:long" />
                        <element name="poblacion" nillable="true" type="xsd:string" />
                        <element name="telefono" nillable="true" type="xsd:string" />
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
