moduls/api/etc/wsdl/dto/EnllacDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://enllac.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="EnllacDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.enllac.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://enllac.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="EnllacDTO">
            <sequence>
                <element name="enlace" nillable="true" type="xsd:string" />
                <element name="ficha" nillable="true" type="xsd:long" />
                <element name="id" nillable="true" type="xsd:long" />
                <element name="orden" type="xsd:long" />
                <element name="procedimiento" nillable="true" type="xsd:long" />
                <element name="titulo" nillable="true" type="xsd:string" />
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
