moduls/api/etc/wsdl/dto/FitxaDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://fitxa.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="FitxaDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.fitxa.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://fitxa.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="FitxaDTO">
            <complexContent>
                <extension base="tns2:EntitatRemota">
                    <sequence>
                        <element name="baner" nillable="true" type="xsd:long" />
                        <element name="descAbr" nillable="true" type="xsd:string" />
                        <element name="descripcion" nillable="true" type="xsd:string" />
                        <element name="fechaActualizacion" nillable="true" type="xsd:dateTime" />
                        <element name="fechaCaducidad" nillable="true" type="xsd:dateTime" />
                        <element name="fechaPublicacion" nillable="true" type="xsd:dateTime" />
                        <element name="foro_tema" nillable="true" type="xsd:string" />
                        <element name="icono" nillable="true" type="xsd:long" />
                        <element name="id" nillable="true" type="xsd:long" />
                        <element name="imagen" nillable="true" type="xsd:long" />
                        <element name="info" nillable="true" type="xsd:string" />
                        <element name="responsable" nillable="true" type="xsd:string" />
                        <element name="titulo" nillable="true" type="xsd:string" />
                        <element name="url" nillable="true" type="xsd:string" />
                        <element name="urlForo" nillable="true" type="xsd:string" />
                        <element name="urlVideo" nillable="true" type="xsd:string" />
                        <element name="validacion" nillable="true" type="xsd:int" />
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
