moduls/api/etc/wsdl/dto/FitxaCriteria.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://fitxa.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    name="FitxaCriteria"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.fitxa.v2.api.rolsac.caib.es">

  <wsdl:import namespace="urn:tns4" location="FitxaOrdenacio.wsdl"/>

  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://fitxa.v2.api.rolsac.caib.es">
        <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
        <import namespace="http://general.v2.api.rolsac.caib.es" />

        <complexType name="ArrayOfFitxaOrdenacio">
            <sequence>
                <element minOccurs="0" maxOccurs="unbounded" name="listaOrdenaciones" nillable="true" type="tns:FitxaOrdenacio" />
            </sequence>
        </complexType>

        <complexType name="FitxaCriteria">
            <complexContent>
                <extension base="tns2:BasicCriteria">
                    <sequence>
                        <element name="actiu" nillable="true" type="xsd:boolean" />                    
                        <element name="fechaActualizacion" nillable="true" type="xsd:string" />
                        <element name="fechaCaducidad" nillable="true" type="xsd:string" />
                        <element name="fechaPublicacion" nillable="true" type="xsd:string" />
                        <element name="foro_tema" nillable="true" type="xsd:string" />
                        <element name="info" nillable="true" type="xsd:string" />
                        <element name="responsable" nillable="true" type="xsd:string" />
                        <element name="t_descAbr" nillable="true" type="xsd:string" />
                        <element name="t_descripcion" nillable="true" type="xsd:string" />
                        <element name="t_titulo" nillable="true" type="xsd:string" />
                        <element name="t_url" nillable="true" type="xsd:string" />
                        <element name="urlForo" nillable="true" type="xsd:string" />
                        <element name="urlVideo" nillable="true" type="xsd:string" />
                        <element name="validacion" nillable="true" type="xsd:string" />
                        <element name="publicoObjetivo" nillable="true" type="xsd:string" />
                        <element name="seccion" nillable="true" type="xsd:string" />
                        <element name="textos" nillable="true" type="xsd:string" />
                        <element name="unidadAdministrativa" nillable="true" type="xsd:string" />
                        <element name="ordenar" nillable="true" type="tns:ArrayOfFitxaOrdenacio" />
                    </sequence>
                </extension>
            </complexContent>
        </complexType>

    </schema>
  </wsdl:types>
</wsdl:definitions>
