moduls/api/etc/wsdl/dto/FitxaUADTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://fitxaUA.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="FitxaUADTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.fitxaUA.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://fitxaUA.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="FitxaUADTO">
            <sequence>
                <element name="ficha" nillable="true" type="xsd:long" />
                <element name="id" nillable="true" type="xsd:long" />
                <element name="orden" nillable="true" type="xsd:int" />
                <element name="ordenseccion" nillable="true" type="xsd:int" />
                <element name="seccion" nillable="true" type="xsd:long" />
                <element name="unidadAdministrativa" nillable="true" type="xsd:long" />
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
