moduls/api/etc/wsdl/dto/PersonalCriteria.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://personal.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    name="PersonalCriteria"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.personal.v2.api.rolsac.caib.es">

  <wsdl:import namespace="urn:tns4" location="PersonalOrdenacio.wsdl"/>

  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://personal.v2.api.rolsac.caib.es">
        <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
        <import namespace="http://general.v2.api.rolsac.caib.es" />

        <complexType name="ArrayOfPersonalOrdenacio">
            <sequence>
                <element minOccurs="0" maxOccurs="unbounded" name="listaOrdenaciones" nillable="true" type="tns:PersonalOrdenacio" />
            </sequence>
        </complexType>

        <complexType name="PersonalCriteria">
            <complexContent>
                <extension base="tns2:BasicCriteria">
                    <sequence>
                        <element name="username" nillable="true" type="xsd:string" />
                        <element name="nombre" nillable="true" type="xsd:string" />
                        <element name="funciones" nillable="true" type="xsd:string" />
                        <element name="cargo" nillable="true" type="xsd:string" />
                        <element name="email" nillable="true" type="xsd:string" />
                        <element name="extensionPublica" nillable="true" type="xsd:string" />
                        <element name="numeroLargoPublico" nillable="true" type="xsd:string" />
                        <element name="extensionPrivada" nillable="true" type="xsd:string" />
                        <element name="numeroLargoPrivado" nillable="true" type="xsd:string" />
                        <element name="extensionMovil" nillable="true" type="xsd:string" />
                        <element name="numeroLargoMovil" nillable="true" type="xsd:string" />
                        <element name="ordenar" nillable="true" type="tns:ArrayOfPersonalOrdenacio" />
                    </sequence>
                </extension>
            </complexContent>
        </complexType>

    </schema>
  </wsdl:types>
</wsdl:definitions>