moduls/api/etc/wsdl/dto/PlantillaDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://plantilla.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="PlantillaDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.plantilla.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://plantilla.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="PlantillaDTO">
            <sequence>
                <element name="identificador" nillable="true" type="xsd:string" />
                <element name="nombre" nillable="true" type="xsd:string" />
                <element name="version" nillable="true" type="xsd:string" />
                <element name="parametros" nillable="true" type="xsd:string" />
                <element name="plataforma" nillable="true" type="xsd:long" />
                <element name="id" nillable="true" type="xsd:long" />
                <element name="orden" type="xsd:int" />
            </sequence>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
