moduls/api/etc/wsdl/dto/PlantillaCriteria.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://plantilla.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    name="PlantillaCriteria"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.plantilla.v2.api.rolsac.caib.es">

  <wsdl:import namespace="urn:tns4" location="PlantillaOrdenacio.wsdl"/>

  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://plantilla.v2.api.rolsac.caib.es">
        <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
        <import namespace="http://general.v2.api.rolsac.caib.es" />

        <complexType name="ArrayOfplantillaOrdenacio">
            <sequence>
                <element minOccurs="0" maxOccurs="unbounded" name="listaOrdenaciones" nillable="true" type="tns:PlantillaOrdenacio" />
            </sequence>
        </complexType>

        <complexType name="PlantillaCriteria">
            <complexContent>
                <extension base="tns2:BasicCriteria">
                    <sequence>
                        <element name="orden" nillable="true" type="xsd:string" />
                        <element name="codigo" nillable="true" type="xsd:string" />
                        <element name="identificador" nillable="true" type="xsd:string" />
                        <element name="version" nillable="true" type="xsd:string" />
                        <element name="parametros" nillable="true" type="xsd:string" />
                        <element name="plataforma" nillable="true" type="xsd:long" />
                        <element name="t_nombre" nillable="true" type="xsd:string" />
                        <element name="ordenar" nillable="true" type="tns:ArrayOfplantillaOrdenacio" />
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
