moduls/api/etc/wsdl/dto/ProcedimentDTO.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:tns="http://procediment.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="ProcedimentDTO"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.procediment.v2.api.rolsac.caib.es">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://procediment.v2.api.rolsac.caib.es">
        <import namespace="http://general.v2.api.rolsac.caib.es" />
        <complexType name="ProcedimentDTO">
            <complexContent>
                <extension base="tns2:EntitatRemota">
                    <sequence>
                        <element name="destinatarios" nillable="true" type="xsd:string" />
                        <element name="familia" nillable="true" type="xsd:long" />
                        <element name="fechaActualizacion" nillable="true" type="xsd:dateTime" />
                        <element name="fechaCaducidad" nillable="true" type="xsd:dateTime" />
                        <element name="fechaPublicacion" nillable="true" type="xsd:dateTime" />
                        <element name="id" nillable="true" type="xsd:long" />
                        <element name="indicador" type="xsd:boolean" />
<!-- #351 cambio info por dir electrónica <element name="info" nillable="true" type="xsd:string" /> -->
                        <element name="dirElectronica" nillable="true" type="xsd:string" />
                        <element name="iniciacion" nillable="true" type="xsd:long" />
                        <element name="lugar" nillable="true" type="xsd:string" />
                        <element name="nombre" nillable="true" type="xsd:string" />
                        <element name="notificacion" nillable="true" type="xsd:string" />
                        <element name="observaciones" nillable="true" type="xsd:string" />
                        <element name="organResolutori" nillable="true" type="xsd:long" />
                        <element name="plazos" nillable="true" type="xsd:string" />
                        <element name="recursos" nillable="true" type="xsd:string" />
                        <element name="requisitos" nillable="true" type="xsd:string" />
                        <element name="resolucion" nillable="true" type="xsd:string" />
                        <element name="responsable" nillable="true" type="xsd:string" />
                        <element name="resultat" nillable="true" type="xsd:string" />
                        <element name="resumen" nillable="true" type="xsd:string" />
                        <element name="signatura" nillable="true" type="xsd:string" />
                        <element name="taxa" type="xsd:boolean" />
                        <element name="tramite" nillable="true" type="xsd:string" />
                        <element name="unidadAdministrativa" nillable="true" type="xsd:long" />
                        <element name="url" nillable="true" type="xsd:string" />
                        <element name="validacion" nillable="true" type="xsd:int" />
                        <element name="ventanillaUnica" type="xsd:boolean" />
                        <element name="version" nillable="true" type="xsd:long" />
                        <element name="servicioResponsable" nillable="true" type="xsd:long" />
                        <element name="silencio" nillable="true" type="xsd:long" />
                        <element name="codigoSIA" nillable="true" type="xsd:string" />
                        <element name="estadoSIA" nillable="true" type="xsd:string" />
                        <element name="fechaSIA" nillable="true" type="xsd:dateTime" />
                        <element name="comun" type="xsd:boolean" />
                        <!-- LOPD -->
                        <element name="lopdCabecera" nillable="true" type="xsd:string" />
                        <element name="lopdResponsable" nillable="true" type="xsd:string" />
                        <element name="lopdFinalidad" nillable="true" type="xsd:string" />
                        <element name="lopdDestinatario" nillable="true" type="xsd:string" />
                        <element name="lopdDerechos" nillable="true" type="xsd:string" />
    					<element name="lopdLegitimacion" nillable="true" type="xsd:long" />
    					<element name="lopdLegitimacionNombre" nillable="true" type="xsd:string" />
    					<element name="lopdLegitimacionIdentificador" nillable="true" type="xsd:string" />
						<element name="lopdInfoAdicional" nillable="true" type="xsd:long" />
						
						<element name="disponibleApoderadoHabilitado" type="xsd:boolean" />
						<element name="disponibleFuncionarioHabilitado" type="xsd:boolean" />
					
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </schema>
  </wsdl:types>
</wsdl:definitions>
