moduls/api/etc/wsdl/dto/SeccioCriteria.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://seccio.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    name="SeccioCriteria"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.seccio.v2.api.rolsac.caib.es">

  <wsdl:import namespace="urn:tns4" location="SeccioOrdenacio.wsdl"/>

  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://seccio.v2.api.rolsac.caib.es">
        <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
        <import namespace="http://general.v2.api.rolsac.caib.es" />

        <complexType name="ArrayOfSeccioOrdenacio">
            <sequence>
                <element minOccurs="0" maxOccurs="unbounded" name="listaOrdenaciones" nillable="true" type="tns:SeccioOrdenacio" />
            </sequence>
        </complexType>

        <complexType name="SeccioCriteria">
            <complexContent>
                <extension base="tns2:BasicCriteria">
                    <sequence>
                        <element name="codigoEstandard" nillable="true" type="xsd:string" />
                        <element name="perfil" nillable="true" type="xsd:string" />                         
                        <element name="orden" nillable="true" type="xsd:string" />                          
                        <element name="arrel" nillable="true" type="xsd:boolean" />                         
                        <element name="t_descripcion" nillable="true" type="xsd:string" />
                        <element name="t_nombre" nillable="true" type="xsd:string" />
                        <element name="ordenar" nillable="true" type="tns:ArrayOfSeccioOrdenacio" />
                    </sequence>
                </extension>
            </complexContent>
        </complexType>

    </schema>
  </wsdl:types>
</wsdl:definitions>
