moduls/api/etc/wsdl/dto/TaxaCriteria.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://taxa.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    name="TaxaCriteria"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.taxa.v2.api.rolsac.caib.es">

  <wsdl:import namespace="urn:tns4" location="TaxaOrdenacio.wsdl"/>

  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://taxa.v2.api.rolsac.caib.es">
        <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
        <import namespace="http://general.v2.api.rolsac.caib.es" />

        <complexType name="ArrayOfTaxaOrdenacio">
            <sequence>
                <element minOccurs="0" maxOccurs="unbounded" name="listaOrdenaciones" nillable="true" type="tns:TaxaOrdenacio" />
            </sequence>
        </complexType>

        <complexType name="TaxaCriteria">
                <complexContent>
                    <extension base="tns2:BasicCriteria">
                        <sequence>
                            <element name="orden" nillable="true" type="xsd:string" />
                            <element name="tramit" nillable="true" type="xsd:string" />
                            <element name="t_descripcio" nillable="true" type="xsd:string" />
                            <element name="t_codificacio" nillable="true" type="xsd:string" />
                            <element name="t_formapagament" nillable="true" type="xsd:string" />
                            <element name="ordenar" nillable="true" type="tns:ArrayOfTaxaOrdenacio" />
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>

    </schema>
  </wsdl:types>
</wsdl:definitions>
