moduls/api/etc/wsdl/dto/TractamentCriteria.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="http://tractament.v2.api.rolsac.caib.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    name="TractamentCriteria"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns2="http://general.v2.api.rolsac.caib.es"
    targetNamespace="http://ws.tractament.v2.api.rolsac.caib.es">

  <wsdl:import namespace="urn:tns4" location="TractamentOrdenacio.wsdl"/> 
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://tractament.v2.api.rolsac.caib.es">
        <import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
        <import namespace="http://general.v2.api.rolsac.caib.es" />
		
		<complexType name="ArrayOfTractamentOrdenacio">
            <sequence>
                <element minOccurs="0" maxOccurs="unbounded" name="listaOrdenaciones" nillable="true" type="tns:TractamentOrdenacio" />
            </sequence>
        </complexType>
        
        <complexType name="TractamentCriteria">
            <complexContent>
                <extension base="tns2:BasicCriteria">
                    <sequence>
                        <element name="codigoEstandar" nillable="true" type="xsd:string" />
                        <element name="t_tipo" nillable="true" type="xsd:string" />
                        <element name="t_cargoM" nillable="true" type="xsd:string" />
                        <element name="t_tratamientoM" nillable="true" type="xsd:string" />
                        <element name="t_cargoF" nillable="true" type="xsd:string" />
                        <element name="t_tratamientoF" nillable="true" type="xsd:string" />
                        <element name="ordenar" nillable="true" type="tns:ArrayOfTractamentOrdenacio" />
                    </sequence>
                </extension>
            </complexContent>
        </complexType>

    </schema>
  </wsdl:types>
</wsdl:definitions>
