moduls/persistence/vuds/AACCWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.batch.vuds.map.es" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.batch.vuds.map.es" xmlns:intf="http://service.batch.vuds.map.es" xmlns:tns1="http://beanCCAA.batch.vuds.map.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.batch.vuds.map.es" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beanCCAA.batch.vuds.map.es"/>
   <element name="getTramite">
    <complexType>
     <sequence>
      <element name="input" type="tns1:InfoDS_Input"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTramiteResponse">
    <complexType>
     <sequence>
      <element name="getTramiteReturn" type="tns1:Tramite"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beanCCAA.batch.vuds.map.es" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="InfoDS_Input">
    <sequence>
     <element name="strCodtramite" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="DS_Control">
    <sequence>
     <element name="cod_Retorno1" type="xsd:int"/>
     <element name="cod_Retorno2" type="xsd:int"/>
     <element name="desc_error" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Descripcion">
    <sequence>
     <element name="intTipologiaTramite" type="xsd:int"/>
     <element name="strCanales" nillable="true" type="xsd:string"/>
     <element name="strFormaIniciacion" nillable="true" type="xsd:string"/>
     <element name="strObjetoTramite" nillable="true" type="xsd:string"/>
     <element name="strObservaciones" nillable="true" type="xsd:string"/>
     <element name="strOrganismoResponsableResolucion" nillable="true" type="xsd:string"/>
     <element name="strSectorActividad" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Formulario">
    <sequence>
     <element name="strCodFormulario" nillable="true" type="xsd:string"/>
     <element name="strNombreFormulario" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Normativa">
    <sequence>
     <element name="strEfectosSilencio" nillable="true" type="xsd:string"/>
     <element name="strNormativaReguladoraSilencio" nillable="true" type="xsd:string"/>
     <element name="strNormativaVigente" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="OrganizacionesAsistencia">
    <sequence>
     <element name="strAmbito" nillable="true" type="xsd:string"/>
     <element name="strDescripcionAsistencia" nillable="true" type="xsd:string"/>
     <element name="strEnlaceWeb" nillable="true" type="xsd:string"/>
     <element name="strOrganismoAsistencia" nillable="true" type="xsd:string"/>
     <element name="strSolicitante" nillable="true" type="xsd:string"/>
     <element name="strTelefono" nillable="true" type="xsd:string"/>
     <element name="strTipologiaAsistencia" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Tasa">
    <sequence>
     <element name="strCodtasa" nillable="true" type="xsd:string"/>
     <element name="strDescTasas" nillable="true" type="xsd:string"/>
     <element name="strMedioPago" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ViasReclamacion">
    <sequence>
     <element name="strDescripcionViaReclamacion" nillable="true" type="xsd:string"/>
     <element name="strOrganismoReclamacion" nillable="true" type="xsd:string"/>
     <element name="strRecurso" nillable="true" type="xsd:string"/>
     <element name="strResultadoProceso" nillable="true" type="xsd:string"/>
     <element name="strTipologiaInstrumentoReclamacion" nillable="true" type="xsd:string"/>
     <element name="strTipologiaViaReclamacion" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="InfoDS_Output">
    <sequence>
     <element name="strAreaTramitadora" nillable="true" type="xsd:string"/>
     <element name="strDenomtramite" nillable="true" type="xsd:string"/>
     <element name="strDescripcion" nillable="true" type="tns1:Descripcion"/>
     <element name="strDocumentacion" nillable="true" type="xsd:string"/>
     <element name="strFormularios" nillable="true" type="tns1:Formulario"/>
     <element name="strNormativa" nillable="true" type="tns1:Normativa"/>
     <element name="strOrganismoCompetente" nillable="true" type="xsd:string"/>
     <element name="strOrganizacionesAsistencia" nillable="true" type="tns1:OrganizacionesAsistencia"/>
     <element name="strPlazoResolucion" nillable="true" type="xsd:string"/>
     <element name="strPlazos" nillable="true" type="xsd:string"/>
     <element name="strRequisitosPrevios" nillable="true" type="xsd:string"/>
     <element name="strTasas" nillable="true" type="tns1:Tasa"/>
     <element name="strViasReclamacion" nillable="true" type="tns1:ViasReclamacion"/>
    </sequence>
   </complexType>
   <complexType name="InfoTramite">
    <sequence>
     <element name="control" nillable="true" type="tns1:DS_Control"/>
     <element name="entrada" nillable="true" type="tns1:InfoDS_Input"/>
     <element name="salida" nillable="true" type="tns1:InfoDS_Output"/>
    </sequence>
   </complexType>
   <complexType name="Tramite">
    <sequence>
     <element name="tramite" nillable="true" type="tns1:InfoTramite"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTramiteResponse">

      <wsdl:part element="impl:getTramiteResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getTramiteRequest">

      <wsdl:part element="impl:getTramite" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="CCAAWebService">

      <wsdl:operation name="getTramite">

         <wsdl:input message="impl:getTramiteRequest" name="getTramiteRequest"/>

         <wsdl:output message="impl:getTramiteResponse" name="getTramiteResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CCAAWebServiceSoapBinding" type="impl:CCAAWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTramite">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTramiteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTramiteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CCAAWebServiceService">

      <wsdl:port binding="impl:CCAAWebServiceSoapBinding" name="CCAAWebService">

         <wsdlsoap:address location="http://localhost:8080/CCAAWebServiceDemo/services/CCAAWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
