moduls/persistence/vuds/vuds03sep10.wsdl

<wsdl:definitions name="GestorWebserviceBeanService" targetNamespace="http://webservice.service.si.vuds.map.es/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
  <wsdl:types> 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.service.si.vuds.map.es/" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
<xs:element name="cargarActividadesByAreaActividad" nillable="true" type="tns:cargarActividadesByAreaActividad"></xs:element> 
<xs:element name="cargarActividadesByAreaActividadResponse" nillable="true" type="tns:cargarActividadesByAreaActividadResponse"></xs:element> 
<xs:element name="cargarActividadesEconomicas" nillable="true" type="tns:cargarActividadesEconomicas"></xs:element> 
<xs:element name="cargarActividadesEconomicasResponse" nillable="true" type="tns:cargarActividadesEconomicasResponse"></xs:element> 
<xs:element name="cargarAmbitoEjercicio" nillable="true" type="tns:cargarAmbitoEjercicio"></xs:element> 
<xs:element name="cargarAmbitoEjercicioResponse" nillable="true" type="tns:cargarAmbitoEjercicioResponse"></xs:element> 
<xs:element name="cargarAreasActividad" nillable="true" type="tns:cargarAreasActividad"></xs:element> 
<xs:element name="cargarAreasActividadResponse" nillable="true" type="tns:cargarAreasActividadResponse"></xs:element> 
<xs:element name="cargarAreasTramitadora" nillable="true" type="tns:cargarAreasTramitadora"></xs:element> 
<xs:element name="cargarAreasTramitadoraResponse" nillable="true" type="tns:cargarAreasTramitadoraResponse"></xs:element> 
<xs:element name="cargarCanalesTramitacion" nillable="true" type="tns:cargarCanalesTramitacion"></xs:element> 
<xs:element name="cargarCanalesTramitacionResponse" nillable="true" type="tns:cargarCanalesTramitacionResponse"></xs:element> 
<xs:element name="cargarFormaIniciacion" nillable="true" type="tns:cargarFormaIniciacion"></xs:element> 
<xs:element name="cargarFormaIniciacionResponse" nillable="true" type="tns:cargarFormaIniciacionResponse"></xs:element> 
<xs:element name="cargarFormaJuridica" nillable="true" type="tns:cargarFormaJuridica"></xs:element> 
<xs:element name="cargarFormaJuridicaResponse" nillable="true" type="tns:cargarFormaJuridicaResponse"></xs:element> 
<xs:element name="cargarIdiomas" nillable="true" type="tns:cargarIdiomas"></xs:element> 
<xs:element name="cargarIdiomasResponse" nillable="true" type="tns:cargarIdiomasResponse"></xs:element> 
<xs:element name="cargarOrganizacionAsistenciaVUDS" nillable="true" type="tns:cargarOrganizacionAsistenciaVUDS"></xs:element> 
<xs:element name="cargarOrganizacionAsistenciaVUDSResponse" nillable="true" type="tns:cargarOrganizacionAsistenciaVUDSResponse"></xs:element> 
<xs:element name="cargarOrganizacionesAsistenciaAACC" nillable="true" type="tns:cargarOrganizacionesAsistenciaAACC"></xs:element> 
<xs:element name="cargarOrganizacionesAsistenciaAACCResponse" nillable="true" type="tns:cargarOrganizacionesAsistenciaAACCResponse"></xs:element> 
<xs:element name="cargarResultadosProceso" nillable="true" type="tns:cargarResultadosProceso"></xs:element> 
<xs:element name="cargarResultadosProcesoResponse" nillable="true" type="tns:cargarResultadosProcesoResponse"></xs:element> 
<xs:element name="cargarTipoEstablecimiento" nillable="true" type="tns:cargarTipoEstablecimiento"></xs:element> 
<xs:element name="cargarTipoEstablecimientoResponse" nillable="true" type="tns:cargarTipoEstablecimientoResponse"></xs:element> 
<xs:element name="cargarTipoSolicitante" nillable="true" type="tns:cargarTipoSolicitante"></xs:element> 
<xs:element name="cargarTipoSolicitanteResponse" nillable="true" type="tns:cargarTipoSolicitanteResponse"></xs:element> 
<xs:element name="cargarTipoViaReclamacion" nillable="true" type="tns:cargarTipoViaReclamacion"></xs:element> 
<xs:element name="cargarTipoViaReclamacionResponse" nillable="true" type="tns:cargarTipoViaReclamacionResponse"></xs:element> 
<xs:element name="cargarTramitesAACC" nillable="true" type="tns:cargarTramitesAACC"></xs:element> 
<xs:element name="cargarTramitesAACCResponse" nillable="true" type="tns:cargarTramitesAACCResponse"></xs:element> 
<xs:element name="cargarTramitesVuds" nillable="true" type="tns:cargarTramitesVuds"></xs:element> 
<xs:element name="cargarTramitesVudsResponse" nillable="true" type="tns:cargarTramitesVudsResponse"></xs:element> 
<xs:element name="cargarViaPrestacion" nillable="true" type="tns:cargarViaPrestacion"></xs:element> 
<xs:element name="cargarViaPrestacionResponse" nillable="true" type="tns:cargarViaPrestacionResponse"></xs:element> 
<xs:element name="cargarViaReclamacionVUDS" nillable="true" type="tns:cargarViaReclamacionVUDS"></xs:element> 
<xs:element name="cargarViaReclamacionVUDSResponse" nillable="true" type="tns:cargarViaReclamacionVUDSResponse"></xs:element> 
<xs:element name="cargarViasReclamacionAACC" nillable="true" type="tns:cargarViasReclamacionAACC"></xs:element> 
<xs:element name="cargarViasReclamacionAACCResponse" nillable="true" type="tns:cargarViasReclamacionAACCResponse"></xs:element> 
<xs:element name="consultarDetalleTramite" nillable="true" type="tns:consultarDetalleTramite"></xs:element> 
<xs:element name="consultarDetalleTramiteResponse" nillable="true" type="tns:consultarDetalleTramiteResponse"></xs:element> 
<xs:element name="consultarEstadoTramites" nillable="true" type="tns:consultarEstadoTramites"></xs:element> 
<xs:element name="consultarEstadoTramitesResponse" nillable="true" type="tns:consultarEstadoTramitesResponse"></xs:element> 
<xs:element name="consultarLocalizacion" nillable="true" type="tns:consultarLocalizacion"></xs:element> 
<xs:element name="consultarLocalizacionResponse" nillable="true" type="tns:consultarLocalizacionResponse"></xs:element> 
<xs:element name="consultarMapaTramite" nillable="true" type="tns:consultarMapaTramite"></xs:element> 
<xs:element name="consultarMapaTramiteResponse" nillable="true" type="tns:consultarMapaTramiteResponse"></xs:element> 
<xs:element name="consultarRechazosTramites" nillable="true" type="tns:consultarRechazosTramites"></xs:element> 
<xs:element name="consultarRechazosTramitesResponse" nillable="true" type="tns:consultarRechazosTramitesResponse"></xs:element> 
<xs:element name="consultarTramitePorAmbito" nillable="true" type="tns:consultarTramitePorAmbito"></xs:element> 
<xs:element name="consultarTramitePorAmbitoResponse" nillable="true" type="tns:consultarTramitePorAmbitoResponse"></xs:element> 
<xs:element name="guardarOrganizacionesAsistencia" nillable="true" type="tns:guardarOrganizacionesAsistencia"></xs:element> 
<xs:element name="guardarOrganizacionesAsistenciaResponse" nillable="true" type="tns:guardarOrganizacionesAsistenciaResponse"></xs:element> 
<xs:element name="guardarTramites" nillable="true" type="tns:guardarTramites"></xs:element> 
<xs:element name="guardarTramitesResponse" nillable="true" type="tns:guardarTramitesResponse"></xs:element> 
<xs:element name="guardarViasReclamacion" nillable="true" type="tns:guardarViasReclamacion"></xs:element> 
<xs:element name="guardarViasReclamacionResponse" nillable="true" type="tns:guardarViasReclamacionResponse"></xs:element> 
<xs:complexType name="consultarMapaTramite"> 
<xs:sequence> 
<xs:element minOccurs="0" name="TipoPrestador" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Agrupacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Actividad" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Localizacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Establecimiento" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="FormaJuridica" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="viaPrestacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="idioma"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionIdioma" type="xs:string"></xs:element> 
<xs:element name="idIdioma" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarMapaTramiteResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:MapaTramite"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="MapaTramite"> 
<xs:sequence> 
<xs:element minOccurs="0" name="tramite" type="tns:tramiteVuds"></xs:element> 
<xs:element minOccurs="0" name="predecesores" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tramiteVuds"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionTramiteVuds" type="xs:string"></xs:element> 
<xs:element name="idTramiteVuds" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarIdiomas"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarIdiomasResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAreasActividad"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="idAgrupacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAreasActividadResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:agrupacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="agrupacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionLarga" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idSector" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="idAgrupacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionesAsistenciaAACC"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionesAsistenciaAACCResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organizacionAsistencia"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="organizacionAsistencia"> 
<xs:sequence> 
<xs:element name="actividadEconomica" type="tns:actividadEconomica"></xs:element> 
<xs:element name="ambito" type="tns:ambito"></xs:element> 
<xs:element name="descripcionOrganizacionAsistencia" type="xs:string"></xs:element> 
<xs:element name="enlaceWeb" type="xs:string"></xs:element> 
<xs:element name="organismo" type="xs:string"></xs:element> 
<xs:element name="telefono" type="xs:string"></xs:element> 
<xs:element name="tipologia" type="tns:tipologiaOrganizaciones"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="actividadEconomica"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionActividadEconomiva" type="xs:string"></xs:element> 
<xs:element name="idActividadEconomica" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarViasReclamacion"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="viaReclamacion" nillable="true" type="tns:viaReclamacion"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="viaReclamacion"> 
<xs:sequence> 
<xs:element name="descripcion" type="xs:string"></xs:element> 
<xs:element name="tipoSolicitante" type="tns:tipoSolicitante"></xs:element> 
<xs:element name="tipoViaReclamacion" type="tns:tipoViaReclamacion"></xs:element> 
<xs:element minOccurs="0" name="plazo" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="donde" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="documentacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="formaIniciacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="organismoTramita" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="notificaciones" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="recursos" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="otrosDatosInteres" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tipoSolicitante"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idTipoSolicitante" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tipoViaReclamacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="descripcionLarga" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idTipoViaReclamacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarViasReclamacionResponse"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarOrganizacionesAsistencia"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="organizacionesAsistencia" nillable="true" type="tns:organizacionAsistencia"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarOrganizacionesAsistenciaResponse"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarResultadosProceso"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarResultadosProcesoResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:resultadoProceso"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="resultadoProceso"> 
<xs:sequence> 
<xs:element name="descripcionResultadoProceso" type="xs:string"></xs:element> 
<xs:element name="idResultadoProceso" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesAACC"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesAACCResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramite"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tramite"> 
<xs:sequence> 
<xs:element name="organismoCompetente" type="tns:organismoCompetente"></xs:element> 
<xs:element minOccurs="0" name="canalTramitacion" type="tns:canalTramitacion"></xs:element> 
<xs:element name="codigoIdentificador" type="xs:string"></xs:element> 
<xs:element name="denominacionTramite" type="xs:string"></xs:element> 
<xs:element name="descripcionTramite" type="xs:string"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="xs:string"></xs:element> 
<xs:element name="formaIniciacion" type="tns:formaIniciacion"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="formulario" nillable="true" type="tns:formulario"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="normativa" nillable="true" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="observaciones" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="plazosLegales" type="xs:string"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="requisitosPrevios" nillable="true" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="tasa" type="tns:tasa"></xs:element> 
<xs:element minOccurs="0" name="tiempoResolucion" type="xs:string"></xs:element> 
<xs:element name="tipoRegistro" type="tns:tipoRegistro"></xs:element> 
<xs:element name="tipologia" type="tns:tipologiaTramite"></xs:element> 
<xs:element name="tramiteVuds" type="tns:tramiteVuds"></xs:element> 
<xs:element minOccurs="0" name="enlaceConsulta" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="areaTramitadora" type="xs:string"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="resultado" nillable="true" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="organismoCompetente"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionOrganismo" type="xs:string"></xs:element> 
<xs:element name="idOrganismo" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="canalTramitacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionCanal" type="xs:string"></xs:element> 
<xs:element name="idCanal" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="formaIniciacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionFormaIniciacion" type="xs:string"></xs:element> 
<xs:element name="idFormaIniciacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="formulario"> 
<xs:sequence> 
<xs:element name="descripcionFormulario" type="xs:string"></xs:element> 
<xs:element name="idCodificacion" type="xs:string"></xs:element> 
<xs:element name="urlDescarga" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tasa"> 
<xs:sequence> 
<xs:element name="codificacion" type="xs:string"></xs:element> 
<xs:element name="descripcionTasa" type="xs:string"></xs:element> 
<xs:element name="modoPago" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarEstadoTramites"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarEstadoTramitesResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:detalleTramite"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="detalleTramite"> 
<xs:sequence> 
<xs:element name="tramite" type="tns:tramite"></xs:element> 
<xs:element name="estado" type="tns:estadoTramite"></xs:element> 
<xs:element name="fechaCarga" type="xs:dateTime"></xs:element> 
<xs:element name="ultimaModificacion" type="xs:dateTime"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaJuridica"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="tipoEstablecimiento" type="xs:long"></xs:element> 
<xs:element name="viaPrestacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaJuridicaResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:formaJuriida"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="formaJuriida"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idFormaJuridica" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="numeroSocios" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="capitalMinimo" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="responsabilidad" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="regimenImpuesto" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesEconomicas"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesEconomicasResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:actividadEconomica"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesVuds"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesVudsResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramiteVuds"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoViaReclamacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoViaReclamacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoViaReclamacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAmbitoEjercicio"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAmbitoEjercicioResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ambitoEjercicio"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="ambitoEjercicio"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idAmbEjercicio" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViaReclamacionVUDS"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="tipoSolicitante" type="xs:long"></xs:element> 
<xs:element name="tipoViaReclamacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViaReclamacionVUDSResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaReclamacionVUDS"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="viaReclamacionVUDS"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idViaReclamacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="tipoSolicitante" type="tns:tipoSolicitante"></xs:element> 
<xs:element minOccurs="0" name="tipoViaReclamacion" type="tns:tipoViaReclamacion"></xs:element> 
<xs:element minOccurs="0" name="plazo" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="donde" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="documentacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="formaIniciacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="organismoTramita" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="notificaciones" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="recursos" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="otrosDatosInteres" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViasReclamacionAACC"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViasReclamacionAACCResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaReclamacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarDetalleTramite"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="Localizacion" type="xs:long"></xs:element> 
<xs:element name="idTramite" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarDetalleTramiteResponse"> 
<xs:sequence> 
<xs:element minOccurs="0" name="return" type="tns:tramite"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViaPrestacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="tipoEstablecimiento" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViaPrestacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaPrestacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="viaPrestacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idViaPrestacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarRechazosTramites"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarRechazosTramitesResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:rechazo"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="rechazo"> 
<xs:sequence> 
<xs:element name="tramite" type="tns:tramite"></xs:element> 
<xs:element name="motivo" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAreasTramitadora"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAreasTramitadoraResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organismoCompetente"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarTramitePorAmbito"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element minOccurs="0" name="ambito" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarTramitePorAmbitoResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramiteVuds"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoSolicitante"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoSolicitanteResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoSolicitante"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarTramites"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" name="tramite" type="tns:tramite"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarTramitesResponse"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoEstablecimiento"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoEstablecimientoResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoEstablecimiento"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tipoEstablecimiento"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idEstablecimiento" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaIniciacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaIniciacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:formaIniciacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarCanalesTramitacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarCanalesTramitacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:canalTramitacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionAsistenciaVUDS"> 
<xs:sequence> 
<xs:element minOccurs="0" name="TipoSolicitante" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="AmbitoEjercicio" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="localizacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionAsistenciaVUDSResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organizacionAsistenciaVUDS"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="organizacionAsistenciaVUDS"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idOrganizacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="tipologia" type="tns:tipologiaOrganizaciones"></xs:element> 
<xs:element minOccurs="0" name="ambito" type="tns:ambitoEjercicio"></xs:element> 
<xs:element minOccurs="0" name="tipoSolicitante" type="tns:tipoSolicitante"></xs:element> 
<xs:element minOccurs="0" name="enlaceWeb" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="telefono" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="descripcionOrganizacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="localizacion" type="tns:localizacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="localizacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idLocalizacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="idComunidadAutonoma" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="ComunidadAutonoma" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idProvincia" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Provincia" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idPoblacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Poblacion" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesByAreaActividad"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="idAgrupacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesByAreaActividadResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:actividadEconomica"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarLocalizacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element minOccurs="0" name="id_ccaa" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="id_provincia" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="id_poblacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarLocalizacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:localizacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:simpleType name="ambito"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Estatal"></xs:enumeration> 
<xs:enumeration value="Europeo"></xs:enumeration> 
<xs:enumeration value="Municipal"></xs:enumeration> 
<xs:enumeration value="Provincial"></xs:enumeration> 
<xs:enumeration value="Regional"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipologiaOrganizaciones"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Asociacion"></xs:enumeration> 
<xs:enumeration value="Organizacion"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipoRegistro"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Alta"></xs:enumeration> 
<xs:enumeration value="Modificacion"></xs:enumeration> 
<xs:enumeration value="Baja"></xs:enumeration> 
<xs:enumeration value="Excepcion"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipologiaTramite"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Autorizacion"></xs:enumeration> 
<xs:enumeration value="Colegiacion el en Colegio"></xs:enumeration> 
<xs:enumeration value="Comunicacion Colegios"></xs:enumeration> 
<xs:enumeration value="Homologacion"></xs:enumeration> 
<xs:enumeration value="Inscripcion en el Colegio"></xs:enumeration> 
<xs:enumeration value="Inscripcion en el registro"></xs:enumeration> 
<xs:enumeration value="Inscripcion temporal en el registro"></xs:enumeration> 
<xs:enumeration value="Licencias"></xs:enumeration> 
<xs:enumeration value="Reconocimiento del Titulo"></xs:enumeration> 
<xs:enumeration value="Registro de la Sociedad Profesional en el Registro del Colegio Profesional"></xs:enumeration> 
<xs:enumeration value="Solicitud de admision a examen de carne profesional"></xs:enumeration> 
<xs:enumeration value="Solicitud de expedicion del carne profesional"></xs:enumeration> 
<xs:enumeration value="Otros"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="estadoTramite"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Pendiente"></xs:enumeration> 
<xs:enumeration value="En_Curso"></xs:enumeration> 
<xs:enumeration value="Cargado"></xs:enumeration> 
<xs:enumeration value="Rechazado"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
</xs:schema> 
  </wsdl:types> 
  <wsdl:message name="cargarFormaJuridicaResponse"> 
    <wsdl:part element="tns:cargarFormaJuridicaResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarAreasActividad"> 
    <wsdl:part element="tns:cargarAreasActividad" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarFormaIniciacion"> 
    <wsdl:part element="tns:cargarFormaIniciacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarActividadesByAreaActividadResponse"> 
    <wsdl:part element="tns:cargarActividadesByAreaActividadResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarCanalesTramitacion"> 
    <wsdl:part element="tns:cargarCanalesTramitacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarCanalesTramitacionResponse"> 
    <wsdl:part element="tns:cargarCanalesTramitacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTipoViaReclamacionResponse"> 
    <wsdl:part element="tns:cargarTipoViaReclamacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarAmbitoEjercicioResponse"> 
    <wsdl:part element="tns:cargarAmbitoEjercicioResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarTramitePorAmbito"> 
    <wsdl:part element="tns:consultarTramitePorAmbito" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarOrganizacionAsistenciaVUDSResponse"> 
    <wsdl:part element="tns:cargarOrganizacionAsistenciaVUDSResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarDetalleTramite"> 
    <wsdl:part element="tns:consultarDetalleTramite" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarActividadesEconomicasResponse"> 
    <wsdl:part element="tns:cargarActividadesEconomicasResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarOrganizacionesAsistenciaAACC"> 
    <wsdl:part element="tns:cargarOrganizacionesAsistenciaAACC" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarViasReclamacion"> 
    <wsdl:part element="tns:guardarViasReclamacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarAreasTramitadora"> 
    <wsdl:part element="tns:cargarAreasTramitadora" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTipoEstablecimiento"> 
    <wsdl:part element="tns:cargarTipoEstablecimiento" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarTramitesResponse"> 
    <wsdl:part element="tns:guardarTramitesResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarFormaIniciacionResponse"> 
    <wsdl:part element="tns:cargarFormaIniciacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarActividadesByAreaActividad"> 
    <wsdl:part element="tns:cargarActividadesByAreaActividad" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarEstadoTramitesResponse"> 
    <wsdl:part element="tns:consultarEstadoTramitesResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarMapaTramiteResponse"> 
    <wsdl:part element="tns:consultarMapaTramiteResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarRechazosTramitesResponse"> 
    <wsdl:part element="tns:consultarRechazosTramitesResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarViasReclamacionAACC"> 
    <wsdl:part element="tns:cargarViasReclamacionAACC" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarAreasTramitadoraResponse"> 
    <wsdl:part element="tns:cargarAreasTramitadoraResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarViaPrestacion"> 
    <wsdl:part element="tns:cargarViaPrestacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarActividadesEconomicas"> 
    <wsdl:part element="tns:cargarActividadesEconomicas" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarFormaJuridica"> 
    <wsdl:part element="tns:cargarFormaJuridica" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarAreasActividadResponse"> 
    <wsdl:part element="tns:cargarAreasActividadResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarTramitePorAmbitoResponse"> 
    <wsdl:part element="tns:consultarTramitePorAmbitoResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTramitesVuds"> 
    <wsdl:part element="tns:cargarTramitesVuds" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarOrganizacionesAsistenciaAACCResponse"> 
    <wsdl:part element="tns:cargarOrganizacionesAsistenciaAACCResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarResultadosProceso"> 
    <wsdl:part element="tns:cargarResultadosProceso" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarViaReclamacionVUDS"> 
    <wsdl:part element="tns:cargarViaReclamacionVUDS" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTramitesAACCResponse"> 
    <wsdl:part element="tns:cargarTramitesAACCResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarViasReclamacionAACCResponse"> 
    <wsdl:part element="tns:cargarViasReclamacionAACCResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarIdiomasResponse"> 
    <wsdl:part element="tns:cargarIdiomasResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarOrganizacionesAsistenciaResponse"> 
    <wsdl:part element="tns:guardarOrganizacionesAsistenciaResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTramitesVudsResponse"> 
    <wsdl:part element="tns:cargarTramitesVudsResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTramitesAACC"> 
    <wsdl:part element="tns:cargarTramitesAACC" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarViasReclamacionResponse"> 
    <wsdl:part element="tns:guardarViasReclamacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTipoEstablecimientoResponse"> 
    <wsdl:part element="tns:cargarTipoEstablecimientoResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarLocalizacion"> 
    <wsdl:part element="tns:consultarLocalizacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarResultadosProcesoResponse"> 
    <wsdl:part element="tns:cargarResultadosProcesoResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarRechazosTramites"> 
    <wsdl:part element="tns:consultarRechazosTramites" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarOrganizacionAsistenciaVUDS"> 
    <wsdl:part element="tns:cargarOrganizacionAsistenciaVUDS" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarDetalleTramiteResponse"> 
    <wsdl:part element="tns:consultarDetalleTramiteResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTipoSolicitante"> 
    <wsdl:part element="tns:cargarTipoSolicitante" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarEstadoTramites"> 
    <wsdl:part element="tns:consultarEstadoTramites" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarLocalizacionResponse"> 
    <wsdl:part element="tns:consultarLocalizacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarAmbitoEjercicio"> 
    <wsdl:part element="tns:cargarAmbitoEjercicio" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarTramites"> 
    <wsdl:part element="tns:guardarTramites" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTipoSolicitanteResponse"> 
    <wsdl:part element="tns:cargarTipoSolicitanteResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarIdiomas"> 
    <wsdl:part element="tns:cargarIdiomas" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarTipoViaReclamacion"> 
    <wsdl:part element="tns:cargarTipoViaReclamacion" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="guardarOrganizacionesAsistencia"> 
    <wsdl:part element="tns:guardarOrganizacionesAsistencia" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarViaPrestacionResponse"> 
    <wsdl:part element="tns:cargarViaPrestacionResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="cargarViaReclamacionVUDSResponse"> 
    <wsdl:part element="tns:cargarViaReclamacionVUDSResponse" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:message name="consultarMapaTramite"> 
    <wsdl:part element="tns:consultarMapaTramite" name="parameters"> 
    </wsdl:part> 
  </wsdl:message> 
  <wsdl:portType name="GestorWebserviceBean"> 
    <wsdl:operation name="consultarMapaTramite"> 
      <wsdl:input message="tns:consultarMapaTramite" name="consultarMapaTramite"> 
    </wsdl:input> 
      <wsdl:output message="tns:consultarMapaTramiteResponse" name="consultarMapaTramiteResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarIdiomas"> 
      <wsdl:input message="tns:cargarIdiomas" name="cargarIdiomas"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarIdiomasResponse" name="cargarIdiomasResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarAreasActividad"> 
      <wsdl:input message="tns:cargarAreasActividad" name="cargarAreasActividad"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarAreasActividadResponse" name="cargarAreasActividadResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarOrganizacionesAsistenciaAACC"> 
      <wsdl:input message="tns:cargarOrganizacionesAsistenciaAACC" name="cargarOrganizacionesAsistenciaAACC"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarOrganizacionesAsistenciaAACCResponse" name="cargarOrganizacionesAsistenciaAACCResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarViasReclamacion"> 
      <wsdl:input message="tns:guardarViasReclamacion" name="guardarViasReclamacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:guardarViasReclamacionResponse" name="guardarViasReclamacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarOrganizacionesAsistencia"> 
      <wsdl:input message="tns:guardarOrganizacionesAsistencia" name="guardarOrganizacionesAsistencia"> 
    </wsdl:input> 
      <wsdl:output message="tns:guardarOrganizacionesAsistenciaResponse" name="guardarOrganizacionesAsistenciaResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarResultadosProceso"> 
      <wsdl:input message="tns:cargarResultadosProceso" name="cargarResultadosProceso"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarResultadosProcesoResponse" name="cargarResultadosProcesoResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTramitesAACC"> 
      <wsdl:input message="tns:cargarTramitesAACC" name="cargarTramitesAACC"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarTramitesAACCResponse" name="cargarTramitesAACCResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarEstadoTramites"> 
      <wsdl:input message="tns:consultarEstadoTramites" name="consultarEstadoTramites"> 
    </wsdl:input> 
      <wsdl:output message="tns:consultarEstadoTramitesResponse" name="consultarEstadoTramitesResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarFormaJuridica"> 
      <wsdl:input message="tns:cargarFormaJuridica" name="cargarFormaJuridica"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarFormaJuridicaResponse" name="cargarFormaJuridicaResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarActividadesEconomicas"> 
      <wsdl:input message="tns:cargarActividadesEconomicas" name="cargarActividadesEconomicas"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarActividadesEconomicasResponse" name="cargarActividadesEconomicasResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTramitesVuds"> 
      <wsdl:input message="tns:cargarTramitesVuds" name="cargarTramitesVuds"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarTramitesVudsResponse" name="cargarTramitesVudsResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTipoViaReclamacion"> 
      <wsdl:input message="tns:cargarTipoViaReclamacion" name="cargarTipoViaReclamacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarTipoViaReclamacionResponse" name="cargarTipoViaReclamacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarAmbitoEjercicio"> 
      <wsdl:input message="tns:cargarAmbitoEjercicio" name="cargarAmbitoEjercicio"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarAmbitoEjercicioResponse" name="cargarAmbitoEjercicioResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarViaReclamacionVUDS"> 
      <wsdl:input message="tns:cargarViaReclamacionVUDS" name="cargarViaReclamacionVUDS"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarViaReclamacionVUDSResponse" name="cargarViaReclamacionVUDSResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarViasReclamacionAACC"> 
      <wsdl:input message="tns:cargarViasReclamacionAACC" name="cargarViasReclamacionAACC"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarViasReclamacionAACCResponse" name="cargarViasReclamacionAACCResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarDetalleTramite"> 
      <wsdl:input message="tns:consultarDetalleTramite" name="consultarDetalleTramite"> 
    </wsdl:input> 
      <wsdl:output message="tns:consultarDetalleTramiteResponse" name="consultarDetalleTramiteResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarViaPrestacion"> 
      <wsdl:input message="tns:cargarViaPrestacion" name="cargarViaPrestacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarViaPrestacionResponse" name="cargarViaPrestacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarRechazosTramites"> 
      <wsdl:input message="tns:consultarRechazosTramites" name="consultarRechazosTramites"> 
    </wsdl:input> 
      <wsdl:output message="tns:consultarRechazosTramitesResponse" name="consultarRechazosTramitesResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarAreasTramitadora"> 
      <wsdl:input message="tns:cargarAreasTramitadora" name="cargarAreasTramitadora"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarAreasTramitadoraResponse" name="cargarAreasTramitadoraResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarTramitePorAmbito"> 
      <wsdl:input message="tns:consultarTramitePorAmbito" name="consultarTramitePorAmbito"> 
    </wsdl:input> 
      <wsdl:output message="tns:consultarTramitePorAmbitoResponse" name="consultarTramitePorAmbitoResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTipoSolicitante"> 
      <wsdl:input message="tns:cargarTipoSolicitante" name="cargarTipoSolicitante"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarTipoSolicitanteResponse" name="cargarTipoSolicitanteResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarTramites"> 
      <wsdl:input message="tns:guardarTramites" name="guardarTramites"> 
    </wsdl:input> 
      <wsdl:output message="tns:guardarTramitesResponse" name="guardarTramitesResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTipoEstablecimiento"> 
      <wsdl:input message="tns:cargarTipoEstablecimiento" name="cargarTipoEstablecimiento"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarTipoEstablecimientoResponse" name="cargarTipoEstablecimientoResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarFormaIniciacion"> 
      <wsdl:input message="tns:cargarFormaIniciacion" name="cargarFormaIniciacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarFormaIniciacionResponse" name="cargarFormaIniciacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarCanalesTramitacion"> 
      <wsdl:input message="tns:cargarCanalesTramitacion" name="cargarCanalesTramitacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarCanalesTramitacionResponse" name="cargarCanalesTramitacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarOrganizacionAsistenciaVUDS"> 
      <wsdl:input message="tns:cargarOrganizacionAsistenciaVUDS" name="cargarOrganizacionAsistenciaVUDS"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarOrganizacionAsistenciaVUDSResponse" name="cargarOrganizacionAsistenciaVUDSResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarActividadesByAreaActividad"> 
      <wsdl:input message="tns:cargarActividadesByAreaActividad" name="cargarActividadesByAreaActividad"> 
    </wsdl:input> 
      <wsdl:output message="tns:cargarActividadesByAreaActividadResponse" name="cargarActividadesByAreaActividadResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarLocalizacion"> 
      <wsdl:input message="tns:consultarLocalizacion" name="consultarLocalizacion"> 
    </wsdl:input> 
      <wsdl:output message="tns:consultarLocalizacionResponse" name="consultarLocalizacionResponse"> 
    </wsdl:output> 
    </wsdl:operation> 
  </wsdl:portType> 
  <wsdl:binding name="GestorWebserviceBeanServiceSoapBinding" type="tns:GestorWebserviceBean"> 
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding> 
    <wsdl:operation name="consultarMapaTramite"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/consultarMapaTramite" style="document"></soap:operation> 
      <wsdl:input name="consultarMapaTramite"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="consultarMapaTramiteResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarIdiomas"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarIdiomas" style="document"></soap:operation> 
      <wsdl:input name="cargarIdiomas"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarIdiomasResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarAreasActividad"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarAreasActividad" style="document"></soap:operation> 
      <wsdl:input name="cargarAreasActividad"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarAreasActividadResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarOrganizacionesAsistenciaAACC"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarOrganizacionesAsistenciaAACC" style="document"></soap:operation> 
      <wsdl:input name="cargarOrganizacionesAsistenciaAACC"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarOrganizacionesAsistenciaAACCResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarViasReclamacion"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/guardarViasReclamacion" style="document"></soap:operation> 
      <wsdl:input name="guardarViasReclamacion"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="guardarViasReclamacionResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarOrganizacionesAsistencia"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/guardarOrganizacionesAsistencia" style="document"></soap:operation> 
      <wsdl:input name="guardarOrganizacionesAsistencia"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="guardarOrganizacionesAsistenciaResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarResultadosProceso"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarResultadosProceso" style="document"></soap:operation> 
      <wsdl:input name="cargarResultadosProceso"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarResultadosProcesoResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTramitesAACC"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarTramitesAACC" style="document"></soap:operation> 
      <wsdl:input name="cargarTramitesAACC"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarTramitesAACCResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarFormaJuridica"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarFormaJuridica" style="document"></soap:operation> 
      <wsdl:input name="cargarFormaJuridica"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarFormaJuridicaResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarEstadoTramites"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/consultarEstadoTramites" style="document"></soap:operation> 
      <wsdl:input name="consultarEstadoTramites"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="consultarEstadoTramitesResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarActividadesEconomicas"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarActividadesEconomicas" style="document"></soap:operation> 
      <wsdl:input name="cargarActividadesEconomicas"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarActividadesEconomicasResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarAmbitoEjercicio"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarAmbitoEjercicio" style="document"></soap:operation> 
      <wsdl:input name="cargarAmbitoEjercicio"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarAmbitoEjercicioResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTipoViaReclamacion"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarTipoViaReclamacion" style="document"></soap:operation> 
      <wsdl:input name="cargarTipoViaReclamacion"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarTipoViaReclamacionResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTramitesVuds"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarTramitesVuds" style="document"></soap:operation> 
      <wsdl:input name="cargarTramitesVuds"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarTramitesVudsResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarViaReclamacionVUDS"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarViaReclamacionVUDS" style="document"></soap:operation> 
      <wsdl:input name="cargarViaReclamacionVUDS"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarViaReclamacionVUDSResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarViasReclamacionAACC"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarViasReclamacionAACC" style="document"></soap:operation> 
      <wsdl:input name="cargarViasReclamacionAACC"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarViasReclamacionAACCResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarDetalleTramite"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/consultarDetalleTramite" style="document"></soap:operation> 
      <wsdl:input name="consultarDetalleTramite"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="consultarDetalleTramiteResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarViaPrestacion"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarViaPrestacion" style="document"></soap:operation> 
      <wsdl:input name="cargarViaPrestacion"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarViaPrestacionResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarRechazosTramites"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/consultarRechazosTramites" style="document"></soap:operation> 
      <wsdl:input name="consultarRechazosTramites"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="consultarRechazosTramitesResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarAreasTramitadora"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarAreasTramitadora" style="document"></soap:operation> 
      <wsdl:input name="cargarAreasTramitadora"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarAreasTramitadoraResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTipoSolicitante"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarTipoSolicitante" style="document"></soap:operation> 
      <wsdl:input name="cargarTipoSolicitante"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarTipoSolicitanteResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarTramitePorAmbito"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/consultarTramitePorAmbito" style="document"></soap:operation> 
      <wsdl:input name="consultarTramitePorAmbito"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="consultarTramitePorAmbitoResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarTipoEstablecimiento"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarTipoEstablecimiento" style="document"></soap:operation> 
      <wsdl:input name="cargarTipoEstablecimiento"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarTipoEstablecimientoResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="guardarTramites"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/guardarTramites" style="document"></soap:operation> 
      <wsdl:input name="guardarTramites"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="guardarTramitesResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarFormaIniciacion"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarFormaIniciacion" style="document"></soap:operation> 
      <wsdl:input name="cargarFormaIniciacion"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarFormaIniciacionResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarCanalesTramitacion"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarCanalesTramitacion" style="document"></soap:operation> 
      <wsdl:input name="cargarCanalesTramitacion"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarCanalesTramitacionResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarActividadesByAreaActividad"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarActividadesByAreaActividad" style="document"></soap:operation> 
      <wsdl:input name="cargarActividadesByAreaActividad"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarActividadesByAreaActividadResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="cargarOrganizacionAsistenciaVUDS"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/cargarOrganizacionAsistenciaVUDS" style="document"></soap:operation> 
      <wsdl:input name="cargarOrganizacionAsistenciaVUDS"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="cargarOrganizacionAsistenciaVUDSResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
    <wsdl:operation name="consultarLocalizacion"> 
      <soap:operation soapAction="http://webservice.service.si.vuds.map.es/consultarLocalizacion" style="document"></soap:operation> 
      <wsdl:input name="consultarLocalizacion"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:input> 
      <wsdl:output name="consultarLocalizacionResponse"> 
        <soap:body use="literal"></soap:body> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding> 
  <wsdl:service name="GestorWebserviceBeanService"> 
    <wsdl:port binding="tns:GestorWebserviceBeanServiceSoapBinding" name="GestorWebserviceBeanPort"> 
      <soap:address location="http://89.140.20.218:65003/sistemaInformacion-authbasic"></soap:address> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>