moduls/persistence/vuds/vuds_unknown.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service.si.vuds.map.es/" name="sistemaInformacionWS">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://webservice.service.si.vuds.map.es/"  
			schemaLocation="vuds.xsd"
			/>
		</xsd:schema>
	</types>
	<message name="guardarTramites">
		<part name="parameters" element="tns:guardarTramites" />
	</message>
	<message name="guardarTramitesResponse">
		<part name="parameters" element="tns:guardarTramitesResponse" />
	</message>
	<message name="cargarTramites">
		<part name="parameters" element="tns:cargarTramites" />
	</message>
	<message name="cargarTramitesResponse">
		<part name="parameters" element="tns:cargarTramitesResponse" />
	</message>
	<message name="guardarViasReclamacion">
		<part name="parameters" element="tns:guardarViasReclamacion" />
	</message>
	<message name="guardarViasReclamacionResponse">
		<part name="parameters" element="tns:guardarViasReclamacionResponse" />
	</message>
	<message name="cargarViasReclamacion">
		<part name="parameters" element="tns:cargarViasReclamacion" />
	</message>
	<message name="cargarViasReclamacionResponse">
		<part name="parameters" element="tns:cargarViasReclamacionResponse" />
	</message>
	<message name="guardarOrganizacionesAsistencia">
		<part name="parameters" element="tns:guardarOrganizacionesAsistencia" />
	</message>
	<message name="guardarOrganizacionesAsistenciaResponse">
		<part name="parameters" element="tns:guardarOrganizacionesAsistenciaResponse" />
	</message>
	<message name="cargarOrganizacionesAsistencia">
		<part name="parameters" element="tns:cargarOrganizacionesAsistencia" />
	</message>
	<message name="cargarOrganizacionesAsistenciaResponse">
		<part name="parameters" element="tns:cargarOrganizacionesAsistenciaResponse" />
	</message>
	<message name="cargarFormaIniciacion">
		<part name="parameters" element="tns:cargarFormaIniciacion" />
	</message>
	<message name="cargarFormaIniciacionResponse">
		<part name="parameters" element="tns:cargarFormaIniciacionResponse" />
	</message>
	<message name="cargarTramitesVuds">
		<part name="parameters" element="tns:cargarTramitesVuds" />
	</message>
	<message name="cargarTramitesVudsResponse">
		<part name="parameters" element="tns:cargarTramitesVudsResponse" />
	</message>
	<message name="cargarAreasTramitadora">
		<part name="parameters" element="tns:cargarAreasTramitadora" />
	</message>
	<message name="cargarAreasTramitadoraResponse">
		<part name="parameters" element="tns:cargarAreasTramitadoraResponse" />
	</message>
	<message name="cargarCanalesTramitacion">
		<part name="parameters" element="tns:cargarCanalesTramitacion" />
	</message>
	<message name="cargarCanalesTramitacionResponse">
		<part name="parameters" element="tns:cargarCanalesTramitacionResponse" />
	</message>
	<message name="cargarNormativas">
		<part name="parameters" element="tns:cargarNormativas" />
	</message>
	<message name="cargarNormativasResponse">
		<part name="parameters" element="tns:cargarNormativasResponse" />
	</message>
	<message name="cargarActividadesEconomicas">
		<part name="parameters" element="tns:cargarActividadesEconomicas" />
	</message>
	<message name="cargarActividadesEconomicasResponse">
		<part name="parameters" element="tns:cargarActividadesEconomicasResponse" />
	</message>
	<message name="cargarInstrumentosReclamacion">
		<part name="parameters" element="tns:cargarInstrumentosReclamacion" />
	</message>
	<message name="cargarInstrumentosReclamacionResponse">
		<part name="parameters" element="tns:cargarInstrumentosReclamacionResponse" />
	</message>
	<message name="cargarResultadosProceso">
		<part name="parameters" element="tns:cargarResultadosProceso" />
	</message>
	<message name="cargarResultadosProcesoResponse">
		<part name="parameters" element="tns:cargarResultadosProcesoResponse" />
	</message>
	<message name="cargarRecursosResolucion">
		<part name="parameters" element="tns:cargarRecursosResolucion" />
	</message>
	<message name="cargarRecursosResolucionResponse">
		<part name="parameters" element="tns:cargarRecursosResolucionResponse" />
	</message>
	<message name="cargarIdiomas">
		<part name="parameters" element="tns:cargarIdiomas" />
	</message>
	<message name="cargarIdiomasResponse">
		<part name="parameters" element="tns:cargarIdiomasResponse" />
	</message>
	<portType name="GestorWebserviceBean">
		<operation name="guardarTramites">
			<input message="tns:guardarTramites" />
			<output message="tns:guardarTramitesResponse" />
		</operation>
		<operation name="cargarTramites">
			<input message="tns:cargarTramites" />
			<output message="tns:cargarTramitesResponse" />
		</operation>
		<operation name="guardarViasReclamacion">
			<input message="tns:guardarViasReclamacion" />
			<output message="tns:guardarViasReclamacionResponse" />
		</operation>
		<operation name="cargarViasReclamacion">
			<input message="tns:cargarViasReclamacion" />
			<output message="tns:cargarViasReclamacionResponse" />
		</operation>
		<operation name="guardarOrganizacionesAsistencia">
			<input message="tns:guardarOrganizacionesAsistencia" />
			<output message="tns:guardarOrganizacionesAsistenciaResponse" />
		</operation>
		<operation name="cargarOrganizacionesAsistencia">
			<input message="tns:cargarOrganizacionesAsistencia" />
			<output message="tns:cargarOrganizacionesAsistenciaResponse" />
		</operation>
		<operation name="cargarFormaIniciacion">
			<input message="tns:cargarFormaIniciacion" />
			<output message="tns:cargarFormaIniciacionResponse" />
		</operation>
		<operation name="cargarTramitesVuds">
			<input message="tns:cargarTramitesVuds" />
			<output message="tns:cargarTramitesVudsResponse" />
		</operation>
		<operation name="cargarAreasTramitadora">
			<input message="tns:cargarAreasTramitadora" />
			<output message="tns:cargarAreasTramitadoraResponse" />
		</operation>
		<operation name="cargarCanalesTramitacion">
			<input message="tns:cargarCanalesTramitacion" />
			<output message="tns:cargarCanalesTramitacionResponse" />
		</operation>
		<operation name="cargarNormativas">
			<input message="tns:cargarNormativas" />
			<output message="tns:cargarNormativasResponse" />
		</operation>
		<operation name="cargarActividadesEconomicas">
			<input message="tns:cargarActividadesEconomicas" />
			<output message="tns:cargarActividadesEconomicasResponse" />
		</operation>
		<operation name="cargarInstrumentosReclamacion">
			<input message="tns:cargarInstrumentosReclamacion" />
			<output message="tns:cargarInstrumentosReclamacionResponse" />
		</operation>
		<operation name="cargarResultadosProceso">
			<input message="tns:cargarResultadosProceso" />
			<output message="tns:cargarResultadosProcesoResponse" />
		</operation>
		<operation name="cargarRecursosResolucion">
			<input message="tns:cargarRecursosResolucion" />
			<output message="tns:cargarRecursosResolucionResponse" />
		</operation>
		<operation name="cargarIdiomas">
			<input message="tns:cargarIdiomas" />
			<output message="tns:cargarIdiomasResponse" />
		</operation>
	</portType>
	<binding name="GestorWebserviceBeanPortBinding" type="tns:GestorWebserviceBean">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="guardarTramites">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarTramites">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="guardarViasReclamacion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarViasReclamacion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="guardarOrganizacionesAsistencia">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarOrganizacionesAsistencia">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarFormaIniciacion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarTramitesVuds">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarAreasTramitadora">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarCanalesTramitacion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarNormativas">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarActividadesEconomicas">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarInstrumentosReclamacion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarResultadosProceso">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarRecursosResolucion">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="cargarIdiomas">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="sistemaInformacionWS">
		<port name="GestorWebserviceBeanPort" binding="tns:GestorWebserviceBeanPortBinding">
			<soap:address location="http://127.0.0.1:7001/GestorWebserviceBean/sistemaInformacionWS" />
		</port>
	</service>
</definitions>
