moduls/persistence/vuds/vuds201102_sistemaInformacion-authwsse.xsd

<?xml version='1.0' encoding='UTF-8'?><!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). 
  --><xs:schema targetNamespace="http://webservice.service.si.vuds.map.es/" version="1.0" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cargarActividadesByAreaActividad" type="tns:cargarActividadesByAreaActividad" /> 
  <xs:element name="cargarActividadesByAreaActividadResponse" type="tns:cargarActividadesByAreaActividadResponse" /> 
  <xs:element name="cargarAmbitoEjercicio" type="tns:cargarAmbitoEjercicio" /> 
  <xs:element name="cargarAmbitoEjercicioResponse" type="tns:cargarAmbitoEjercicioResponse" /> 
  <xs:element name="cargarAreasActividad" type="tns:cargarAreasActividad" /> 
  <xs:element name="cargarAreasActividadResponse" type="tns:cargarAreasActividadResponse" /> 
  <xs:element name="cargarCanalesTramitacion" type="tns:cargarCanalesTramitacion" /> 
  <xs:element name="cargarCanalesTramitacionResponse" type="tns:cargarCanalesTramitacionResponse" /> 
  <xs:element name="cargarFormaIniciacion" type="tns:cargarFormaIniciacion" /> 
  <xs:element name="cargarFormaIniciacionResponse" type="tns:cargarFormaIniciacionResponse" /> 
  <xs:element name="cargarFormaJuridica" type="tns:cargarFormaJuridica" /> 
  <xs:element name="cargarFormaJuridicaResponse" type="tns:cargarFormaJuridicaResponse" /> 
  <xs:element name="cargarModosActividad" type="tns:cargarModosActividad" /> 
  <xs:element name="cargarModosActividadResponse" type="tns:cargarModosActividadResponse" /> 
  <xs:element name="cargarOrganizacionesAsistenciaAACC" type="tns:cargarOrganizacionesAsistenciaAACC" /> 
  <xs:element name="cargarOrganizacionesAsistenciaAACCResponse" type="tns:cargarOrganizacionesAsistenciaAACCResponse" /> 
  <xs:element name="cargarOrganizacionesAsistenciaVUDS" type="tns:cargarOrganizacionesAsistenciaVUDS" /> 
  <xs:element name="cargarOrganizacionesAsistenciaVUDSResponse" type="tns:cargarOrganizacionesAsistenciaVUDSResponse" /> 
  <xs:element name="cargarResultadosProceso" type="tns:cargarResultadosProceso" /> 
  <xs:element name="cargarResultadosProcesoResponse" type="tns:cargarResultadosProcesoResponse" /> 
  <xs:element name="cargarTipoEstablecimiento" type="tns:cargarTipoEstablecimiento" /> 
  <xs:element name="cargarTipoEstablecimientoResponse" type="tns:cargarTipoEstablecimientoResponse" /> 
  <xs:element name="cargarTipoRegistros" type="tns:cargarTipoRegistros" /> 
  <xs:element name="cargarTipoRegistrosResponse" type="tns:cargarTipoRegistrosResponse" /> 
  <xs:element name="cargarTipoSolicitante" type="tns:cargarTipoSolicitante" /> 
  <xs:element name="cargarTipoSolicitanteResponse" type="tns:cargarTipoSolicitanteResponse" /> 
  <xs:element name="cargarTipoViaReclamacion" type="tns:cargarTipoViaReclamacion" /> 
  <xs:element name="cargarTipoViaReclamacionResponse" type="tns:cargarTipoViaReclamacionResponse" /> 
  <xs:element name="cargarTipologiaOrganizaciones" type="tns:cargarTipologiaOrganizaciones" /> 
  <xs:element name="cargarTipologiaOrganizacionesResponse" type="tns:cargarTipologiaOrganizacionesResponse" /> 
  <xs:element name="cargarTipologiaTramites" type="tns:cargarTipologiaTramites" /> 
  <xs:element name="cargarTipologiaTramitesResponse" type="tns:cargarTipologiaTramitesResponse" /> 
  <xs:element name="cargarTramitesVuds" type="tns:cargarTramitesVuds" /> 
  <xs:element name="cargarTramitesVudsResponse" type="tns:cargarTramitesVudsResponse" /> 
  <xs:element name="cargarViaPrestacion" type="tns:cargarViaPrestacion" /> 
  <xs:element name="cargarViaPrestacionResponse" type="tns:cargarViaPrestacionResponse" /> 
  <xs:element name="cargarViaReclamacionVUDS" type="tns:cargarViaReclamacionVUDS" /> 
  <xs:element name="cargarViaReclamacionVUDSResponse" type="tns:cargarViaReclamacionVUDSResponse" /> 
  <xs:element name="consultarDetalleTramite" type="tns:consultarDetalleTramite" /> 
  <xs:element name="consultarDetalleTramiteResponse" type="tns:consultarDetalleTramiteResponse" /> 
  <xs:element name="consultarEstadoTramites" type="tns:consultarEstadoTramites" /> 
  <xs:element name="consultarEstadoTramitesResponse" type="tns:consultarEstadoTramitesResponse" /> 
  <xs:element name="consultarLocalizacion" type="tns:consultarLocalizacion" /> 
  <xs:element name="consultarLocalizacionResponse" type="tns:consultarLocalizacionResponse" /> 
  <xs:element name="consultarMapaTramite" type="tns:consultarMapaTramite" /> 
  <xs:element name="consultarMapaTramiteResponse" type="tns:consultarMapaTramiteResponse" /> 
  <xs:element name="consultarRechazosTramites" type="tns:consultarRechazosTramites" /> 
  <xs:element name="consultarRechazosTramitesResponse" type="tns:consultarRechazosTramitesResponse" /> 
  <xs:element name="consultarTramitePorAmbito" type="tns:consultarTramitePorAmbito" /> 
  <xs:element name="consultarTramitePorAmbitoResponse" type="tns:consultarTramitePorAmbitoResponse" /> 
  <xs:element name="guardarOrganizacionesAsistencia" type="tns:guardarOrganizacionesAsistencia" /> 
  <xs:element name="guardarOrganizacionesAsistenciaResponse" type="tns:guardarOrganizacionesAsistenciaResponse" /> 
  <xs:element name="guardarTramites" type="tns:guardarTramites" /> 
  <xs:element name="guardarTramitesResponse" type="tns:guardarTramitesResponse" /> 
  <xs:element name="obtenerOrganismosByUsuario" type="tns:obtenerOrganismosByUsuario" /> 
  <xs:element name="obtenerOrganismosByUsuarioResponse" type="tns:obtenerOrganismosByUsuarioResponse" /> 
 <xs:complexType name="consultarRechazosTramites">
  </xs:complexType>
 <xs:complexType name="consultarRechazosTramitesResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:rechazo" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="rechazo">
 <xs:sequence>
  <xs:element name="tramite" type="tns:tramite" /> 
  <xs:element name="motivo" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tramite">
 <xs:sequence>
  <xs:element name="organismoCompetente" type="tns:organismoCompetente" /> 
  <xs:element name="canalTramitacion" type="tns:canalTramitacion" /> 
  <xs:element maxLength="500" name="denominacionTramite" type="xs:string" /> 
  <xs:element maxLength="4000" name="descripcionTramite" type="xs:string" /> 
  <xs:element maxLength="4000" maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="xs:string" /> 
  <xs:element name="formaIniciacion" type="tns:formaIniciacion" /> 
  <xs:element maxOccurs="unbounded" minOccurs="0" name="formulario" nillable="true" type="tns:formulario" /> 
  <xs:element maxLength="4000" maxOccurs="unbounded" minOccurs="0" name="normativa" nillable="true" type="xs:string" /> 
  <xs:element maxLength="4000" minOccurs="0" name="observaciones" type="xs:string" /> 
  <xs:element maxLength="2000" minOccurs="0" name="plazosLegales" type="xs:string" /> 
  <xs:element maxLength="4000" maxOccurs="unbounded" minOccurs="0" name="requisitosPrevios" nillable="true" type="xs:string" /> 
  <xs:element minOccurs="0" name="tasa" type="tns:tasa" /> 
  <xs:element maxLength="2000" minOccurs="0" name="tiempoResolucion" type="xs:string" /> 
  <xs:element minOccurs="0" name="tipoRegistro" type="xs:string" /> 
  <xs:element minOccurs="0" name="tipologia" type="tns:tipologiaTramite" /> 
  <xs:element minOccurs="0" name="tramiteVuds" type="tns:tramiteVuds" /> 
  <xs:element minOccurs="0" name="enlaceConsulta" type="xs:string" /> 
  <xs:element maxLength="1000" minOccurs="0" name="areaTramitadora" type="xs:string" /> 
  <xs:element maxLength="4000" maxOccurs="unbounded" minOccurs="0" name="resultado" nillable="true" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="organismoCompetente">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcionOrganismo" type="xs:string" /> 
  <xs:element minOccurs="1" name="idOrganismo" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="canalTramitacion">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcionCanal" type="xs:string" /> 
  <xs:element minOccurs="1" name="idCanal" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="formaIniciacion">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcionFormaIniciacion" type="xs:string" /> 
  <xs:element minOccurs="1" name="idFormaIniciacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="formulario">
 <xs:sequence>
  <xs:element maxLength="4000" name="descripcionFormulario" type="xs:string" /> 
  <xs:element maxLength="100" name="idCodificacion" type="xs:string" /> 
  <xs:element name="urlDescarga" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tasa">
 <xs:sequence>
  <xs:element maxLength="1000" name="descripcionTasa" type="xs:string" /> 
  <xs:element maxLength="255" name="modoPago" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tipologiaTramite">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="1" name="idTipologiaTra" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tramiteVuds">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcionTramiteVuds" type="xs:string" /> 
  <xs:element minOccurs="1" name="idTramiteVuds" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="consultarLocalizacion">
 <xs:sequence>
  <xs:element minOccurs="0" name="id_ccaa" type="xs:long" /> 
  <xs:element minOccurs="0" name="id_provincia" type="xs:long" /> 
  <xs:element minOccurs="0" name="id_poblacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="consultarLocalizacionResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:localizacion" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="localizacion">
 <xs:sequence>
  <xs:element minOccurs="0" name="idLocalizacion" type="xs:long" /> 
  <xs:element minOccurs="0" name="idComunidadAutonoma" type="xs:long" /> 
  <xs:element minOccurs="0" name="ComunidadAutonoma" type="xs:string" /> 
  <xs:element minOccurs="0" name="idProvincia" type="xs:long" /> 
  <xs:element minOccurs="0" name="Provincia" type="xs:string" /> 
  <xs:element minOccurs="0" name="idPoblacion" type="xs:long" /> 
  <xs:element minOccurs="0" name="Poblacion" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarTipoRegistros">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarTipoRegistrosResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoRegistro" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tipoRegistro">
 <xs:sequence>
  <xs:element minOccurs="1" name="idTipoRegistro" type="xs:string" /> 
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="consultarDetalleTramite">
 <xs:sequence>
  <xs:element minOccurs="1" name="Localizacion" type="xs:long" /> 
  <xs:element minOccurs="1" name="idTramite" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="consultarDetalleTramiteResponse">
 <xs:sequence>
  <xs:element minOccurs="0" name="return" type="tns:tramite" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarOrganizacionesAsistenciaAACC">
  </xs:complexType>
 <xs:complexType name="cargarOrganizacionesAsistenciaAACCResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organizacionAsistencia" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="organizacionAsistencia">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" name="actividadEconomica" type="tns:actividadEconomica" /> 
  <xs:element name="ambito" type="tns:ambitoEjercicio" /> 
  <xs:element name="descripcionOrganizacionAsistencia" type="xs:string" /> 
  <xs:element name="enlaceWeb" type="xs:string" /> 
  <xs:element name="organismo" type="xs:string" /> 
  <xs:element name="telefono" type="xs:string" /> 
  <xs:element name="tipologia" type="tns:tipologiaOrganizaciones" /> 
  <xs:element name="tipoSolicitante" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="actividadEconomica">
 <xs:sequence>
  <xs:element maxLength="2000" minOccurs="0" name="descripcionActividadEconomiva" type="xs:string" /> 
  <xs:element minOccurs="1" name="idActividadEconomica" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="ambitoEjercicio">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="1" name="idAmbEjercicio" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tipologiaOrganizaciones">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="1" name="idTipologiaOrg" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="consultarMapaTramite">
 <xs:sequence>
  <xs:element minOccurs="0" name="TipoPrestador" type="xs:long" /> 
  <xs:element minOccurs="0" name="Agrupacion" type="xs:long" /> 
  <xs:element minOccurs="0" name="Actividad" type="xs:long" /> 
  <xs:element minOccurs="0" name="Localizacion" type="xs:long" /> 
  <xs:element minOccurs="0" name="Establecimiento" type="xs:long" /> 
  <xs:element minOccurs="0" name="FormaJuridica" type="xs:long" /> 
  <xs:element minOccurs="0" name="viaPrestacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="consultarMapaTramiteResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:MapaTramite" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="MapaTramite">
 <xs:sequence>
  <xs:element minOccurs="0" name="tramite" type="tns:tramiteVuds" /> 
  <xs:element minOccurs="0" name="predecesores" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarOrganizacionesAsistenciaVUDS">
 <xs:sequence>
  <xs:element name="TipoSolicitante" type="xs:long" /> 
  <xs:element name="AmbitoEjercicio" type="xs:long" /> 
  <xs:element minOccurs="0" name="localizacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarOrganizacionesAsistenciaVUDSResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organizacionAsistenciaVUDS" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="organizacionAsistenciaVUDS">
 <xs:sequence>
  <xs:element minOccurs="0" name="idOrganizacion" type="xs:long" /> 
  <xs:element maxLength="255" minOccurs="0" name="nombre" type="xs:string" /> 
  <xs:element minOccurs="1" name="tipologia" type="tns:tipologiaOrganizaciones" /> 
  <xs:element minOccurs="1" name="ambito" type="tns:ambitoEjercicio" /> 
  <xs:element minOccurs="0" name="tipoSolicitante" type="tns:tipoSolicitante" /> 
  <xs:element maxLength="150" minOccurs="0" name="enlaceWeb" type="xs:string" /> 
  <xs:element maxLength="50" minOccurs="0" name="telefono" type="xs:string" /> 
  <xs:element maxLength="2000" minOccurs="0" name="descripcionOrganizacion" type="xs:string" /> 
  <xs:element minOccurs="0" name="localizacion" type="tns:localizacion" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tipoSolicitante">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="1" name="idTipoSolicitante" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarModosActividad">
 <xs:sequence>
  <xs:element minOccurs="1" name="idAgrupacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarModosActividadResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:modoActividad" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="modoActividad">
 <xs:sequence>
  <xs:element name="idModoActividad" type="xs:long" /> 
  <xs:element name="idAgrupacion" type="xs:long" /> 
  <xs:element minOccurs="0" name="descripcionAgrupacion" type="xs:string" /> 
  <xs:element name="idActividad" type="xs:long" /> 
  <xs:element minOccurs="0" name="descripcionActividad" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="consultarEstadoTramites">
  </xs:complexType>
 <xs:complexType name="consultarEstadoTramitesResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:detalleTramite" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="detalleTramite">
 <xs:sequence>
  <xs:element name="tramite" type="tns:tramite" /> 
  <xs:element name="estado" type="tns:estadoTramite" /> 
  <xs:element name="fechaCarga" type="xs:dateTime" /> 
  <xs:element name="ultimaModificacion" type="xs:dateTime" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarTipoEstablecimiento">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarTipoEstablecimientoResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoEstablecimiento" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tipoEstablecimiento">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="1" name="idEstablecimiento" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarTipoSolicitante">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarTipoSolicitanteResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoSolicitante" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarAmbitoEjercicio">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarAmbitoEjercicioResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ambitoEjercicio" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarTipologiaTramites">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarTipologiaTramitesResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipologiaTramite" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarActividadesByAreaActividad">
 <xs:sequence>
  <xs:element minOccurs="1" name="idAgrupacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarActividadesByAreaActividadResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:actividadEconomica" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="guardarTramites">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="tramite" type="tns:tramite" />  
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="guardarTramitesResponse">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarViaPrestacion">
 <xs:sequence>
  <xs:element minOccurs="1" name="tipoEstablecimiento" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarViaPrestacionResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaPrestacion" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="viaPrestacion">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="0" name="idViaPrestacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="guardarOrganizacionesAsistencia">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="organizacionesAsistencia" type="tns:organizacionAsistencia" />  
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="guardarOrganizacionesAsistenciaResponse">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarTipoViaReclamacion">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarTipoViaReclamacionResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoViaReclamacion" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="tipoViaReclamacion">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="0" name="descripcionLarga" type="xs:string" /> 
  <xs:element minOccurs="0" name="idTipoViaReclamacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarFormaJuridica">
 <xs:sequence>
  <xs:element minOccurs="0" name="tipoEstablecimiento" type="xs:long" /> 
  <xs:element minOccurs="0" name="viaPrestacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarFormaJuridicaResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:formaJuriida" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="formaJuriida">
 <xs:sequence>
  <xs:element minOccurs="0" name="idFormaJuridica" type="xs:long" /> 
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="0" name="numeroSocios" type="xs:string" /> 
  <xs:element minOccurs="0" name="capitalMinimo" type="xs:string" /> 
  <xs:element minOccurs="0" name="responsabilidad" type="xs:string" /> 
  <xs:element minOccurs="0" name="regimenImpuesto" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarTramitesVuds">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarTramitesVudsResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramiteVuds" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarAreasActividad">
 <xs:sequence>
  <xs:element minOccurs="1" name="idAgrupacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarAreasActividadResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:agrupacion" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="agrupacion">
 <xs:sequence>
  <xs:element minOccurs="0" name="descripcionLarga" type="xs:string" /> 
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="0" name="idSector" type="xs:long" /> 
  <xs:element minOccurs="0" name="idAgrupacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarTipologiaOrganizaciones">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarTipologiaOrganizacionesResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipologiaOrganizaciones" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarViaReclamacionVUDS">
 <xs:sequence>
  <xs:element minOccurs="0" name="tipoSolicitante" type="xs:long" /> 
  <xs:element minOccurs="0" name="tipoViaReclamacion" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarViaReclamacionVUDSResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaReclamacionVUDS" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="viaReclamacionVUDS">
 <xs:sequence>
  <xs:element minOccurs="0" name="idViaReclamacion" type="xs:long" /> 
  <xs:element minOccurs="0" name="descripcion" type="xs:string" /> 
  <xs:element minOccurs="0" name="tipoSolicitante" type="tns:tipoSolicitante" /> 
  <xs:element minOccurs="0" name="tipoViaReclamacion" type="tns:tipoViaReclamacion" /> 
  <xs:element minOccurs="0" name="plazo" type="xs:string" /> 
  <xs:element minOccurs="0" name="donde" type="xs:string" /> 
  <xs:element minOccurs="0" name="documentacion" type="xs:string" /> 
  <xs:element minOccurs="0" name="formaIniciacion" type="xs:string" /> 
  <xs:element minOccurs="0" name="organismoTramita" type="xs:string" /> 
  <xs:element minOccurs="0" name="notificaciones" type="xs:string" /> 
  <xs:element minOccurs="0" name="recursos" type="xs:string" /> 
  <xs:element minOccurs="0" name="otrosDatosInteres" type="xs:string" /> 
  <xs:element minOccurs="0" name="nombre" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarResultadosProceso">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarResultadosProcesoResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:resultadoProceso" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="resultadoProceso">
 <xs:sequence>
 <xs:element name="descripcionResultadoProceso" type="xs:string" /> 
  <xs:element name="idResultadoProceso" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarFormaIniciacion">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarFormaIniciacionResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:formaIniciacion" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="cargarCanalesTramitacion">
  <xs:sequence /> 
  </xs:complexType>
 <xs:complexType name="cargarCanalesTramitacionResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:canalTramitacion" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="obtenerOrganismosByUsuario">
<xs:sequence>
<xs:element minOccurs="1" name="usuario" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenerOrganismosByUsuarioResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organismoCompetente" />
</xs:sequence>
</xs:complexType>
 <xs:complexType name="consultarTramitePorAmbito">
 <xs:sequence>
  <xs:element minOccurs="1" name="ambito" type="xs:long" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:complexType name="consultarTramitePorAmbitoResponse">
 <xs:sequence>
  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramiteVuds" /> 
  </xs:sequence>
  </xs:complexType>
 <xs:simpleType name="estadoTramite">
 <xs:restriction base="xs:string">
  <xs:enumeration value="Pendiente" /> 
  <xs:enumeration value="Validado" /> 
  <xs:enumeration value="Cargado" /> 
  <xs:enumeration value="Rechazado" /> 
  </xs:restriction>
  </xs:simpleType>
  </xs:schema>