moduls/persistence/vuds/vuds20100903.xsd

<?xml version='1.0' encoding='UTF-8'?><!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). 
  --><xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.service.si.vuds.map.es/" xmlns:tns="http://webservice.service.si.vuds.map.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
<xs:element name="cargarActividadesByAreaActividad" nillable="true" type="tns:cargarActividadesByAreaActividad"></xs:element> 
<xs:element name="cargarActividadesByAreaActividadResponse" nillable="true" type="tns:cargarActividadesByAreaActividadResponse"></xs:element> 
<xs:element name="cargarActividadesEconomicas" nillable="true" type="tns:cargarActividadesEconomicas"></xs:element> 
<xs:element name="cargarActividadesEconomicasResponse" nillable="true" type="tns:cargarActividadesEconomicasResponse"></xs:element> 
<xs:element name="cargarAmbitoEjercicio" nillable="true" type="tns:cargarAmbitoEjercicio"></xs:element> 
<xs:element name="cargarAmbitoEjercicioResponse" nillable="true" type="tns:cargarAmbitoEjercicioResponse"></xs:element> 
<xs:element name="cargarAreasActividad" nillable="true" type="tns:cargarAreasActividad"></xs:element> 
<xs:element name="cargarAreasActividadResponse" nillable="true" type="tns:cargarAreasActividadResponse"></xs:element> 
<xs:element name="cargarAreasTramitadora" nillable="true" type="tns:cargarAreasTramitadora"></xs:element> 
<xs:element name="cargarAreasTramitadoraResponse" nillable="true" type="tns:cargarAreasTramitadoraResponse"></xs:element> 
<xs:element name="cargarCanalesTramitacion" nillable="true" type="tns:cargarCanalesTramitacion"></xs:element> 
<xs:element name="cargarCanalesTramitacionResponse" nillable="true" type="tns:cargarCanalesTramitacionResponse"></xs:element> 
<xs:element name="cargarFormaIniciacion" nillable="true" type="tns:cargarFormaIniciacion"></xs:element> 
<xs:element name="cargarFormaIniciacionResponse" nillable="true" type="tns:cargarFormaIniciacionResponse"></xs:element> 
<xs:element name="cargarFormaJuridica" nillable="true" type="tns:cargarFormaJuridica"></xs:element> 
<xs:element name="cargarFormaJuridicaResponse" nillable="true" type="tns:cargarFormaJuridicaResponse"></xs:element> 
<xs:element name="cargarIdiomas" nillable="true" type="tns:cargarIdiomas"></xs:element> 
<xs:element name="cargarIdiomasResponse" nillable="true" type="tns:cargarIdiomasResponse"></xs:element> 
<xs:element name="cargarOrganizacionAsistenciaVUDS" nillable="true" type="tns:cargarOrganizacionAsistenciaVUDS"></xs:element> 
<xs:element name="cargarOrganizacionAsistenciaVUDSResponse" nillable="true" type="tns:cargarOrganizacionAsistenciaVUDSResponse"></xs:element> 
<xs:element name="cargarOrganizacionesAsistenciaAACC" nillable="true" type="tns:cargarOrganizacionesAsistenciaAACC"></xs:element> 
<xs:element name="cargarOrganizacionesAsistenciaAACCResponse" nillable="true" type="tns:cargarOrganizacionesAsistenciaAACCResponse"></xs:element> 
<xs:element name="cargarResultadosProceso" nillable="true" type="tns:cargarResultadosProceso"></xs:element> 
<xs:element name="cargarResultadosProcesoResponse" nillable="true" type="tns:cargarResultadosProcesoResponse"></xs:element> 
<xs:element name="cargarTipoEstablecimiento" nillable="true" type="tns:cargarTipoEstablecimiento"></xs:element> 
<xs:element name="cargarTipoEstablecimientoResponse" nillable="true" type="tns:cargarTipoEstablecimientoResponse"></xs:element> 
<xs:element name="cargarTipoSolicitante" nillable="true" type="tns:cargarTipoSolicitante"></xs:element> 
<xs:element name="cargarTipoSolicitanteResponse" nillable="true" type="tns:cargarTipoSolicitanteResponse"></xs:element> 
<xs:element name="cargarTipoViaReclamacion" nillable="true" type="tns:cargarTipoViaReclamacion"></xs:element> 
<xs:element name="cargarTipoViaReclamacionResponse" nillable="true" type="tns:cargarTipoViaReclamacionResponse"></xs:element> 
<xs:element name="cargarTramitesAACC" nillable="true" type="tns:cargarTramitesAACC"></xs:element> 
<xs:element name="cargarTramitesAACCResponse" nillable="true" type="tns:cargarTramitesAACCResponse"></xs:element> 
<xs:element name="cargarTramitesVuds" nillable="true" type="tns:cargarTramitesVuds"></xs:element> 
<xs:element name="cargarTramitesVudsResponse" nillable="true" type="tns:cargarTramitesVudsResponse"></xs:element> 
<xs:element name="cargarViaPrestacion" nillable="true" type="tns:cargarViaPrestacion"></xs:element> 
<xs:element name="cargarViaPrestacionResponse" nillable="true" type="tns:cargarViaPrestacionResponse"></xs:element> 
<xs:element name="cargarViaReclamacionVUDS" nillable="true" type="tns:cargarViaReclamacionVUDS"></xs:element> 
<xs:element name="cargarViaReclamacionVUDSResponse" nillable="true" type="tns:cargarViaReclamacionVUDSResponse"></xs:element> 
<xs:element name="cargarViasReclamacionAACC" nillable="true" type="tns:cargarViasReclamacionAACC"></xs:element> 
<xs:element name="cargarViasReclamacionAACCResponse" nillable="true" type="tns:cargarViasReclamacionAACCResponse"></xs:element> 
<xs:element name="consultarDetalleTramite" nillable="true" type="tns:consultarDetalleTramite"></xs:element> 
<xs:element name="consultarDetalleTramiteResponse" nillable="true" type="tns:consultarDetalleTramiteResponse"></xs:element> 
<xs:element name="consultarEstadoTramites" nillable="true" type="tns:consultarEstadoTramites"></xs:element> 
<xs:element name="consultarEstadoTramitesResponse" nillable="true" type="tns:consultarEstadoTramitesResponse"></xs:element> 
<xs:element name="consultarLocalizacion" nillable="true" type="tns:consultarLocalizacion"></xs:element> 
<xs:element name="consultarLocalizacionResponse" nillable="true" type="tns:consultarLocalizacionResponse"></xs:element> 
<xs:element name="consultarMapaTramite" nillable="true" type="tns:consultarMapaTramite"></xs:element> 
<xs:element name="consultarMapaTramiteResponse" nillable="true" type="tns:consultarMapaTramiteResponse"></xs:element> 
<xs:element name="consultarRechazosTramites" nillable="true" type="tns:consultarRechazosTramites"></xs:element> 
<xs:element name="consultarRechazosTramitesResponse" nillable="true" type="tns:consultarRechazosTramitesResponse"></xs:element> 
<xs:element name="consultarTramitePorAmbito" nillable="true" type="tns:consultarTramitePorAmbito"></xs:element> 
<xs:element name="consultarTramitePorAmbitoResponse" nillable="true" type="tns:consultarTramitePorAmbitoResponse"></xs:element> 
<xs:element name="guardarOrganizacionesAsistencia" nillable="true" type="tns:guardarOrganizacionesAsistencia"></xs:element> 
<xs:element name="guardarOrganizacionesAsistenciaResponse" nillable="true" type="tns:guardarOrganizacionesAsistenciaResponse"></xs:element> 
<xs:element name="guardarTramites" nillable="true" type="tns:guardarTramites"></xs:element> 
<xs:element name="guardarTramitesResponse" nillable="true" type="tns:guardarTramitesResponse"></xs:element> 
<xs:element name="guardarViasReclamacion" nillable="true" type="tns:guardarViasReclamacion"></xs:element> 
<xs:element name="guardarViasReclamacionResponse" nillable="true" type="tns:guardarViasReclamacionResponse"></xs:element> 
<xs:complexType name="consultarMapaTramite"> 
<xs:sequence> 
<xs:element minOccurs="0" name="TipoPrestador" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Agrupacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Actividad" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Localizacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Establecimiento" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="FormaJuridica" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="viaPrestacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="idioma"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionIdioma" type="xs:string"></xs:element> 
<xs:element name="idIdioma" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarMapaTramiteResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:MapaTramite"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="MapaTramite"> 
<xs:sequence> 
<xs:element minOccurs="0" name="tramite" type="tns:tramiteVuds"></xs:element> 
<xs:element minOccurs="0" name="predecesores" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tramiteVuds"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionTramiteVuds" type="xs:string"></xs:element> 
<xs:element name="idTramiteVuds" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarIdiomas"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarIdiomasResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAreasActividad"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="idAgrupacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAreasActividadResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:agrupacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="agrupacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionLarga" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idSector" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="idAgrupacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionesAsistenciaAACC"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionesAsistenciaAACCResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organizacionAsistencia"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="organizacionAsistencia"> 
<xs:sequence> 
<xs:element name="actividadEconomica" type="tns:actividadEconomica"></xs:element> 
<xs:element name="ambito" type="tns:ambito"></xs:element> 
<xs:element name="descripcionOrganizacionAsistencia" type="xs:string"></xs:element> 
<xs:element name="enlaceWeb" type="xs:string"></xs:element> 
<xs:element name="organismo" type="xs:string"></xs:element> 
<xs:element name="telefono" type="xs:string"></xs:element> 
<xs:element name="tipologia" type="tns:tipologiaOrganizaciones"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="actividadEconomica"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionActividadEconomiva" type="xs:string"></xs:element> 
<xs:element name="idActividadEconomica" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarViasReclamacion"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="viaReclamacion" nillable="true" type="tns:viaReclamacion"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="viaReclamacion"> 
<xs:sequence> 
<xs:element name="descripcion" type="xs:string"></xs:element> 
<xs:element name="tipoSolicitante" type="tns:tipoSolicitante"></xs:element> 
<xs:element name="tipoViaReclamacion" type="tns:tipoViaReclamacion"></xs:element> 
<xs:element minOccurs="0" name="plazo" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="donde" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="documentacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="formaIniciacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="organismoTramita" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="notificaciones" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="recursos" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="otrosDatosInteres" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tipoSolicitante"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idTipoSolicitante" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tipoViaReclamacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="descripcionLarga" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idTipoViaReclamacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarViasReclamacionResponse"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarOrganizacionesAsistencia"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="organizacionesAsistencia" nillable="true" type="tns:organizacionAsistencia"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarOrganizacionesAsistenciaResponse"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarResultadosProceso"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarResultadosProcesoResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:resultadoProceso"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="resultadoProceso"> 
<xs:sequence> 
<xs:element name="descripcionResultadoProceso" type="xs:string"></xs:element> 
<xs:element name="idResultadoProceso" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesAACC"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesAACCResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramite"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tramite"> 
<xs:sequence> 
<xs:element name="organismoCompetente" type="tns:organismoCompetente"></xs:element> 
<xs:element minOccurs="0" name="canalTramitacion" type="tns:canalTramitacion"></xs:element> 
<xs:element name="codigoIdentificador" type="xs:string"></xs:element> 
<xs:element name="denominacionTramite" type="xs:string"></xs:element> 
<xs:element name="descripcionTramite" type="xs:string"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="xs:string"></xs:element> 
<xs:element name="formaIniciacion" type="tns:formaIniciacion"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="formulario" nillable="true" type="tns:formulario"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="normativa" nillable="true" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="observaciones" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="plazosLegales" type="xs:string"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="requisitosPrevios" nillable="true" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="tasa" type="tns:tasa"></xs:element> 
<xs:element minOccurs="0" name="tiempoResolucion" type="xs:string"></xs:element> 
<xs:element name="tipoRegistro" type="tns:tipoRegistro"></xs:element> 
<xs:element name="tipologia" type="tns:tipologiaTramite"></xs:element> 
<xs:element name="tramiteVuds" type="tns:tramiteVuds"></xs:element> 
<xs:element minOccurs="0" name="enlaceConsulta" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="areaTramitadora" type="xs:string"></xs:element> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="resultado" nillable="true" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="organismoCompetente"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionOrganismo" type="xs:string"></xs:element> 
<xs:element name="idOrganismo" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="canalTramitacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionCanal" type="xs:string"></xs:element> 
<xs:element name="idCanal" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="formaIniciacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcionFormaIniciacion" type="xs:string"></xs:element> 
<xs:element name="idFormaIniciacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="formulario"> 
<xs:sequence> 
<xs:element name="descripcionFormulario" type="xs:string"></xs:element> 
<xs:element name="idCodificacion" type="xs:string"></xs:element> 
<xs:element name="urlDescarga" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tasa"> 
<xs:sequence> 
<xs:element name="codificacion" type="xs:string"></xs:element> 
<xs:element name="descripcionTasa" type="xs:string"></xs:element> 
<xs:element name="modoPago" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarEstadoTramites"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarEstadoTramitesResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:detalleTramite"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="detalleTramite"> 
<xs:sequence> 
<xs:element name="tramite" type="tns:tramite"></xs:element> 
<xs:element name="estado" type="tns:estadoTramite"></xs:element> 
<xs:element name="fechaCarga" type="xs:dateTime"></xs:element> 
<xs:element name="ultimaModificacion" type="xs:dateTime"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaJuridica"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="tipoEstablecimiento" type="xs:long"></xs:element> 
<xs:element name="viaPrestacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaJuridicaResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:formaJuriida"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="formaJuriida"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idFormaJuridica" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="numeroSocios" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="capitalMinimo" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="responsabilidad" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="regimenImpuesto" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesEconomicas"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesEconomicasResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:actividadEconomica"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesVuds"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTramitesVudsResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramiteVuds"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoViaReclamacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoViaReclamacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoViaReclamacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAmbitoEjercicio"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAmbitoEjercicioResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ambitoEjercicio"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="ambitoEjercicio"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idAmbEjercicio" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViaReclamacionVUDS"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="tipoSolicitante" type="xs:long"></xs:element> 
<xs:element name="tipoViaReclamacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViaReclamacionVUDSResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaReclamacionVUDS"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="viaReclamacionVUDS"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idViaReclamacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="tipoSolicitante" type="tns:tipoSolicitante"></xs:element> 
<xs:element minOccurs="0" name="tipoViaReclamacion" type="tns:tipoViaReclamacion"></xs:element> 
<xs:element minOccurs="0" name="plazo" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="donde" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="documentacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="formaIniciacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="organismoTramita" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="notificaciones" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="recursos" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="otrosDatosInteres" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViasReclamacionAACC"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViasReclamacionAACCResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaReclamacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarDetalleTramite"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="Localizacion" type="xs:long"></xs:element> 
<xs:element name="idTramite" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarDetalleTramiteResponse"> 
<xs:sequence> 
<xs:element minOccurs="0" name="return" type="tns:tramite"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViaPrestacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="tipoEstablecimiento" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarViaPrestacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:viaPrestacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="viaPrestacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idViaPrestacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarRechazosTramites"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarRechazosTramitesResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:rechazo"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="rechazo"> 
<xs:sequence> 
<xs:element name="tramite" type="tns:tramite"></xs:element> 
<xs:element name="motivo" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAreasTramitadora"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarAreasTramitadoraResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organismoCompetente"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarTramitePorAmbito"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element minOccurs="0" name="ambito" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarTramitePorAmbitoResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tramiteVuds"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoSolicitante"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoSolicitanteResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoSolicitante"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarTramites"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" name="tramite" type="tns:tramite"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="guardarTramitesResponse"> 
<xs:sequence></xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoEstablecimiento"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarTipoEstablecimientoResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipoEstablecimiento"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="tipoEstablecimiento"> 
<xs:sequence> 
<xs:element minOccurs="0" name="descripcion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idEstablecimiento" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaIniciacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarFormaIniciacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:formaIniciacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarCanalesTramitacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarCanalesTramitacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:canalTramitacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionAsistenciaVUDS"> 
<xs:sequence> 
<xs:element minOccurs="0" name="TipoSolicitante" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="AmbitoEjercicio" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="localizacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarOrganizacionAsistenciaVUDSResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:organizacionAsistenciaVUDS"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="organizacionAsistenciaVUDS"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idOrganizacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="tipologia" type="tns:tipologiaOrganizaciones"></xs:element> 
<xs:element minOccurs="0" name="ambito" type="tns:ambitoEjercicio"></xs:element> 
<xs:element minOccurs="0" name="tipoSolicitante" type="tns:tipoSolicitante"></xs:element> 
<xs:element minOccurs="0" name="enlaceWeb" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="telefono" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="descripcionOrganizacion" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="localizacion" type="tns:localizacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="localizacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idLocalizacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="idComunidadAutonoma" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="ComunidadAutonoma" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idProvincia" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Provincia" type="xs:string"></xs:element> 
<xs:element minOccurs="0" name="idPoblacion" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="Poblacion" type="xs:string"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesByAreaActividad"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element name="idAgrupacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="cargarActividadesByAreaActividadResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:actividadEconomica"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarLocalizacion"> 
<xs:sequence> 
<xs:element minOccurs="0" name="idioma" type="tns:idioma"></xs:element> 
<xs:element minOccurs="0" name="id_ccaa" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="id_provincia" type="xs:long"></xs:element> 
<xs:element minOccurs="0" name="id_poblacion" type="xs:long"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:complexType name="consultarLocalizacionResponse"> 
<xs:sequence> 
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:localizacion"></xs:element> 
</xs:sequence> 
</xs:complexType> 
<xs:simpleType name="ambito"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Estatal"></xs:enumeration> 
<xs:enumeration value="Europeo"></xs:enumeration> 
<xs:enumeration value="Municipal"></xs:enumeration> 
<xs:enumeration value="Provincial"></xs:enumeration> 
<xs:enumeration value="Regional"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipologiaOrganizaciones"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Asociacion"></xs:enumeration> 
<xs:enumeration value="Organizacion"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipoRegistro"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Alta"></xs:enumeration> 
<xs:enumeration value="Modificacion"></xs:enumeration> 
<xs:enumeration value="Baja"></xs:enumeration> 
<xs:enumeration value="Excepcion"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="tipologiaTramite"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Autorizacion"></xs:enumeration> 
<xs:enumeration value="Colegiacion el en Colegio"></xs:enumeration> 
<xs:enumeration value="Comunicacion Colegios"></xs:enumeration> 
<xs:enumeration value="Homologacion"></xs:enumeration> 
<xs:enumeration value="Inscripcion en el Colegio"></xs:enumeration> 
<xs:enumeration value="Inscripcion en el registro"></xs:enumeration> 
<xs:enumeration value="Inscripcion temporal en el registro"></xs:enumeration> 
<xs:enumeration value="Licencias"></xs:enumeration> 
<xs:enumeration value="Reconocimiento del Titulo"></xs:enumeration> 
<xs:enumeration value="Registro de la Sociedad Profesional en el Registro del Colegio Profesional"></xs:enumeration> 
<xs:enumeration value="Solicitud de admision a examen de carne profesional"></xs:enumeration> 
<xs:enumeration value="Solicitud de expedicion del carne profesional"></xs:enumeration> 
<xs:enumeration value="Otros"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
<xs:simpleType name="estadoTramite"> 
<xs:restriction base="xs:string"> 
<xs:enumeration value="Pendiente"></xs:enumeration> 
<xs:enumeration value="En_Curso"></xs:enumeration> 
<xs:enumeration value="Cargado"></xs:enumeration> 
<xs:enumeration value="Rechazado"></xs:enumeration> 
</xs:restriction> 
</xs:simpleType> 
</xs:schema> 
